=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class AvailabilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Block inventory
    # Create an inventory block (for groups, maintenance, etc.)
    # @param create_inventory_block_request [CreateInventoryBlockRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInventoryBlock201Response]
    def create_inventory_block(create_inventory_block_request, opts = {})
      data, _status_code, _headers = create_inventory_block_with_http_info(create_inventory_block_request, opts)
      data
    end

    # Block inventory
    # Create an inventory block (for groups, maintenance, etc.)
    # @param create_inventory_block_request [CreateInventoryBlockRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInventoryBlock201Response, Integer, Hash)>] CreateInventoryBlock201Response data, response status code and response headers
    def create_inventory_block_with_http_info(create_inventory_block_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.create_inventory_block ...'
      end
      # verify the required parameter 'create_inventory_block_request' is set
      if @api_client.config.client_side_validation && create_inventory_block_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_inventory_block_request' when calling AvailabilityApi.create_inventory_block"
      end
      # resource path
      local_var_path = '/availability/block'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_inventory_block_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInventoryBlock201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.create_inventory_block",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#create_inventory_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove inventory block
    # Remove an existing inventory block
    # @param block_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_inventory_block(block_id, opts = {})
      delete_inventory_block_with_http_info(block_id, opts)
      nil
    end

    # Remove inventory block
    # Remove an existing inventory block
    # @param block_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_inventory_block_with_http_info(block_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.delete_inventory_block ...'
      end
      # verify the required parameter 'block_id' is set
      if @api_client.config.client_side_validation && block_id.nil?
        fail ArgumentError, "Missing the required parameter 'block_id' when calling AvailabilityApi.delete_inventory_block"
      end
      # resource path
      local_var_path = '/availability/block/{blockId}'.sub('{' + 'blockId' + '}', CGI.escape(block_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.delete_inventory_block",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#delete_inventory_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get availability calendar
    # Retrieve availability calendar for specified date range
    # @param property_id [String] 
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :unit_type_id 
    # @return [AvailabilityCalendar]
    def get_availability_calendar(property_id, start_date, end_date, opts = {})
      data, _status_code, _headers = get_availability_calendar_with_http_info(property_id, start_date, end_date, opts)
      data
    end

    # Get availability calendar
    # Retrieve availability calendar for specified date range
    # @param property_id [String] 
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :unit_type_id 
    # @return [Array<(AvailabilityCalendar, Integer, Hash)>] AvailabilityCalendar data, response status code and response headers
    def get_availability_calendar_with_http_info(property_id, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.get_availability_calendar ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling AvailabilityApi.get_availability_calendar"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling AvailabilityApi.get_availability_calendar"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling AvailabilityApi.get_availability_calendar"
      end
      # resource path
      local_var_path = '/availability/calendar'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = property_id
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'unitTypeId'] = opts[:'unit_type_id'] if !opts[:'unit_type_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilityCalendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.get_availability_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#get_availability_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search availability
    # Search for available inventory across properties based on criteria.  This is the primary endpoint for booking engines and search interfaces.  **Performance:** Optimized for sub-200ms response time  **Caching:** Results cached for 5 minutes 
    # @param search_availability_request [SearchAvailabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SearchAvailability200Response]
    def search_availability(search_availability_request, opts = {})
      data, _status_code, _headers = search_availability_with_http_info(search_availability_request, opts)
      data
    end

    # Search availability
    # Search for available inventory across properties based on criteria.  This is the primary endpoint for booking engines and search interfaces.  **Performance:** Optimized for sub-200ms response time  **Caching:** Results cached for 5 minutes 
    # @param search_availability_request [SearchAvailabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchAvailability200Response, Integer, Hash)>] SearchAvailability200Response data, response status code and response headers
    def search_availability_with_http_info(search_availability_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.search_availability ...'
      end
      # verify the required parameter 'search_availability_request' is set
      if @api_client.config.client_side_validation && search_availability_request.nil?
        fail ArgumentError, "Missing the required parameter 'search_availability_request' when calling AvailabilityApi.search_availability"
      end
      # resource path
      local_var_path = '/availability/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(search_availability_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SearchAvailability200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.search_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#search_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update availability calendar (bulk)
    # Bulk update availability for multiple dates
    # @param update_availability_calendar_request [UpdateAvailabilityCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAvailabilityCalendar200Response]
    def update_availability_calendar(update_availability_calendar_request, opts = {})
      data, _status_code, _headers = update_availability_calendar_with_http_info(update_availability_calendar_request, opts)
      data
    end

    # Update availability calendar (bulk)
    # Bulk update availability for multiple dates
    # @param update_availability_calendar_request [UpdateAvailabilityCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAvailabilityCalendar200Response, Integer, Hash)>] UpdateAvailabilityCalendar200Response data, response status code and response headers
    def update_availability_calendar_with_http_info(update_availability_calendar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.update_availability_calendar ...'
      end
      # verify the required parameter 'update_availability_calendar_request' is set
      if @api_client.config.client_side_validation && update_availability_calendar_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_availability_calendar_request' when calling AvailabilityApi.update_availability_calendar"
      end
      # resource path
      local_var_path = '/availability/calendar'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_availability_calendar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAvailabilityCalendar200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.update_availability_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#update_availability_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
