=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add adjustment to folio
    # Add an adjustment (discount, comp, etc.) to a folio
    # @param folio_id [String] 
    # @param add_folio_adjustment_request [AddFolioAdjustmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LineItem]
    def add_folio_adjustment(folio_id, add_folio_adjustment_request, opts = {})
      data, _status_code, _headers = add_folio_adjustment_with_http_info(folio_id, add_folio_adjustment_request, opts)
      data
    end

    # Add adjustment to folio
    # Add an adjustment (discount, comp, etc.) to a folio
    # @param folio_id [String] 
    # @param add_folio_adjustment_request [AddFolioAdjustmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LineItem, Integer, Hash)>] LineItem data, response status code and response headers
    def add_folio_adjustment_with_http_info(folio_id, add_folio_adjustment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_folio_adjustment ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.add_folio_adjustment"
      end
      # verify the required parameter 'add_folio_adjustment_request' is set
      if @api_client.config.client_side_validation && add_folio_adjustment_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_folio_adjustment_request' when calling BillingApi.add_folio_adjustment"
      end
      # resource path
      local_var_path = '/folios/{folioId}/adjustments'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_folio_adjustment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LineItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.add_folio_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_folio_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add charge to folio
    # Add a new charge to a guest folio for services, amenities, or incidentals
    # @param folio_id [String] 
    # @param add_folio_charge_request [AddFolioChargeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def add_folio_charge(folio_id, add_folio_charge_request, opts = {})
      data, _status_code, _headers = add_folio_charge_with_http_info(folio_id, add_folio_charge_request, opts)
      data
    end

    # Add charge to folio
    # Add a new charge to a guest folio for services, amenities, or incidentals
    # @param folio_id [String] 
    # @param add_folio_charge_request [AddFolioChargeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def add_folio_charge_with_http_info(folio_id, add_folio_charge_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_folio_charge ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.add_folio_charge"
      end
      # verify the required parameter 'add_folio_charge_request' is set
      if @api_client.config.client_side_validation && add_folio_charge_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_folio_charge_request' when calling BillingApi.add_folio_charge"
      end
      # resource path
      local_var_path = '/folios/{folioId}/charges'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_folio_charge_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.add_folio_charge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_folio_charge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add line item to folio
    # Add a line item to a folio
    # @param folio_id [String] 
    # @param line_item [LineItem] 
    # @param [Hash] opts the optional parameters
    # @return [LineItem]
    def add_folio_line_item(folio_id, line_item, opts = {})
      data, _status_code, _headers = add_folio_line_item_with_http_info(folio_id, line_item, opts)
      data
    end

    # Add line item to folio
    # Add a line item to a folio
    # @param folio_id [String] 
    # @param line_item [LineItem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LineItem, Integer, Hash)>] LineItem data, response status code and response headers
    def add_folio_line_item_with_http_info(folio_id, line_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_folio_line_item ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.add_folio_line_item"
      end
      # verify the required parameter 'line_item' is set
      if @api_client.config.client_side_validation && line_item.nil?
        fail ArgumentError, "Missing the required parameter 'line_item' when calling BillingApi.add_folio_line_item"
      end
      # resource path
      local_var_path = '/folios/{folioId}/line-items'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(line_item)

      # return_type
      return_type = opts[:debug_return_type] || 'LineItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.add_folio_line_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_folio_line_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch payment processing
    # Process multiple payments in a single batch
    # @param batch_process_payments_request [BatchProcessPaymentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchProcessPayments200Response]
    def batch_process_payments(batch_process_payments_request, opts = {})
      data, _status_code, _headers = batch_process_payments_with_http_info(batch_process_payments_request, opts)
      data
    end

    # Batch payment processing
    # Process multiple payments in a single batch
    # @param batch_process_payments_request [BatchProcessPaymentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchProcessPayments200Response, Integer, Hash)>] BatchProcessPayments200Response data, response status code and response headers
    def batch_process_payments_with_http_info(batch_process_payments_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.batch_process_payments ...'
      end
      # verify the required parameter 'batch_process_payments_request' is set
      if @api_client.config.client_side_validation && batch_process_payments_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_process_payments_request' when calling BillingApi.batch_process_payments"
      end
      # resource path
      local_var_path = '/payments/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_process_payments_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchProcessPayments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.batch_process_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#batch_process_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Capture payment
    # Capture a pre-authorized payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CapturePaymentRequest] :capture_payment_request 
    # @return [Payment]
    def capture_payment(payment_id, opts = {})
      data, _status_code, _headers = capture_payment_with_http_info(payment_id, opts)
      data
    end

    # Capture payment
    # Capture a pre-authorized payment
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CapturePaymentRequest] :capture_payment_request 
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def capture_payment_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.capture_payment ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling BillingApi.capture_payment"
      end
      # resource path
      local_var_path = '/payments/{paymentId}/capture'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'capture_payment_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.capture_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#capture_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close folio
    # Close a folio after final settlement
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Folio]
    def close_folio(folio_id, opts = {})
      data, _status_code, _headers = close_folio_with_http_info(folio_id, opts)
      data
    end

    # Close folio
    # Close a folio after final settlement
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Folio, Integer, Hash)>] Folio data, response status code and response headers
    def close_folio_with_http_info(folio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.close_folio ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.close_folio"
      end
      # resource path
      local_var_path = '/folios/{folioId}/close'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Folio'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.close_folio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#close_folio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create folio
    # Create a new guest folio for billing and charge management during a stay
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_folio(body, opts = {})
      data, _status_code, _headers = create_folio_with_http_info(body, opts)
      data
    end

    # Create folio
    # Create a new guest folio for billing and charge management during a stay
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_folio_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_folio ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.create_folio"
      end
      # resource path
      local_var_path = '/folios'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.create_folio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_folio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process payment
    # Process a new payment for a folio using credit card, cash, or other payment methods
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_payment(create_payment_request, opts = {})
      data, _status_code, _headers = create_payment_with_http_info(create_payment_request, opts)
      data
    end

    # Process payment
    # Process a new payment for a folio using credit card, cash, or other payment methods
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_payment_with_http_info(create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_payment ...'
      end
      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling BillingApi.create_payment"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.create_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dispute folio
    # Create a dispute for a folio
    # @param folio_id [String] 
    # @param dispute_folio_request [DisputeFolioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Folio]
    def dispute_folio(folio_id, dispute_folio_request, opts = {})
      data, _status_code, _headers = dispute_folio_with_http_info(folio_id, dispute_folio_request, opts)
      data
    end

    # Dispute folio
    # Create a dispute for a folio
    # @param folio_id [String] 
    # @param dispute_folio_request [DisputeFolioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Folio, Integer, Hash)>] Folio data, response status code and response headers
    def dispute_folio_with_http_info(folio_id, dispute_folio_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.dispute_folio ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.dispute_folio"
      end
      # verify the required parameter 'dispute_folio_request' is set
      if @api_client.config.client_side_validation && dispute_folio_request.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_folio_request' when calling BillingApi.dispute_folio"
      end
      # resource path
      local_var_path = '/folios/{folioId}/dispute'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispute_folio_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Folio'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.dispute_folio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#dispute_folio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get folio details
    # Retrieve complete folio details including all charges, payments, adjustments, and current balance
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_folio(folio_id, opts = {})
      data, _status_code, _headers = get_folio_with_http_info(folio_id, opts)
      data
    end

    # Get folio details
    # Retrieve complete folio details including all charges, payments, adjustments, and current balance
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_folio_with_http_info(folio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_folio ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.get_folio"
      end
      # resource path
      local_var_path = '/folios/{folioId}'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_folio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_folio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download folio PDF
    # Download folio as PDF document
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_folio_pdf(folio_id, opts = {})
      data, _status_code, _headers = get_folio_pdf_with_http_info(folio_id, opts)
      data
    end

    # Download folio PDF
    # Download folio as PDF document
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_folio_pdf_with_http_info(folio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_folio_pdf ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.get_folio_pdf"
      end
      # resource path
      local_var_path = '/folios/{folioId}/pdf'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_folio_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_folio_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get payment details
    # Retrieve complete payment details including amount, method, status, and transaction information
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_payment(payment_id, opts = {})
      data, _status_code, _headers = get_payment_with_http_info(payment_id, opts)
      data
    end

    # Get payment details
    # Retrieve complete payment details including amount, method, status, and transaction information
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_payment_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_payment ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling BillingApi.get_payment"
      end
      # resource path
      local_var_path = '/payments/{paymentId}'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get payment receipt
    # Retrieve payment receipt
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_payment_receipt(payment_id, opts = {})
      data, _status_code, _headers = get_payment_receipt_with_http_info(payment_id, opts)
      data
    end

    # Get payment receipt
    # Retrieve payment receipt
    # @param payment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_payment_receipt_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_payment_receipt ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling BillingApi.get_payment_receipt"
      end
      # resource path
      local_var_path = '/payments/{paymentId}/receipt'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_payment_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_payment_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get revenue reconciliation
    # Retrieve revenue reconciliation data
    # @param date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @return [GetRevenueReconciliation200Response]
    def get_revenue_reconciliation(date, opts = {})
      data, _status_code, _headers = get_revenue_reconciliation_with_http_info(date, opts)
      data
    end

    # Get revenue reconciliation
    # Retrieve revenue reconciliation data
    # @param date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @return [Array<(GetRevenueReconciliation200Response, Integer, Hash)>] GetRevenueReconciliation200Response data, response status code and response headers
    def get_revenue_reconciliation_with_http_info(date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_revenue_reconciliation ...'
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling BillingApi.get_revenue_reconciliation"
      end
      # resource path
      local_var_path = '/revenue/reconciliation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRevenueReconciliation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_revenue_reconciliation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_revenue_reconciliation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get revenue reports
    # Retrieve revenue reports with various breakdowns
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :group_by 
    # @return [RevenueReport]
    def get_revenue_reports(start_date, end_date, opts = {})
      data, _status_code, _headers = get_revenue_reports_with_http_info(start_date, end_date, opts)
      data
    end

    # Get revenue reports
    # Retrieve revenue reports with various breakdowns
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :group_by 
    # @return [Array<(RevenueReport, Integer, Hash)>] RevenueReport data, response status code and response headers
    def get_revenue_reports_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_revenue_reports ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling BillingApi.get_revenue_reports"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling BillingApi.get_revenue_reports"
      end
      allowable_values = ["DAY", "WEEK", "MONTH", "PROPERTY", "CATEGORY"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/revenue/reports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'groupBy'] = opts[:'group_by'] if !opts[:'group_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevenueReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.get_revenue_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_revenue_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List folios
    # List all guest folios with filtering by property, guest, status, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :guest_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_folios(opts = {})
      data, _status_code, _headers = list_folios_with_http_info(opts)
      data
    end

    # List folios
    # List all guest folios with filtering by property, guest, status, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :guest_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_folios_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.list_folios ...'
      end
      allowable_values = ["OPEN", "CLOSED", "SETTLED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.list_folios, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.list_folios, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/folios'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'guestId'] = opts[:'guest_id'] if !opts[:'guest_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.list_folios",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#list_folios\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List payments
    # List all payments with filtering options
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folio_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListPayments200Response]
    def list_payments(opts = {})
      data, _status_code, _headers = list_payments_with_http_info(opts)
      data
    end

    # List payments
    # List all payments with filtering options
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folio_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListPayments200Response, Integer, Hash)>] ListPayments200Response data, response status code and response headers
    def list_payments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.list_payments ...'
      end
      allowable_values = ["PENDING", "COMPLETED", "FAILED", "REFUNDED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.list_payments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.list_payments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'folioId'] = opts[:'folio_id'] if !opts[:'folio_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPayments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.list_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#list_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refund payment
    # Process a refund for a payment
    # @param payment_id [String] 
    # @param refund_payment_request [RefundPaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def refund_payment(payment_id, refund_payment_request, opts = {})
      data, _status_code, _headers = refund_payment_with_http_info(payment_id, refund_payment_request, opts)
      data
    end

    # Refund payment
    # Process a refund for a payment
    # @param payment_id [String] 
    # @param refund_payment_request [RefundPaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def refund_payment_with_http_info(payment_id, refund_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.refund_payment ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling BillingApi.refund_payment"
      end
      # verify the required parameter 'refund_payment_request' is set
      if @api_client.config.client_side_validation && refund_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'refund_payment_request' when calling BillingApi.refund_payment"
      end
      # resource path
      local_var_path = '/payments/{paymentId}/refund'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refund_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.refund_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#refund_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove line item from folio
    # Remove a line item from a folio
    # @param folio_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_folio_line_item(folio_id, item_id, opts = {})
      remove_folio_line_item_with_http_info(folio_id, item_id, opts)
      nil
    end

    # Remove line item from folio
    # Remove a line item from a folio
    # @param folio_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_folio_line_item_with_http_info(folio_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.remove_folio_line_item ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.remove_folio_line_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling BillingApi.remove_folio_line_item"
      end
      # resource path
      local_var_path = '/folios/{folioId}/line-items/{itemId}'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.remove_folio_line_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#remove_folio_line_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reopen folio
    # Reopen a closed folio for additional charges
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [Folio]
    def reopen_folio(folio_id, opts = {})
      data, _status_code, _headers = reopen_folio_with_http_info(folio_id, opts)
      data
    end

    # Reopen folio
    # Reopen a closed folio for additional charges
    # @param folio_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [Array<(Folio, Integer, Hash)>] Folio data, response status code and response headers
    def reopen_folio_with_http_info(folio_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.reopen_folio ...'
      end
      # verify the required parameter 'folio_id' is set
      if @api_client.config.client_side_validation && folio_id.nil?
        fail ArgumentError, "Missing the required parameter 'folio_id' when calling BillingApi.reopen_folio"
      end
      # resource path
      local_var_path = '/folios/{folioId}/reopen'.sub('{' + 'folioId' + '}', CGI.escape(folio_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_service_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Folio'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"BillingApi.reopen_folio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#reopen_folio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
