=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class ComplianceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload certification
    # Upload a new property certification
    # @param property_certification [PropertyCertification] 
    # @param [Hash] opts the optional parameters
    # @return [PropertyCertification]
    def create_certification(property_certification, opts = {})
      data, _status_code, _headers = create_certification_with_http_info(property_certification, opts)
      data
    end

    # Upload certification
    # Upload a new property certification
    # @param property_certification [PropertyCertification] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PropertyCertification, Integer, Hash)>] PropertyCertification data, response status code and response headers
    def create_certification_with_http_info(property_certification, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.create_certification ...'
      end
      # verify the required parameter 'property_certification' is set
      if @api_client.config.client_side_validation && property_certification.nil?
        fail ArgumentError, "Missing the required parameter 'property_certification' when calling ComplianceApi.create_certification"
      end
      # resource path
      local_var_path = '/compliance/certifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(property_certification)

      # return_type
      return_type = opts[:debug_return_type] || 'PropertyCertification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.create_certification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#create_certification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate compliance report
    # Generate a new compliance report for regulatory requirements, audits, or certifications
    # @param create_compliance_report_request [CreateComplianceReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_compliance_report(create_compliance_report_request, opts = {})
      data, _status_code, _headers = create_compliance_report_with_http_info(create_compliance_report_request, opts)
      data
    end

    # Generate compliance report
    # Generate a new compliance report for regulatory requirements, audits, or certifications
    # @param create_compliance_report_request [CreateComplianceReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_compliance_report_with_http_info(create_compliance_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.create_compliance_report ...'
      end
      # verify the required parameter 'create_compliance_report_request' is set
      if @api_client.config.client_side_validation && create_compliance_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_compliance_report_request' when calling ComplianceApi.create_compliance_report"
      end
      # resource path
      local_var_path = '/compliance/reports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_compliance_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.create_compliance_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#create_compliance_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete guest data (GDPR)
    # Delete all data for a guest per GDPR right to be forgotten
    # @param delete_guest_data_request [DeleteGuestDataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteGuestData200Response]
    def delete_guest_data(delete_guest_data_request, opts = {})
      data, _status_code, _headers = delete_guest_data_with_http_info(delete_guest_data_request, opts)
      data
    end

    # Delete guest data (GDPR)
    # Delete all data for a guest per GDPR right to be forgotten
    # @param delete_guest_data_request [DeleteGuestDataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteGuestData200Response, Integer, Hash)>] DeleteGuestData200Response data, response status code and response headers
    def delete_guest_data_with_http_info(delete_guest_data_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.delete_guest_data ...'
      end
      # verify the required parameter 'delete_guest_data_request' is set
      if @api_client.config.client_side_validation && delete_guest_data_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_guest_data_request' when calling ComplianceApi.delete_guest_data"
      end
      # resource path
      local_var_path = '/compliance/gdpr/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_guest_data_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteGuestData200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.delete_guest_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#delete_guest_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export guest data (GDPR)
    # Export all data for a guest per GDPR requirements
    # @param export_guest_data_request [ExportGuestDataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExportGuestData200Response]
    def export_guest_data(export_guest_data_request, opts = {})
      data, _status_code, _headers = export_guest_data_with_http_info(export_guest_data_request, opts)
      data
    end

    # Export guest data (GDPR)
    # Export all data for a guest per GDPR requirements
    # @param export_guest_data_request [ExportGuestDataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExportGuestData200Response, Integer, Hash)>] ExportGuestData200Response data, response status code and response headers
    def export_guest_data_with_http_info(export_guest_data_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.export_guest_data ...'
      end
      # verify the required parameter 'export_guest_data_request' is set
      if @api_client.config.client_side_validation && export_guest_data_request.nil?
        fail ArgumentError, "Missing the required parameter 'export_guest_data_request' when calling ComplianceApi.export_guest_data"
      end
      # resource path
      local_var_path = '/compliance/gdpr/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(export_guest_data_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExportGuestData200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.export_guest_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#export_guest_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audit log details
    # Retrieve details of a specific audit log entry
    # @param log_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuditLog]
    def get_audit_log(log_id, opts = {})
      data, _status_code, _headers = get_audit_log_with_http_info(log_id, opts)
      data
    end

    # Get audit log details
    # Retrieve details of a specific audit log entry
    # @param log_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditLog, Integer, Hash)>] AuditLog data, response status code and response headers
    def get_audit_log_with_http_info(log_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_audit_log ...'
      end
      # verify the required parameter 'log_id' is set
      if @api_client.config.client_side_validation && log_id.nil?
        fail ArgumentError, "Missing the required parameter 'log_id' when calling ComplianceApi.get_audit_log"
      end
      # resource path
      local_var_path = '/audit/logs/{logId}'.sub('{' + 'logId' + '}', CGI.escape(log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuditLog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_audit_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_audit_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audit logs
    # Retrieve audit trail of system activities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entity_type 
    # @option opts [String] :entity_id 
    # @option opts [String] :action 
    # @option opts [String] :user_id 
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetAuditLogs200Response]
    def get_audit_logs(opts = {})
      data, _status_code, _headers = get_audit_logs_with_http_info(opts)
      data
    end

    # Get audit logs
    # Retrieve audit trail of system activities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entity_type 
    # @option opts [String] :entity_id 
    # @option opts [String] :action 
    # @option opts [String] :user_id 
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetAuditLogs200Response, Integer, Hash)>] GetAuditLogs200Response data, response status code and response headers
    def get_audit_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_audit_logs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.get_audit_logs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.get_audit_logs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/audit/logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'entityType'] = opts[:'entity_type'] if !opts[:'entity_type'].nil?
      query_params[:'entityId'] = opts[:'entity_id'] if !opts[:'entity_id'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAuditLogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_audit_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance report
    # Retrieve a specific compliance report by ID
    # @param report_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ComplianceReport]
    def get_compliance_report(report_id, opts = {})
      data, _status_code, _headers = get_compliance_report_with_http_info(report_id, opts)
      data
    end

    # Get compliance report
    # Retrieve a specific compliance report by ID
    # @param report_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComplianceReport, Integer, Hash)>] ComplianceReport data, response status code and response headers
    def get_compliance_report_with_http_info(report_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_compliance_report ...'
      end
      # verify the required parameter 'report_id' is set
      if @api_client.config.client_side_validation && report_id.nil?
        fail ArgumentError, "Missing the required parameter 'report_id' when calling ComplianceApi.get_compliance_report"
      end
      # resource path
      local_var_path = '/compliance/reports/{reportId}'.sub('{' + 'reportId' + '}', CGI.escape(report_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_compliance_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_compliance_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get guest registry report
    # Get guest registry report for compliance purposes
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @return [GetGuestRegistry200Response]
    def get_guest_registry(start_date, end_date, opts = {})
      data, _status_code, _headers = get_guest_registry_with_http_info(start_date, end_date, opts)
      data
    end

    # Get guest registry report
    # Get guest registry report for compliance purposes
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @return [Array<(GetGuestRegistry200Response, Integer, Hash)>] GetGuestRegistry200Response data, response status code and response headers
    def get_guest_registry_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_guest_registry ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ComplianceApi.get_guest_registry"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ComplianceApi.get_guest_registry"
      end
      # resource path
      local_var_path = '/compliance/guest-registry'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestRegistry200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_guest_registry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_guest_registry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tax report
    # Get tax report for compliance and filing
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :tax_type 
    # @return [GetTaxReport200Response]
    def get_tax_report(start_date, end_date, opts = {})
      data, _status_code, _headers = get_tax_report_with_http_info(start_date, end_date, opts)
      data
    end

    # Get tax report
    # Get tax report for compliance and filing
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :tax_type 
    # @return [Array<(GetTaxReport200Response, Integer, Hash)>] GetTaxReport200Response data, response status code and response headers
    def get_tax_report_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_tax_report ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ComplianceApi.get_tax_report"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ComplianceApi.get_tax_report"
      end
      allowable_values = ["OCCUPANCY", "SALES", "VAT"]
      if @api_client.config.client_side_validation && opts[:'tax_type'] && !allowable_values.include?(opts[:'tax_type'])
        fail ArgumentError, "invalid value for \"tax_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/compliance/tax-report'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'taxType'] = opts[:'tax_type'] if !opts[:'tax_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaxReport200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_tax_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_tax_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List certifications
    # List all property certifications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListCertifications200Response]
    def list_certifications(opts = {})
      data, _status_code, _headers = list_certifications_with_http_info(opts)
      data
    end

    # List certifications
    # List all property certifications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListCertifications200Response, Integer, Hash)>] ListCertifications200Response data, response status code and response headers
    def list_certifications_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.list_certifications ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.list_certifications, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.list_certifications, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/compliance/certifications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCertifications200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.list_certifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#list_certifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List compliance reports
    # List all compliance reports with filtering by type, date range, and regulatory requirement
    # @param [Hash] opts the optional parameters
    # @option opts [String] :report_type 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_compliance_reports(opts = {})
      data, _status_code, _headers = list_compliance_reports_with_http_info(opts)
      data
    end

    # List compliance reports
    # List all compliance reports with filtering by type, date range, and regulatory requirement
    # @param [Hash] opts the optional parameters
    # @option opts [String] :report_type 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_compliance_reports_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.list_compliance_reports ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.list_compliance_reports, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ComplianceApi.list_compliance_reports, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/compliance/reports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reportType'] = opts[:'report_type'] if !opts[:'report_type'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.list_compliance_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#list_compliance_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search audit logs
    # Advanced search of audit logs with complex criteria
    # @param search_audit_logs_request [SearchAuditLogsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<AuditLog>]
    def search_audit_logs(search_audit_logs_request, opts = {})
      data, _status_code, _headers = search_audit_logs_with_http_info(search_audit_logs_request, opts)
      data
    end

    # Search audit logs
    # Advanced search of audit logs with complex criteria
    # @param search_audit_logs_request [SearchAuditLogsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AuditLog>, Integer, Hash)>] Array<AuditLog> data, response status code and response headers
    def search_audit_logs_with_http_info(search_audit_logs_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.search_audit_logs ...'
      end
      # verify the required parameter 'search_audit_logs_request' is set
      if @api_client.config.client_side_validation && search_audit_logs_request.nil?
        fail ArgumentError, "Missing the required parameter 'search_audit_logs_request' when calling ComplianceApi.search_audit_logs"
      end
      # resource path
      local_var_path = '/audit/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(search_audit_logs_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AuditLog>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ComplianceApi.search_audit_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#search_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
