=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class FeedbackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get feedback details
    # Retrieve details of specific feedback
    # @param feedback_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Feedback]
    def get_feedback(feedback_id, opts = {})
      data, _status_code, _headers = get_feedback_with_http_info(feedback_id, opts)
      data
    end

    # Get feedback details
    # Retrieve details of specific feedback
    # @param feedback_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Feedback, Integer, Hash)>] Feedback data, response status code and response headers
    def get_feedback_with_http_info(feedback_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.get_feedback ...'
      end
      # verify the required parameter 'feedback_id' is set
      if @api_client.config.client_side_validation && feedback_id.nil?
        fail ArgumentError, "Missing the required parameter 'feedback_id' when calling FeedbackApi.get_feedback"
      end
      # resource path
      local_var_path = '/feedback/{feedbackId}'.sub('{' + 'feedbackId' + '}', CGI.escape(feedback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Feedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.get_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#get_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get NPS metrics
    # Get Net Promoter Score metrics and trends
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [GetNPSMetrics200Response]
    def get_nps_metrics(opts = {})
      data, _status_code, _headers = get_nps_metrics_with_http_info(opts)
      data
    end

    # Get NPS metrics
    # Get Net Promoter Score metrics and trends
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [Array<(GetNPSMetrics200Response, Integer, Hash)>] GetNPSMetrics200Response data, response status code and response headers
    def get_nps_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.get_nps_metrics ...'
      end
      # resource path
      local_var_path = '/feedback/nps'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNPSMetrics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.get_nps_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#get_nps_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post-stay survey
    # Retrieve post-stay survey for a stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Survey]
    def get_post_stay_survey(stay_id, opts = {})
      data, _status_code, _headers = get_post_stay_survey_with_http_info(stay_id, opts)
      data
    end

    # Get post-stay survey
    # Retrieve post-stay survey for a stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Survey, Integer, Hash)>] Survey data, response status code and response headers
    def get_post_stay_survey_with_http_info(stay_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.get_post_stay_survey ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling FeedbackApi.get_post_stay_survey"
      end
      # resource path
      local_var_path = '/feedback/surveys/{stayId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Survey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.get_post_stay_survey",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#get_post_stay_survey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate service recovery
    # Initiate service recovery actions for feedback
    # @param feedback_id [String] 
    # @param initiate_service_recovery_request [InitiateServiceRecoveryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Feedback]
    def initiate_service_recovery(feedback_id, initiate_service_recovery_request, opts = {})
      data, _status_code, _headers = initiate_service_recovery_with_http_info(feedback_id, initiate_service_recovery_request, opts)
      data
    end

    # Initiate service recovery
    # Initiate service recovery actions for feedback
    # @param feedback_id [String] 
    # @param initiate_service_recovery_request [InitiateServiceRecoveryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Feedback, Integer, Hash)>] Feedback data, response status code and response headers
    def initiate_service_recovery_with_http_info(feedback_id, initiate_service_recovery_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.initiate_service_recovery ...'
      end
      # verify the required parameter 'feedback_id' is set
      if @api_client.config.client_side_validation && feedback_id.nil?
        fail ArgumentError, "Missing the required parameter 'feedback_id' when calling FeedbackApi.initiate_service_recovery"
      end
      # verify the required parameter 'initiate_service_recovery_request' is set
      if @api_client.config.client_side_validation && initiate_service_recovery_request.nil?
        fail ArgumentError, "Missing the required parameter 'initiate_service_recovery_request' when calling FeedbackApi.initiate_service_recovery"
      end
      # resource path
      local_var_path = '/feedback/{feedbackId}/service-recovery'.sub('{' + 'feedbackId' + '}', CGI.escape(feedback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initiate_service_recovery_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Feedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.initiate_service_recovery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#initiate_service_recovery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List guest feedback
    # Retrieve all guest feedback
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :property_id 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @return [ListFeedback200Response]
    def list_feedback(opts = {})
      data, _status_code, _headers = list_feedback_with_http_info(opts)
      data
    end

    # List guest feedback
    # Retrieve all guest feedback
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :property_id 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @return [Array<(ListFeedback200Response, Integer, Hash)>] ListFeedback200Response data, response status code and response headers
    def list_feedback_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.list_feedback ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FeedbackApi.list_feedback, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FeedbackApi.list_feedback, must be greater than or equal to 1.'
      end

      allowable_values = ["COMPLAINT", "COMPLIMENT", "SUGGESTION", "GENERAL"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["SUBMITTED", "ACKNOWLEDGED", "IN_PROGRESS", "RESOLVED", "CLOSED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/feedback'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListFeedback200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.list_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#list_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List third-party reviews
    # Retrieve third-party reviews from OTAs and review sites
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :source 
    # @return [ListReviews200Response]
    def list_reviews(opts = {})
      data, _status_code, _headers = list_reviews_with_http_info(opts)
      data
    end

    # List third-party reviews
    # Retrieve third-party reviews from OTAs and review sites
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :source 
    # @return [Array<(ListReviews200Response, Integer, Hash)>] ListReviews200Response data, response status code and response headers
    def list_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.list_reviews ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FeedbackApi.list_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FeedbackApi.list_reviews, must be greater than or equal to 1.'
      end

      allowable_values = ["GOOGLE", "TRIPADVISOR", "BOOKING_COM", "EXPEDIA", "AIRBNB"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/feedback/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListReviews200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.list_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#list_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Respond to feedback
    # Add a response to guest feedback
    # @param feedback_id [String] 
    # @param respond_to_feedback_request [RespondToFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Feedback]
    def respond_to_feedback(feedback_id, respond_to_feedback_request, opts = {})
      data, _status_code, _headers = respond_to_feedback_with_http_info(feedback_id, respond_to_feedback_request, opts)
      data
    end

    # Respond to feedback
    # Add a response to guest feedback
    # @param feedback_id [String] 
    # @param respond_to_feedback_request [RespondToFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Feedback, Integer, Hash)>] Feedback data, response status code and response headers
    def respond_to_feedback_with_http_info(feedback_id, respond_to_feedback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.respond_to_feedback ...'
      end
      # verify the required parameter 'feedback_id' is set
      if @api_client.config.client_side_validation && feedback_id.nil?
        fail ArgumentError, "Missing the required parameter 'feedback_id' when calling FeedbackApi.respond_to_feedback"
      end
      # verify the required parameter 'respond_to_feedback_request' is set
      if @api_client.config.client_side_validation && respond_to_feedback_request.nil?
        fail ArgumentError, "Missing the required parameter 'respond_to_feedback_request' when calling FeedbackApi.respond_to_feedback"
      end
      # resource path
      local_var_path = '/feedback/{feedbackId}/respond'.sub('{' + 'feedbackId' + '}', CGI.escape(feedback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(respond_to_feedback_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Feedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.respond_to_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#respond_to_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Respond to review
    # Add a response to a third-party review
    # @param review_id [String] 
    # @param respond_to_feedback_request [RespondToFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Review]
    def respond_to_review(review_id, respond_to_feedback_request, opts = {})
      data, _status_code, _headers = respond_to_review_with_http_info(review_id, respond_to_feedback_request, opts)
      data
    end

    # Respond to review
    # Add a response to a third-party review
    # @param review_id [String] 
    # @param respond_to_feedback_request [RespondToFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Review, Integer, Hash)>] Review data, response status code and response headers
    def respond_to_review_with_http_info(review_id, respond_to_feedback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.respond_to_review ...'
      end
      # verify the required parameter 'review_id' is set
      if @api_client.config.client_side_validation && review_id.nil?
        fail ArgumentError, "Missing the required parameter 'review_id' when calling FeedbackApi.respond_to_review"
      end
      # verify the required parameter 'respond_to_feedback_request' is set
      if @api_client.config.client_side_validation && respond_to_feedback_request.nil?
        fail ArgumentError, "Missing the required parameter 'respond_to_feedback_request' when calling FeedbackApi.respond_to_review"
      end
      # resource path
      local_var_path = '/feedback/reviews/{reviewId}/respond'.sub('{' + 'reviewId' + '}', CGI.escape(review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(respond_to_feedback_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Review'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.respond_to_review",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#respond_to_review\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit feedback
    # Submit guest feedback
    # @param feedback [Feedback] 
    # @param [Hash] opts the optional parameters
    # @return [Feedback]
    def submit_feedback(feedback, opts = {})
      data, _status_code, _headers = submit_feedback_with_http_info(feedback, opts)
      data
    end

    # Submit feedback
    # Submit guest feedback
    # @param feedback [Feedback] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Feedback, Integer, Hash)>] Feedback data, response status code and response headers
    def submit_feedback_with_http_info(feedback, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.submit_feedback ...'
      end
      # verify the required parameter 'feedback' is set
      if @api_client.config.client_side_validation && feedback.nil?
        fail ArgumentError, "Missing the required parameter 'feedback' when calling FeedbackApi.submit_feedback"
      end
      # resource path
      local_var_path = '/feedback'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(feedback)

      # return_type
      return_type = opts[:debug_return_type] || 'Feedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.submit_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#submit_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit survey response
    # Submit post-stay survey response
    # @param stay_id [String] 
    # @param survey [Survey] 
    # @param [Hash] opts the optional parameters
    # @return [Survey]
    def submit_survey_response(stay_id, survey, opts = {})
      data, _status_code, _headers = submit_survey_response_with_http_info(stay_id, survey, opts)
      data
    end

    # Submit survey response
    # Submit post-stay survey response
    # @param stay_id [String] 
    # @param survey [Survey] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Survey, Integer, Hash)>] Survey data, response status code and response headers
    def submit_survey_response_with_http_info(stay_id, survey, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.submit_survey_response ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling FeedbackApi.submit_survey_response"
      end
      # verify the required parameter 'survey' is set
      if @api_client.config.client_side_validation && survey.nil?
        fail ArgumentError, "Missing the required parameter 'survey' when calling FeedbackApi.submit_survey_response"
      end
      # resource path
      local_var_path = '/feedback/surveys/{stayId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(survey)

      # return_type
      return_type = opts[:debug_return_type] || 'Survey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FeedbackApi.submit_survey_response",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#submit_survey_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
