=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class FoodBeverageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel F&B order
    # Cancel an F&B order
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [FBOrder]
    def cancel_fb_order(order_id, opts = {})
      data, _status_code, _headers = cancel_fb_order_with_http_info(order_id, opts)
      data
    end

    # Cancel F&amp;B order
    # Cancel an F&amp;B order
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [Array<(FBOrder, Integer, Hash)>] FBOrder data, response status code and response headers
    def cancel_fb_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.cancel_fb_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.cancel_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}/cancel'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_service_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FBOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.cancel_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#cancel_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm F&B order
    # Confirm receipt and acceptance of an F&B order
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ConfirmFBOrderRequest] :confirm_fb_order_request 
    # @return [FBOrder]
    def confirm_fb_order(order_id, opts = {})
      data, _status_code, _headers = confirm_fb_order_with_http_info(order_id, opts)
      data
    end

    # Confirm F&amp;B order
    # Confirm receipt and acceptance of an F&amp;B order
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ConfirmFBOrderRequest] :confirm_fb_order_request 
    # @return [Array<(FBOrder, Integer, Hash)>] FBOrder data, response status code and response headers
    def confirm_fb_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.confirm_fb_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.confirm_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}/confirm'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'confirm_fb_order_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FBOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.confirm_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#confirm_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record consumption
    # Record inventory consumption
    # @param item_id [String] 
    # @param receive_fb_inventory_request [ReceiveFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def consume_fb_inventory(item_id, receive_fb_inventory_request, opts = {})
      data, _status_code, _headers = consume_fb_inventory_with_http_info(item_id, receive_fb_inventory_request, opts)
      data
    end

    # Record consumption
    # Record inventory consumption
    # @param item_id [String] 
    # @param receive_fb_inventory_request [ReceiveFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def consume_fb_inventory_with_http_info(item_id, receive_fb_inventory_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.consume_fb_inventory ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.consume_fb_inventory"
      end
      # verify the required parameter 'receive_fb_inventory_request' is set
      if @api_client.config.client_side_validation && receive_fb_inventory_request.nil?
        fail ArgumentError, "Missing the required parameter 'receive_fb_inventory_request' when calling FoodBeverageApi.consume_fb_inventory"
      end
      # resource path
      local_var_path = '/fb/inventory/{itemId}/consume'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receive_fb_inventory_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.consume_fb_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#consume_fb_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform stock count
    # Perform physical inventory stock count
    # @param count_fb_inventory_request [CountFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CountFBInventory200Response]
    def count_fb_inventory(count_fb_inventory_request, opts = {})
      data, _status_code, _headers = count_fb_inventory_with_http_info(count_fb_inventory_request, opts)
      data
    end

    # Perform stock count
    # Perform physical inventory stock count
    # @param count_fb_inventory_request [CountFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountFBInventory200Response, Integer, Hash)>] CountFBInventory200Response data, response status code and response headers
    def count_fb_inventory_with_http_info(count_fb_inventory_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.count_fb_inventory ...'
      end
      # verify the required parameter 'count_fb_inventory_request' is set
      if @api_client.config.client_side_validation && count_fb_inventory_request.nil?
        fail ArgumentError, "Missing the required parameter 'count_fb_inventory_request' when calling FoodBeverageApi.count_fb_inventory"
      end
      # resource path
      local_var_path = '/fb/inventory/count'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(count_fb_inventory_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CountFBInventory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.count_fb_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#count_fb_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create inventory item
    # Create a new F&B inventory item
    # @param fb_inventory_item [FBInventoryItem] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def create_fb_inventory_item(fb_inventory_item, opts = {})
      data, _status_code, _headers = create_fb_inventory_item_with_http_info(fb_inventory_item, opts)
      data
    end

    # Create inventory item
    # Create a new F&amp;B inventory item
    # @param fb_inventory_item [FBInventoryItem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def create_fb_inventory_item_with_http_info(fb_inventory_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.create_fb_inventory_item ...'
      end
      # verify the required parameter 'fb_inventory_item' is set
      if @api_client.config.client_side_validation && fb_inventory_item.nil?
        fail ArgumentError, "Missing the required parameter 'fb_inventory_item' when calling FoodBeverageApi.create_fb_inventory_item"
      end
      # resource path
      local_var_path = '/fb/inventory'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fb_inventory_item)

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.create_fb_inventory_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#create_fb_inventory_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create F&B order
    # Create a new F&B order for room service, restaurant, or bar service
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_fb_order(body, opts = {})
      data, _status_code, _headers = create_fb_order_with_http_info(body, opts)
      data
    end

    # Create F&amp;B order
    # Create a new F&amp;B order for room service, restaurant, or bar service
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_fb_order_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.create_fb_order ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FoodBeverageApi.create_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.create_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#create_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create menu item
    # Create a new menu item
    # @param menu_item [MenuItem] 
    # @param [Hash] opts the optional parameters
    # @return [MenuItem]
    def create_menu_item(menu_item, opts = {})
      data, _status_code, _headers = create_menu_item_with_http_info(menu_item, opts)
      data
    end

    # Create menu item
    # Create a new menu item
    # @param menu_item [MenuItem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuItem, Integer, Hash)>] MenuItem data, response status code and response headers
    def create_menu_item_with_http_info(menu_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.create_menu_item ...'
      end
      # verify the required parameter 'menu_item' is set
      if @api_client.config.client_side_validation && menu_item.nil?
        fail ArgumentError, "Missing the required parameter 'menu_item' when calling FoodBeverageApi.create_menu_item"
      end
      # resource path
      local_var_path = '/fb/menu'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu_item)

      # return_type
      return_type = opts[:debug_return_type] || 'MenuItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.create_menu_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#create_menu_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inventory item details
    # Retrieve details of a specific F&B inventory item
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def get_fb_inventory_item(item_id, opts = {})
      data, _status_code, _headers = get_fb_inventory_item_with_http_info(item_id, opts)
      data
    end

    # Get inventory item details
    # Retrieve details of a specific F&amp;B inventory item
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def get_fb_inventory_item_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.get_fb_inventory_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.get_fb_inventory_item"
      end
      # resource path
      local_var_path = '/fb/inventory/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.get_fb_inventory_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#get_fb_inventory_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get menu item details
    # Retrieve details of a specific menu item
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MenuItem]
    def get_menu_item(item_id, opts = {})
      data, _status_code, _headers = get_menu_item_with_http_info(item_id, opts)
      data
    end

    # Get menu item details
    # Retrieve details of a specific menu item
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MenuItem, Integer, Hash)>] MenuItem data, response status code and response headers
    def get_menu_item_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.get_menu_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.get_menu_item"
      end
      # resource path
      local_var_path = '/fb/menu/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.get_menu_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#get_menu_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List F&B inventory items
    # List all F&B inventory items with stock levels
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Boolean] :low_stock 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListFBInventory200Response]
    def list_fb_inventory(opts = {})
      data, _status_code, _headers = list_fb_inventory_with_http_info(opts)
      data
    end

    # List F&amp;B inventory items
    # List all F&amp;B inventory items with stock levels
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [Boolean] :low_stock 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListFBInventory200Response, Integer, Hash)>] ListFBInventory200Response data, response status code and response headers
    def list_fb_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.list_fb_inventory ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_fb_inventory, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_fb_inventory, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/fb/inventory'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'lowStock'] = opts[:'low_stock'] if !opts[:'low_stock'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListFBInventory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.list_fb_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#list_fb_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List F&B orders
    # List all food & beverage orders with filtering by property, venue, status, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_fb_orders(opts = {})
      data, _status_code, _headers = list_fb_orders_with_http_info(opts)
      data
    end

    # List F&amp;B orders
    # List all food &amp; beverage orders with filtering by property, venue, status, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_fb_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.list_fb_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_fb_orders, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_fb_orders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/fb/orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.list_fb_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#list_fb_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List menu items
    # List all menu items with filtering by venue and availability
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :venue 
    # @option opts [Boolean] :is_available 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListMenuItems200Response]
    def list_menu_items(opts = {})
      data, _status_code, _headers = list_menu_items_with_http_info(opts)
      data
    end

    # List menu items
    # List all menu items with filtering by venue and availability
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :venue 
    # @option opts [Boolean] :is_available 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListMenuItems200Response, Integer, Hash)>] ListMenuItems200Response data, response status code and response headers
    def list_menu_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.list_menu_items ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_menu_items, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FoodBeverageApi.list_menu_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/fb/menu'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'venue'] = opts[:'venue'] if !opts[:'venue'].nil?
      query_params[:'isAvailable'] = opts[:'is_available'] if !opts[:'is_available'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMenuItems200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.list_menu_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#list_menu_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark item as ready
    # Mark an order item as ready for delivery
    # @param order_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FBOrder]
    def mark_fb_item_ready(order_id, item_id, opts = {})
      data, _status_code, _headers = mark_fb_item_ready_with_http_info(order_id, item_id, opts)
      data
    end

    # Mark item as ready
    # Mark an order item as ready for delivery
    # @param order_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBOrder, Integer, Hash)>] FBOrder data, response status code and response headers
    def mark_fb_item_ready_with_http_info(order_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.mark_fb_item_ready ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.mark_fb_item_ready"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.mark_fb_item_ready"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}/items/{itemId}/ready'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FBOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.mark_fb_item_ready",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#mark_fb_item_ready\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Receive stock
    # Record receipt of inventory stock
    # @param item_id [String] 
    # @param receive_fb_inventory_request [ReceiveFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def receive_fb_inventory(item_id, receive_fb_inventory_request, opts = {})
      data, _status_code, _headers = receive_fb_inventory_with_http_info(item_id, receive_fb_inventory_request, opts)
      data
    end

    # Receive stock
    # Record receipt of inventory stock
    # @param item_id [String] 
    # @param receive_fb_inventory_request [ReceiveFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def receive_fb_inventory_with_http_info(item_id, receive_fb_inventory_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.receive_fb_inventory ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.receive_fb_inventory"
      end
      # verify the required parameter 'receive_fb_inventory_request' is set
      if @api_client.config.client_side_validation && receive_fb_inventory_request.nil?
        fail ArgumentError, "Missing the required parameter 'receive_fb_inventory_request' when calling FoodBeverageApi.receive_fb_inventory"
      end
      # resource path
      local_var_path = '/fb/inventory/{itemId}/receive'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receive_fb_inventory_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.receive_fb_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#receive_fb_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace F&B order (full update)
    # Replace F&B order with complete new order details including items, pricing, and delivery information
    # @param order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_fb_order(order_id, body, opts = {})
      data, _status_code, _headers = replace_fb_order_with_http_info(order_id, body, opts)
      data
    end

    # Replace F&amp;B order (full update)
    # Replace F&amp;B order with complete new order details including items, pricing, and delivery information
    # @param order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_fb_order_with_http_info(order_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.replace_fb_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.replace_fb_order"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FoodBeverageApi.replace_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.replace_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#replace_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace menu item (full update)
    # Replace menu item with complete new details including pricing, ingredients, and availability
    # @param item_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_menu_item(item_id, body, opts = {})
      data, _status_code, _headers = replace_menu_item_with_http_info(item_id, body, opts)
      data
    end

    # Replace menu item (full update)
    # Replace menu item with complete new details including pricing, ingredients, and availability
    # @param item_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_menu_item_with_http_info(item_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.replace_menu_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.replace_menu_item"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FoodBeverageApi.replace_menu_item"
      end
      # resource path
      local_var_path = '/fb/menu/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.replace_menu_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#replace_menu_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark order as served
    # Mark an order as delivered/served to guest
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServeFBOrderRequest] :serve_fb_order_request 
    # @return [FBOrder]
    def serve_fb_order(order_id, opts = {})
      data, _status_code, _headers = serve_fb_order_with_http_info(order_id, opts)
      data
    end

    # Mark order as served
    # Mark an order as delivered/served to guest
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServeFBOrderRequest] :serve_fb_order_request 
    # @return [Array<(FBOrder, Integer, Hash)>] FBOrder data, response status code and response headers
    def serve_fb_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.serve_fb_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.serve_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}/serve'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'serve_fb_order_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FBOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.serve_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#serve_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update inventory item
    # Update F&B inventory item details
    # @param item_id [String] 
    # @param fb_inventory_item [FBInventoryItem] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def update_fb_inventory_item(item_id, fb_inventory_item, opts = {})
      data, _status_code, _headers = update_fb_inventory_item_with_http_info(item_id, fb_inventory_item, opts)
      data
    end

    # Update inventory item
    # Update F&amp;B inventory item details
    # @param item_id [String] 
    # @param fb_inventory_item [FBInventoryItem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def update_fb_inventory_item_with_http_info(item_id, fb_inventory_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.update_fb_inventory_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.update_fb_inventory_item"
      end
      # verify the required parameter 'fb_inventory_item' is set
      if @api_client.config.client_side_validation && fb_inventory_item.nil?
        fail ArgumentError, "Missing the required parameter 'fb_inventory_item' when calling FoodBeverageApi.update_fb_inventory_item"
      end
      # resource path
      local_var_path = '/fb/inventory/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fb_inventory_item)

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.update_fb_inventory_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#update_fb_inventory_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update F&B order (partial update)
    # Partially update F&B order to modify status, add items, or update delivery details **Common use cases:** | Update specific fields of an F&B order. **Common use cases:** - Update order status - Modify delivery time - Add special instructions - Change order items
    # @param order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_fb_order(order_id, body, opts = {})
      data, _status_code, _headers = update_fb_order_with_http_info(order_id, body, opts)
      data
    end

    # Update F&amp;B order (partial update)
    # Partially update F&amp;B order to modify status, add items, or update delivery details **Common use cases:** | Update specific fields of an F&amp;B order. **Common use cases:** - Update order status - Modify delivery time - Add special instructions - Change order items
    # @param order_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_fb_order_with_http_info(order_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.update_fb_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling FoodBeverageApi.update_fb_order"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FoodBeverageApi.update_fb_order"
      end
      # resource path
      local_var_path = '/fb/orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.update_fb_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#update_fb_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update menu item (partial update)
    # Partially update menu item to modify pricing, availability, or description **Common use cases:** | Update specific fields of a menu item. **Common use cases:** - Update price - Change availability - Modify description - Update dietary information
    # @param item_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_menu_item(item_id, body, opts = {})
      data, _status_code, _headers = update_menu_item_with_http_info(item_id, body, opts)
      data
    end

    # Update menu item (partial update)
    # Partially update menu item to modify pricing, availability, or description **Common use cases:** | Update specific fields of a menu item. **Common use cases:** - Update price - Change availability - Modify description - Update dietary information
    # @param item_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_menu_item_with_http_info(item_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.update_menu_item ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.update_menu_item"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FoodBeverageApi.update_menu_item"
      end
      # resource path
      local_var_path = '/fb/menu/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.update_menu_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#update_menu_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record waste
    # Record inventory waste
    # @param item_id [String] 
    # @param waste_fb_inventory_request [WasteFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FBInventoryItem]
    def waste_fb_inventory(item_id, waste_fb_inventory_request, opts = {})
      data, _status_code, _headers = waste_fb_inventory_with_http_info(item_id, waste_fb_inventory_request, opts)
      data
    end

    # Record waste
    # Record inventory waste
    # @param item_id [String] 
    # @param waste_fb_inventory_request [WasteFBInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FBInventoryItem, Integer, Hash)>] FBInventoryItem data, response status code and response headers
    def waste_fb_inventory_with_http_info(item_id, waste_fb_inventory_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FoodBeverageApi.waste_fb_inventory ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling FoodBeverageApi.waste_fb_inventory"
      end
      # verify the required parameter 'waste_fb_inventory_request' is set
      if @api_client.config.client_side_validation && waste_fb_inventory_request.nil?
        fail ArgumentError, "Missing the required parameter 'waste_fb_inventory_request' when calling FoodBeverageApi.waste_fb_inventory"
      end
      # resource path
      local_var_path = '/fb/inventory/{itemId}/waste'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(waste_fb_inventory_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FBInventoryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"FoodBeverageApi.waste_fb_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FoodBeverageApi#waste_fb_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
