=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class GuestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add loyalty points
    # Add loyalty points to guest account
    # @param guest_id [String] 
    # @param add_loyalty_points_request [AddLoyaltyPointsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddLoyaltyPoints200Response]
    def add_loyalty_points(guest_id, add_loyalty_points_request, opts = {})
      data, _status_code, _headers = add_loyalty_points_with_http_info(guest_id, add_loyalty_points_request, opts)
      data
    end

    # Add loyalty points
    # Add loyalty points to guest account
    # @param guest_id [String] 
    # @param add_loyalty_points_request [AddLoyaltyPointsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddLoyaltyPoints200Response, Integer, Hash)>] AddLoyaltyPoints200Response data, response status code and response headers
    def add_loyalty_points_with_http_info(guest_id, add_loyalty_points_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.add_loyalty_points ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.add_loyalty_points"
      end
      # verify the required parameter 'add_loyalty_points_request' is set
      if @api_client.config.client_side_validation && add_loyalty_points_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_loyalty_points_request' when calling GuestsApi.add_loyalty_points"
      end
      # resource path
      local_var_path = '/guests/{guestId}/loyalty/points'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_loyalty_points_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddLoyaltyPoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.add_loyalty_points",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#add_loyalty_points\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create guest profile
    # Create a new guest profile
    # @param guest_profile [GuestProfile] 
    # @param [Hash] opts the optional parameters
    # @return [GuestProfile]
    def create_guest(guest_profile, opts = {})
      data, _status_code, _headers = create_guest_with_http_info(guest_profile, opts)
      data
    end

    # Create guest profile
    # Create a new guest profile
    # @param guest_profile [GuestProfile] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GuestProfile, Integer, Hash)>] GuestProfile data, response status code and response headers
    def create_guest_with_http_info(guest_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.create_guest ...'
      end
      # verify the required parameter 'guest_profile' is set
      if @api_client.config.client_side_validation && guest_profile.nil?
        fail ArgumentError, "Missing the required parameter 'guest_profile' when calling GuestsApi.create_guest"
      end
      # resource path
      local_var_path = '/guests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(guest_profile)

      # return_type
      return_type = opts[:debug_return_type] || 'GuestProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.create_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#create_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete guest profile (GDPR)
    # Delete guest profile per GDPR right to be forgotten
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_guest(guest_id, opts = {})
      delete_guest_with_http_info(guest_id, opts)
      nil
    end

    # Delete guest profile (GDPR)
    # Delete guest profile per GDPR right to be forgotten
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_guest_with_http_info(guest_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.delete_guest ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.delete_guest"
      end
      # resource path
      local_var_path = '/guests/{guestId}'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.delete_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#delete_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get guest profile
    # Retrieve complete guest profile including personal information, contact details, preferences, and loyalty status
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GuestProfile]
    def get_guest(guest_id, opts = {})
      data, _status_code, _headers = get_guest_with_http_info(guest_id, opts)
      data
    end

    # Get guest profile
    # Retrieve complete guest profile including personal information, contact details, preferences, and loyalty status
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GuestProfile, Integer, Hash)>] GuestProfile data, response status code and response headers
    def get_guest_with_http_info(guest_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.get_guest ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.get_guest"
      end
      # resource path
      local_var_path = '/guests/{guestId}'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GuestProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.get_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#get_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get guest loyalty status
    # Retrieve loyalty program status and points
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetGuestLoyalty200Response]
    def get_guest_loyalty(guest_id, opts = {})
      data, _status_code, _headers = get_guest_loyalty_with_http_info(guest_id, opts)
      data
    end

    # Get guest loyalty status
    # Retrieve loyalty program status and points
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetGuestLoyalty200Response, Integer, Hash)>] GetGuestLoyalty200Response data, response status code and response headers
    def get_guest_loyalty_with_http_info(guest_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.get_guest_loyalty ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.get_guest_loyalty"
      end
      # resource path
      local_var_path = '/guests/{guestId}/loyalty'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestLoyalty200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.get_guest_loyalty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#get_guest_loyalty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get guest stay history
    # Retrieve complete stay history for a guest
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def get_guest_stays(guest_id, opts = {})
      data, _status_code, _headers = get_guest_stays_with_http_info(guest_id, opts)
      data
    end

    # Get guest stay history
    # Retrieve complete stay history for a guest
    # @param guest_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def get_guest_stays_with_http_info(guest_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.get_guest_stays ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.get_guest_stays"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GuestsApi.get_guest_stays, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GuestsApi.get_guest_stays, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/guests/{guestId}/stays'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.get_guest_stays",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#get_guest_stays\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List guest profiles
    # Retrieve list of guest profiles
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :search Search by name or email
    # @option opts [String] :loyalty_tier 
    # @return [ListGuests200Response]
    def list_guests(opts = {})
      data, _status_code, _headers = list_guests_with_http_info(opts)
      data
    end

    # List guest profiles
    # Retrieve list of guest profiles
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :search Search by name or email
    # @option opts [String] :loyalty_tier 
    # @return [Array<(ListGuests200Response, Integer, Hash)>] ListGuests200Response data, response status code and response headers
    def list_guests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.list_guests ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GuestsApi.list_guests, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GuestsApi.list_guests, must be greater than or equal to 1.'
      end

      allowable_values = ["NONE", "SILVER", "GOLD", "PLATINUM"]
      if @api_client.config.client_side_validation && opts[:'loyalty_tier'] && !allowable_values.include?(opts[:'loyalty_tier'])
        fail ArgumentError, "invalid value for \"loyalty_tier\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/guests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'loyaltyTier'] = opts[:'loyalty_tier'] if !opts[:'loyalty_tier'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGuests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.list_guests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#list_guests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merge duplicate guest profiles
    # Merge two guest profiles into one
    # @param merge_guests_request [MergeGuestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GuestProfile]
    def merge_guests(merge_guests_request, opts = {})
      data, _status_code, _headers = merge_guests_with_http_info(merge_guests_request, opts)
      data
    end

    # Merge duplicate guest profiles
    # Merge two guest profiles into one
    # @param merge_guests_request [MergeGuestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GuestProfile, Integer, Hash)>] GuestProfile data, response status code and response headers
    def merge_guests_with_http_info(merge_guests_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.merge_guests ...'
      end
      # verify the required parameter 'merge_guests_request' is set
      if @api_client.config.client_side_validation && merge_guests_request.nil?
        fail ArgumentError, "Missing the required parameter 'merge_guests_request' when calling GuestsApi.merge_guests"
      end
      # resource path
      local_var_path = '/guests/merge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(merge_guests_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GuestProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.merge_guests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#merge_guests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace guest profile (full update)
    # Replace an existing guest profile with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use `If-Match` header with ETag 
    # @param guest_id [String] 
    # @param guest_profile [GuestProfile] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [GuestProfile]
    def replace_guest(guest_id, guest_profile, opts = {})
      data, _status_code, _headers = replace_guest_with_http_info(guest_id, guest_profile, opts)
      data
    end

    # Replace guest profile (full update)
    # Replace an existing guest profile with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag 
    # @param guest_id [String] 
    # @param guest_profile [GuestProfile] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(GuestProfile, Integer, Hash)>] GuestProfile data, response status code and response headers
    def replace_guest_with_http_info(guest_id, guest_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.replace_guest ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.replace_guest"
      end
      # verify the required parameter 'guest_profile' is set
      if @api_client.config.client_side_validation && guest_profile.nil?
        fail ArgumentError, "Missing the required parameter 'guest_profile' when calling GuestsApi.replace_guest"
      end
      # resource path
      local_var_path = '/guests/{guestId}'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(guest_profile)

      # return_type
      return_type = opts[:debug_return_type] || 'GuestProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.replace_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#replace_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace guest preferences (full update)
    # Replace all guest preferences with new settings including room preferences, dietary restrictions, and communication preferences
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_guest_preferences(guest_id, body, opts = {})
      data, _status_code, _headers = replace_guest_preferences_with_http_info(guest_id, body, opts)
      data
    end

    # Replace guest preferences (full update)
    # Replace all guest preferences with new settings including room preferences, dietary restrictions, and communication preferences
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_guest_preferences_with_http_info(guest_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.replace_guest_preferences ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.replace_guest_preferences"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GuestsApi.replace_guest_preferences"
      end
      # resource path
      local_var_path = '/guests/{guestId}/preferences'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.replace_guest_preferences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#replace_guest_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search guests
    # Advanced guest search with multiple criteria
    # @param search_guests_request [SearchGuestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<GuestProfile>]
    def search_guests(search_guests_request, opts = {})
      data, _status_code, _headers = search_guests_with_http_info(search_guests_request, opts)
      data
    end

    # Search guests
    # Advanced guest search with multiple criteria
    # @param search_guests_request [SearchGuestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<GuestProfile>, Integer, Hash)>] Array<GuestProfile> data, response status code and response headers
    def search_guests_with_http_info(search_guests_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.search_guests ...'
      end
      # verify the required parameter 'search_guests_request' is set
      if @api_client.config.client_side_validation && search_guests_request.nil?
        fail ArgumentError, "Missing the required parameter 'search_guests_request' when calling GuestsApi.search_guests"
      end
      # resource path
      local_var_path = '/guests/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(search_guests_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GuestProfile>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.search_guests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#search_guests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update guest profile (partial update)
    # Partially update a guest profile. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use `If-Match` header with ETag  **Common use cases:** - Update email or phone - Change address - Update preferences - Modify loyalty tier 
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [GuestProfile]
    def update_guest(guest_id, body, opts = {})
      data, _status_code, _headers = update_guest_with_http_info(guest_id, body, opts)
      data
    end

    # Update guest profile (partial update)
    # Partially update a guest profile. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag  **Common use cases:** - Update email or phone - Change address - Update preferences - Modify loyalty tier 
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(GuestProfile, Integer, Hash)>] GuestProfile data, response status code and response headers
    def update_guest_with_http_info(guest_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.update_guest ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.update_guest"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GuestsApi.update_guest"
      end
      # resource path
      local_var_path = '/guests/{guestId}'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'GuestProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.update_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#update_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update guest preferences (partial update)
    # Update specific guest preferences. Only provided preferences will be updated.  **Example:** Update room type preference only 
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_guest_preferences(guest_id, body, opts = {})
      data, _status_code, _headers = update_guest_preferences_with_http_info(guest_id, body, opts)
      data
    end

    # Update guest preferences (partial update)
    # Update specific guest preferences. Only provided preferences will be updated.  **Example:** Update room type preference only 
    # @param guest_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_guest_preferences_with_http_info(guest_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.update_guest_preferences ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.update_guest_preferences"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GuestsApi.update_guest_preferences"
      end
      # resource path
      local_var_path = '/guests/{guestId}/preferences'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.update_guest_preferences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#update_guest_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify guest identity
    # Verify guest identity for security purposes
    # @param guest_id [String] 
    # @param verify_guest_request [VerifyGuestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifyGuest200Response]
    def verify_guest(guest_id, verify_guest_request, opts = {})
      data, _status_code, _headers = verify_guest_with_http_info(guest_id, verify_guest_request, opts)
      data
    end

    # Verify guest identity
    # Verify guest identity for security purposes
    # @param guest_id [String] 
    # @param verify_guest_request [VerifyGuestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyGuest200Response, Integer, Hash)>] VerifyGuest200Response data, response status code and response headers
    def verify_guest_with_http_info(guest_id, verify_guest_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GuestsApi.verify_guest ...'
      end
      # verify the required parameter 'guest_id' is set
      if @api_client.config.client_side_validation && guest_id.nil?
        fail ArgumentError, "Missing the required parameter 'guest_id' when calling GuestsApi.verify_guest"
      end
      # verify the required parameter 'verify_guest_request' is set
      if @api_client.config.client_side_validation && verify_guest_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_guest_request' when calling GuestsApi.verify_guest"
      end
      # resource path
      local_var_path = '/guests/{guestId}/verify'.sub('{' + 'guestId' + '}', CGI.escape(guest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_guest_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyGuest200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"GuestsApi.verify_guest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GuestsApi#verify_guest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
