=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class InventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create inventory unit
    # Add a new inventory unit to the property
    # @param property_id [String] Unique property identifier
    # @param inventory_unit [InventoryUnit] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key for idempotent operations (UUID recommended)
    # @return [InventoryUnit]
    def create_inventory_unit(property_id, inventory_unit, opts = {})
      data, _status_code, _headers = create_inventory_unit_with_http_info(property_id, inventory_unit, opts)
      data
    end

    # Create inventory unit
    # Add a new inventory unit to the property
    # @param property_id [String] Unique property identifier
    # @param inventory_unit [InventoryUnit] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key for idempotent operations (UUID recommended)
    # @return [Array<(InventoryUnit, Integer, Hash)>] InventoryUnit data, response status code and response headers
    def create_inventory_unit_with_http_info(property_id, inventory_unit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_inventory_unit ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling InventoryApi.create_inventory_unit"
      end
      # verify the required parameter 'inventory_unit' is set
      if @api_client.config.client_side_validation && inventory_unit.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_unit' when calling InventoryApi.create_inventory_unit"
      end
      # resource path
      local_var_path = '/properties/{propertyId}/inventory-units'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inventory_unit)

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryUnit'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_inventory_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_inventory_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create unit type
    # Create a new unit type for a property
    # @param property_id [String] Unique property identifier
    # @param unit_type [UnitType] 
    # @param [Hash] opts the optional parameters
    # @return [UnitType]
    def create_unit_type(property_id, unit_type, opts = {})
      data, _status_code, _headers = create_unit_type_with_http_info(property_id, unit_type, opts)
      data
    end

    # Create unit type
    # Create a new unit type for a property
    # @param property_id [String] Unique property identifier
    # @param unit_type [UnitType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitType, Integer, Hash)>] UnitType data, response status code and response headers
    def create_unit_type_with_http_info(property_id, unit_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_unit_type ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling InventoryApi.create_unit_type"
      end
      # verify the required parameter 'unit_type' is set
      if @api_client.config.client_side_validation && unit_type.nil?
        fail ArgumentError, "Missing the required parameter 'unit_type' when calling InventoryApi.create_unit_type"
      end
      # resource path
      local_var_path = '/properties/{propertyId}/unit-types'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unit_type)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.create_unit_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_unit_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get unit type details
    # Retrieve details of a specific unit type
    # @param unit_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UnitType]
    def get_unit_type(unit_type_id, opts = {})
      data, _status_code, _headers = get_unit_type_with_http_info(unit_type_id, opts)
      data
    end

    # Get unit type details
    # Retrieve details of a specific unit type
    # @param unit_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitType, Integer, Hash)>] UnitType data, response status code and response headers
    def get_unit_type_with_http_info(unit_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_unit_type ...'
      end
      # verify the required parameter 'unit_type_id' is set
      if @api_client.config.client_side_validation && unit_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_type_id' when calling InventoryApi.get_unit_type"
      end
      # resource path
      local_var_path = '/unit-types/{unitTypeId}'.sub('{' + 'unitTypeId' + '}', CGI.escape(unit_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.get_unit_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_unit_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List inventory units for property
    # Retrieve all inventory units (rooms, beds, suites) for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :unit_type_id Filter by unit type
    # @option opts [String] :operational_status Filter by operational status
    # @option opts [Integer] :floor Filter by floor number
    # @return [ListInventoryUnits200Response]
    def list_inventory_units(property_id, opts = {})
      data, _status_code, _headers = list_inventory_units_with_http_info(property_id, opts)
      data
    end

    # List inventory units for property
    # Retrieve all inventory units (rooms, beds, suites) for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :unit_type_id Filter by unit type
    # @option opts [String] :operational_status Filter by operational status
    # @option opts [Integer] :floor Filter by floor number
    # @return [Array<(ListInventoryUnits200Response, Integer, Hash)>] ListInventoryUnits200Response data, response status code and response headers
    def list_inventory_units_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_inventory_units ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling InventoryApi.list_inventory_units"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.list_inventory_units, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.list_inventory_units, must be greater than or equal to 1.'
      end

      allowable_values = ["AVAILABLE", "OCCUPIED", "BLOCKED", "OUT_OF_SERVICE"]
      if @api_client.config.client_side_validation && opts[:'operational_status'] && !allowable_values.include?(opts[:'operational_status'])
        fail ArgumentError, "invalid value for \"operational_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/properties/{propertyId}/inventory-units'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'unitTypeId'] = opts[:'unit_type_id'] if !opts[:'unit_type_id'].nil?
      query_params[:'operationalStatus'] = opts[:'operational_status'] if !opts[:'operational_status'].nil?
      query_params[:'floor'] = opts[:'floor'] if !opts[:'floor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInventoryUnits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_inventory_units",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_inventory_units\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List unit types
    # Retrieve all unit types for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListUnitTypes200Response]
    def list_unit_types(property_id, opts = {})
      data, _status_code, _headers = list_unit_types_with_http_info(property_id, opts)
      data
    end

    # List unit types
    # Retrieve all unit types for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListUnitTypes200Response, Integer, Hash)>] ListUnitTypes200Response data, response status code and response headers
    def list_unit_types_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.list_unit_types ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling InventoryApi.list_unit_types"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.list_unit_types, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.list_unit_types, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/properties/{propertyId}/unit-types'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUnitTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.list_unit_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#list_unit_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace unit type (full update)
    # Replace unit type with complete new details
    # @param unit_type_id [String] 
    # @param unit_type [UnitType] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [UnitType]
    def replace_unit_type(unit_type_id, unit_type, opts = {})
      data, _status_code, _headers = replace_unit_type_with_http_info(unit_type_id, unit_type, opts)
      data
    end

    # Replace unit type (full update)
    # Replace unit type with complete new details
    # @param unit_type_id [String] 
    # @param unit_type [UnitType] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(UnitType, Integer, Hash)>] UnitType data, response status code and response headers
    def replace_unit_type_with_http_info(unit_type_id, unit_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.replace_unit_type ...'
      end
      # verify the required parameter 'unit_type_id' is set
      if @api_client.config.client_side_validation && unit_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_type_id' when calling InventoryApi.replace_unit_type"
      end
      # verify the required parameter 'unit_type' is set
      if @api_client.config.client_side_validation && unit_type.nil?
        fail ArgumentError, "Missing the required parameter 'unit_type' when calling InventoryApi.replace_unit_type"
      end
      # resource path
      local_var_path = '/unit-types/{unitTypeId}'.sub('{' + 'unitTypeId' + '}', CGI.escape(unit_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unit_type)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.replace_unit_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#replace_unit_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update unit type (partial update)
    # Update specific fields of a unit type
    # @param unit_type_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [UnitType]
    def update_unit_type(unit_type_id, body, opts = {})
      data, _status_code, _headers = update_unit_type_with_http_info(unit_type_id, body, opts)
      data
    end

    # Update unit type (partial update)
    # Update specific fields of a unit type
    # @param unit_type_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(UnitType, Integer, Hash)>] UnitType data, response status code and response headers
    def update_unit_type_with_http_info(unit_type_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.update_unit_type ...'
      end
      # verify the required parameter 'unit_type_id' is set
      if @api_client.config.client_side_validation && unit_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_type_id' when calling InventoryApi.update_unit_type"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InventoryApi.update_unit_type"
      end
      # resource path
      local_var_path = '/unit-types/{unitTypeId}'.sub('{' + 'unitTypeId' + '}', CGI.escape(unit_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"InventoryApi.update_unit_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#update_unit_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
