=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class OperationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Acknowledge service request
    # Acknowledge receipt of a service request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceRequest]
    def acknowledge_service_request(request_id, opts = {})
      data, _status_code, _headers = acknowledge_service_request_with_http_info(request_id, opts)
      data
    end

    # Acknowledge service request
    # Acknowledge receipt of a service request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceRequest, Integer, Hash)>] ServiceRequest data, response status code and response headers
    def acknowledge_service_request_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.acknowledge_service_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.acknowledge_service_request"
      end
      # resource path
      local_var_path = '/service-requests/{requestId}/acknowledge'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.acknowledge_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#acknowledge_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add incident action
    # Add a corrective action to an incident
    # @param incident_id [String] 
    # @param add_incident_action_request [AddIncidentActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Incident]
    def add_incident_action(incident_id, add_incident_action_request, opts = {})
      data, _status_code, _headers = add_incident_action_with_http_info(incident_id, add_incident_action_request, opts)
      data
    end

    # Add incident action
    # Add a corrective action to an incident
    # @param incident_id [String] 
    # @param add_incident_action_request [AddIncidentActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Incident, Integer, Hash)>] Incident data, response status code and response headers
    def add_incident_action_with_http_info(incident_id, add_incident_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.add_incident_action ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling OperationsApi.add_incident_action"
      end
      # verify the required parameter 'add_incident_action_request' is set
      if @api_client.config.client_side_validation && add_incident_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_incident_action_request' when calling OperationsApi.add_incident_action"
      end
      # resource path
      local_var_path = '/incidents/{incidentId}/actions'.sub('{' + 'incidentId' + '}', CGI.escape(incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_incident_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Incident'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.add_incident_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#add_incident_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign housekeeping task
    # Assign a housekeeping task to a staff member
    # @param task_id [String] 
    # @param assign_housekeeping_task_request [AssignHousekeepingTaskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [HousekeepingTask]
    def assign_housekeeping_task(task_id, assign_housekeeping_task_request, opts = {})
      data, _status_code, _headers = assign_housekeeping_task_with_http_info(task_id, assign_housekeeping_task_request, opts)
      data
    end

    # Assign housekeeping task
    # Assign a housekeeping task to a staff member
    # @param task_id [String] 
    # @param assign_housekeeping_task_request [AssignHousekeepingTaskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HousekeepingTask, Integer, Hash)>] HousekeepingTask data, response status code and response headers
    def assign_housekeeping_task_with_http_info(task_id, assign_housekeeping_task_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.assign_housekeeping_task ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling OperationsApi.assign_housekeeping_task"
      end
      # verify the required parameter 'assign_housekeeping_task_request' is set
      if @api_client.config.client_side_validation && assign_housekeeping_task_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_housekeeping_task_request' when calling OperationsApi.assign_housekeeping_task"
      end
      # resource path
      local_var_path = '/housekeeping/tasks/{taskId}/assign'.sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_housekeeping_task_request)

      # return_type
      return_type = opts[:debug_return_type] || 'HousekeepingTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.assign_housekeeping_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#assign_housekeeping_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign maintenance request
    # Assign a maintenance request to a technician
    # @param request_id [String] 
    # @param assign_maintenance_request_request [AssignMaintenanceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MaintenanceRequest]
    def assign_maintenance_request(request_id, assign_maintenance_request_request, opts = {})
      data, _status_code, _headers = assign_maintenance_request_with_http_info(request_id, assign_maintenance_request_request, opts)
      data
    end

    # Assign maintenance request
    # Assign a maintenance request to a technician
    # @param request_id [String] 
    # @param assign_maintenance_request_request [AssignMaintenanceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaintenanceRequest, Integer, Hash)>] MaintenanceRequest data, response status code and response headers
    def assign_maintenance_request_with_http_info(request_id, assign_maintenance_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.assign_maintenance_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.assign_maintenance_request"
      end
      # verify the required parameter 'assign_maintenance_request_request' is set
      if @api_client.config.client_side_validation && assign_maintenance_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_maintenance_request_request' when calling OperationsApi.assign_maintenance_request"
      end
      # resource path
      local_var_path = '/maintenance/requests/{requestId}/assign'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_maintenance_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.assign_maintenance_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#assign_maintenance_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign service request
    # Assign a service request to a staff member
    # @param request_id [String] 
    # @param assign_service_request_request [AssignServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceRequest]
    def assign_service_request(request_id, assign_service_request_request, opts = {})
      data, _status_code, _headers = assign_service_request_with_http_info(request_id, assign_service_request_request, opts)
      data
    end

    # Assign service request
    # Assign a service request to a staff member
    # @param request_id [String] 
    # @param assign_service_request_request [AssignServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceRequest, Integer, Hash)>] ServiceRequest data, response status code and response headers
    def assign_service_request_with_http_info(request_id, assign_service_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.assign_service_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.assign_service_request"
      end
      # verify the required parameter 'assign_service_request_request' is set
      if @api_client.config.client_side_validation && assign_service_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_service_request_request' when calling OperationsApi.assign_service_request"
      end
      # resource path
      local_var_path = '/service-requests/{requestId}/assign'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_service_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.assign_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#assign_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel service request
    # Cancel a service request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [ServiceRequest]
    def cancel_service_request(request_id, opts = {})
      data, _status_code, _headers = cancel_service_request_with_http_info(request_id, opts)
      data
    end

    # Cancel service request
    # Cancel a service request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelServiceRequestRequest] :cancel_service_request_request 
    # @return [Array<(ServiceRequest, Integer, Hash)>] ServiceRequest data, response status code and response headers
    def cancel_service_request_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.cancel_service_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.cancel_service_request"
      end
      # resource path
      local_var_path = '/service-requests/{requestId}/cancel'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_service_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.cancel_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#cancel_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clock in for shift
    # Record staff clock-in time
    # @param shift_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StaffShift]
    def clock_in_shift(shift_id, opts = {})
      data, _status_code, _headers = clock_in_shift_with_http_info(shift_id, opts)
      data
    end

    # Clock in for shift
    # Record staff clock-in time
    # @param shift_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaffShift, Integer, Hash)>] StaffShift data, response status code and response headers
    def clock_in_shift_with_http_info(shift_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.clock_in_shift ...'
      end
      # verify the required parameter 'shift_id' is set
      if @api_client.config.client_side_validation && shift_id.nil?
        fail ArgumentError, "Missing the required parameter 'shift_id' when calling OperationsApi.clock_in_shift"
      end
      # resource path
      local_var_path = '/staff/shifts/{shiftId}/clock-in'.sub('{' + 'shiftId' + '}', CGI.escape(shift_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StaffShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.clock_in_shift",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#clock_in_shift\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clock out from shift
    # Record staff clock-out time
    # @param shift_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StaffShift]
    def clock_out_shift(shift_id, opts = {})
      data, _status_code, _headers = clock_out_shift_with_http_info(shift_id, opts)
      data
    end

    # Clock out from shift
    # Record staff clock-out time
    # @param shift_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaffShift, Integer, Hash)>] StaffShift data, response status code and response headers
    def clock_out_shift_with_http_info(shift_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.clock_out_shift ...'
      end
      # verify the required parameter 'shift_id' is set
      if @api_client.config.client_side_validation && shift_id.nil?
        fail ArgumentError, "Missing the required parameter 'shift_id' when calling OperationsApi.clock_out_shift"
      end
      # resource path
      local_var_path = '/staff/shifts/{shiftId}/clock-out'.sub('{' + 'shiftId' + '}', CGI.escape(shift_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StaffShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.clock_out_shift",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#clock_out_shift\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close incident
    # Close an incident after resolution
    # @param incident_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CloseIncidentRequest] :close_incident_request 
    # @return [Incident]
    def close_incident(incident_id, opts = {})
      data, _status_code, _headers = close_incident_with_http_info(incident_id, opts)
      data
    end

    # Close incident
    # Close an incident after resolution
    # @param incident_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CloseIncidentRequest] :close_incident_request 
    # @return [Array<(Incident, Integer, Hash)>] Incident data, response status code and response headers
    def close_incident_with_http_info(incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.close_incident ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling OperationsApi.close_incident"
      end
      # resource path
      local_var_path = '/incidents/{incidentId}/close'.sub('{' + 'incidentId' + '}', CGI.escape(incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'close_incident_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Incident'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.close_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#close_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete housekeeping task
    # Mark a housekeeping task as completed
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteHousekeepingTaskRequest] :complete_housekeeping_task_request 
    # @return [HousekeepingTask]
    def complete_housekeeping_task(task_id, opts = {})
      data, _status_code, _headers = complete_housekeeping_task_with_http_info(task_id, opts)
      data
    end

    # Complete housekeeping task
    # Mark a housekeeping task as completed
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteHousekeepingTaskRequest] :complete_housekeeping_task_request 
    # @return [Array<(HousekeepingTask, Integer, Hash)>] HousekeepingTask data, response status code and response headers
    def complete_housekeeping_task_with_http_info(task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.complete_housekeeping_task ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling OperationsApi.complete_housekeeping_task"
      end
      # resource path
      local_var_path = '/housekeeping/tasks/{taskId}/complete'.sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'complete_housekeeping_task_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'HousekeepingTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.complete_housekeeping_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#complete_housekeeping_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete maintenance request
    # Mark a maintenance request as completed
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteMaintenanceRequestRequest] :complete_maintenance_request_request 
    # @return [MaintenanceRequest]
    def complete_maintenance_request(request_id, opts = {})
      data, _status_code, _headers = complete_maintenance_request_with_http_info(request_id, opts)
      data
    end

    # Complete maintenance request
    # Mark a maintenance request as completed
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteMaintenanceRequestRequest] :complete_maintenance_request_request 
    # @return [Array<(MaintenanceRequest, Integer, Hash)>] MaintenanceRequest data, response status code and response headers
    def complete_maintenance_request_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.complete_maintenance_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.complete_maintenance_request"
      end
      # resource path
      local_var_path = '/maintenance/requests/{requestId}/complete'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'complete_maintenance_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.complete_maintenance_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#complete_maintenance_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete service request
    # Mark a service request as completed
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [MarkReservationNoShowRequest] :mark_reservation_no_show_request 
    # @return [ServiceRequest]
    def complete_service_request(request_id, opts = {})
      data, _status_code, _headers = complete_service_request_with_http_info(request_id, opts)
      data
    end

    # Complete service request
    # Mark a service request as completed
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [MarkReservationNoShowRequest] :mark_reservation_no_show_request 
    # @return [Array<(ServiceRequest, Integer, Hash)>] ServiceRequest data, response status code and response headers
    def complete_service_request_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.complete_service_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.complete_service_request"
      end
      # resource path
      local_var_path = '/service-requests/{requestId}/complete'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'mark_reservation_no_show_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.complete_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#complete_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete training
    # Mark a training enrollment as completed
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteTrainingRequest] :complete_training_request 
    # @return [TrainingEnrollment]
    def complete_training(enrollment_id, opts = {})
      data, _status_code, _headers = complete_training_with_http_info(enrollment_id, opts)
      data
    end

    # Complete training
    # Mark a training enrollment as completed
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteTrainingRequest] :complete_training_request 
    # @return [Array<(TrainingEnrollment, Integer, Hash)>] TrainingEnrollment data, response status code and response headers
    def complete_training_with_http_info(enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.complete_training ...'
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling OperationsApi.complete_training"
      end
      # resource path
      local_var_path = '/training/enrollments/{enrollmentId}/complete'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'complete_training_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingEnrollment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.complete_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#complete_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create housekeeping task
    # Create a new housekeeping task for room cleaning, inspection, or maintenance preparation
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_housekeeping_task(body, opts = {})
      data, _status_code, _headers = create_housekeeping_task_with_http_info(body, opts)
      data
    end

    # Create housekeeping task
    # Create a new housekeeping task for room cleaning, inspection, or maintenance preparation
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_housekeeping_task_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.create_housekeeping_task ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OperationsApi.create_housekeeping_task"
      end
      # resource path
      local_var_path = '/housekeeping/tasks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.create_housekeeping_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#create_housekeeping_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create maintenance request
    # Create a new maintenance request for repairs, inspections, or preventive maintenance
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_maintenance_request(body, opts = {})
      data, _status_code, _headers = create_maintenance_request_with_http_info(body, opts)
      data
    end

    # Create maintenance request
    # Create a new maintenance request for repairs, inspections, or preventive maintenance
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_maintenance_request_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.create_maintenance_request ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OperationsApi.create_maintenance_request"
      end
      # resource path
      local_var_path = '/maintenance/requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.create_maintenance_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#create_maintenance_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create service request
    # Create a new guest service request for concierge services, amenities, or special accommodations
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_service_request(body, opts = {})
      data, _status_code, _headers = create_service_request_with_http_info(body, opts)
      data
    end

    # Create service request
    # Create a new guest service request for concierge services, amenities, or special accommodations
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_service_request_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.create_service_request ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OperationsApi.create_service_request"
      end
      # resource path
      local_var_path = '/service-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.create_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#create_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create staff shift
    # Create a new staff shift
    # @param staff_shift [StaffShift] 
    # @param [Hash] opts the optional parameters
    # @return [StaffShift]
    def create_staff_shift(staff_shift, opts = {})
      data, _status_code, _headers = create_staff_shift_with_http_info(staff_shift, opts)
      data
    end

    # Create staff shift
    # Create a new staff shift
    # @param staff_shift [StaffShift] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaffShift, Integer, Hash)>] StaffShift data, response status code and response headers
    def create_staff_shift_with_http_info(staff_shift, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.create_staff_shift ...'
      end
      # verify the required parameter 'staff_shift' is set
      if @api_client.config.client_side_validation && staff_shift.nil?
        fail ArgumentError, "Missing the required parameter 'staff_shift' when calling OperationsApi.create_staff_shift"
      end
      # resource path
      local_var_path = '/staff/shifts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(staff_shift)

      # return_type
      return_type = opts[:debug_return_type] || 'StaffShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.create_staff_shift",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#create_staff_shift\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create training module
    # Create a new training module
    # @param training_module [TrainingModule] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingModule]
    def create_training_module(training_module, opts = {})
      data, _status_code, _headers = create_training_module_with_http_info(training_module, opts)
      data
    end

    # Create training module
    # Create a new training module
    # @param training_module [TrainingModule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingModule, Integer, Hash)>] TrainingModule data, response status code and response headers
    def create_training_module_with_http_info(training_module, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.create_training_module ...'
      end
      # verify the required parameter 'training_module' is set
      if @api_client.config.client_side_validation && training_module.nil?
        fail ArgumentError, "Missing the required parameter 'training_module' when calling OperationsApi.create_training_module"
      end
      # resource path
      local_var_path = '/training/modules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(training_module)

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingModule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.create_training_module",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#create_training_module\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enroll in training
    # Enroll a staff member in a training module
    # @param training_enrollment [TrainingEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingEnrollment]
    def enroll_in_training(training_enrollment, opts = {})
      data, _status_code, _headers = enroll_in_training_with_http_info(training_enrollment, opts)
      data
    end

    # Enroll in training
    # Enroll a staff member in a training module
    # @param training_enrollment [TrainingEnrollment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingEnrollment, Integer, Hash)>] TrainingEnrollment data, response status code and response headers
    def enroll_in_training_with_http_info(training_enrollment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.enroll_in_training ...'
      end
      # verify the required parameter 'training_enrollment' is set
      if @api_client.config.client_side_validation && training_enrollment.nil?
        fail ArgumentError, "Missing the required parameter 'training_enrollment' when calling OperationsApi.enroll_in_training"
      end
      # resource path
      local_var_path = '/training/enrollments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(training_enrollment)

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingEnrollment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.enroll_in_training",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#enroll_in_training\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Escalate service request
    # Escalate a service request to management
    # @param request_id [String] 
    # @param escalate_service_request_request [EscalateServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceRequest]
    def escalate_service_request(request_id, escalate_service_request_request, opts = {})
      data, _status_code, _headers = escalate_service_request_with_http_info(request_id, escalate_service_request_request, opts)
      data
    end

    # Escalate service request
    # Escalate a service request to management
    # @param request_id [String] 
    # @param escalate_service_request_request [EscalateServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceRequest, Integer, Hash)>] ServiceRequest data, response status code and response headers
    def escalate_service_request_with_http_info(request_id, escalate_service_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.escalate_service_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.escalate_service_request"
      end
      # verify the required parameter 'escalate_service_request_request' is set
      if @api_client.config.client_side_validation && escalate_service_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'escalate_service_request_request' when calling OperationsApi.escalate_service_request"
      end
      # resource path
      local_var_path = '/service-requests/{requestId}/escalate'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalate_service_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.escalate_service_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#escalate_service_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fail housekeeping task
    # Mark a housekeeping task as failed
    # @param task_id [String] 
    # @param escalate_service_request_request [EscalateServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [HousekeepingTask]
    def fail_housekeeping_task(task_id, escalate_service_request_request, opts = {})
      data, _status_code, _headers = fail_housekeeping_task_with_http_info(task_id, escalate_service_request_request, opts)
      data
    end

    # Fail housekeeping task
    # Mark a housekeeping task as failed
    # @param task_id [String] 
    # @param escalate_service_request_request [EscalateServiceRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HousekeepingTask, Integer, Hash)>] HousekeepingTask data, response status code and response headers
    def fail_housekeeping_task_with_http_info(task_id, escalate_service_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.fail_housekeeping_task ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling OperationsApi.fail_housekeeping_task"
      end
      # verify the required parameter 'escalate_service_request_request' is set
      if @api_client.config.client_side_validation && escalate_service_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'escalate_service_request_request' when calling OperationsApi.fail_housekeeping_task"
      end
      # resource path
      local_var_path = '/housekeeping/tasks/{taskId}/fail'.sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalate_service_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'HousekeepingTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.fail_housekeeping_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#fail_housekeeping_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get cleaning schedule
    # Retrieve the housekeeping cleaning schedule
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date 
    # @return [GetCleaningSchedule200Response]
    def get_cleaning_schedule(property_id, opts = {})
      data, _status_code, _headers = get_cleaning_schedule_with_http_info(property_id, opts)
      data
    end

    # Get cleaning schedule
    # Retrieve the housekeeping cleaning schedule
    # @param property_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date 
    # @return [Array<(GetCleaningSchedule200Response, Integer, Hash)>] GetCleaningSchedule200Response data, response status code and response headers
    def get_cleaning_schedule_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_cleaning_schedule ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling OperationsApi.get_cleaning_schedule"
      end
      # resource path
      local_var_path = '/housekeeping/schedule'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = property_id
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCleaningSchedule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_cleaning_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_cleaning_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get incident details
    # Retrieve details of a specific incident
    # @param incident_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Incident]
    def get_incident(incident_id, opts = {})
      data, _status_code, _headers = get_incident_with_http_info(incident_id, opts)
      data
    end

    # Get incident details
    # Retrieve details of a specific incident
    # @param incident_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Incident, Integer, Hash)>] Incident data, response status code and response headers
    def get_incident_with_http_info(incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_incident ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling OperationsApi.get_incident"
      end
      # resource path
      local_var_path = '/incidents/{incidentId}'.sub('{' + 'incidentId' + '}', CGI.escape(incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Incident'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get maintenance history
    # Retrieve maintenance history for a specific request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMaintenanceHistory200Response]
    def get_maintenance_history(request_id, opts = {})
      data, _status_code, _headers = get_maintenance_history_with_http_info(request_id, opts)
      data
    end

    # Get maintenance history
    # Retrieve maintenance history for a specific request
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMaintenanceHistory200Response, Integer, Hash)>] GetMaintenanceHistory200Response data, response status code and response headers
    def get_maintenance_history_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_maintenance_history ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OperationsApi.get_maintenance_history"
      end
      # resource path
      local_var_path = '/maintenance/requests/{requestId}/history'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMaintenanceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_maintenance_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_maintenance_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get staff performance metrics
    # Retrieve performance metrics for a staff member
    # @param staff_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [GetStaffPerformance200Response]
    def get_staff_performance(staff_id, opts = {})
      data, _status_code, _headers = get_staff_performance_with_http_info(staff_id, opts)
      data
    end

    # Get staff performance metrics
    # Retrieve performance metrics for a staff member
    # @param staff_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [Array<(GetStaffPerformance200Response, Integer, Hash)>] GetStaffPerformance200Response data, response status code and response headers
    def get_staff_performance_with_http_info(staff_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_staff_performance ...'
      end
      # verify the required parameter 'staff_id' is set
      if @api_client.config.client_side_validation && staff_id.nil?
        fail ArgumentError, "Missing the required parameter 'staff_id' when calling OperationsApi.get_staff_performance"
      end
      # resource path
      local_var_path = '/staff/{staffId}/performance'.sub('{' + 'staffId' + '}', CGI.escape(staff_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStaffPerformance200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_staff_performance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_staff_performance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get enrollment details
    # Retrieve details of a training enrollment
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingEnrollment]
    def get_training_enrollment(enrollment_id, opts = {})
      data, _status_code, _headers = get_training_enrollment_with_http_info(enrollment_id, opts)
      data
    end

    # Get enrollment details
    # Retrieve details of a training enrollment
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingEnrollment, Integer, Hash)>] TrainingEnrollment data, response status code and response headers
    def get_training_enrollment_with_http_info(enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_training_enrollment ...'
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling OperationsApi.get_training_enrollment"
      end
      # resource path
      local_var_path = '/training/enrollments/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingEnrollment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_training_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_training_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get training module details
    # Retrieve details of a specific training module
    # @param module_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingModule]
    def get_training_module(module_id, opts = {})
      data, _status_code, _headers = get_training_module_with_http_info(module_id, opts)
      data
    end

    # Get training module details
    # Retrieve details of a specific training module
    # @param module_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingModule, Integer, Hash)>] TrainingModule data, response status code and response headers
    def get_training_module_with_http_info(module_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.get_training_module ...'
      end
      # verify the required parameter 'module_id' is set
      if @api_client.config.client_side_validation && module_id.nil?
        fail ArgumentError, "Missing the required parameter 'module_id' when calling OperationsApi.get_training_module"
      end
      # resource path
      local_var_path = '/training/modules/{moduleId}'.sub('{' + 'moduleId' + '}', CGI.escape(module_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingModule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.get_training_module",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#get_training_module\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List housekeeping tasks
    # List all housekeeping tasks with filtering by property, status, assignment, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [String] :assigned_to 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_housekeeping_tasks(opts = {})
      data, _status_code, _headers = list_housekeeping_tasks_with_http_info(opts)
      data
    end

    # List housekeeping tasks
    # List all housekeeping tasks with filtering by property, status, assignment, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [String] :assigned_to 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_housekeeping_tasks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_housekeeping_tasks ...'
      end
      allowable_values = ["PENDING", "IN_PROGRESS", "COMPLETED", "CANCELLED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_housekeeping_tasks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_housekeeping_tasks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/housekeeping/tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'assignedTo'] = opts[:'assigned_to'] if !opts[:'assigned_to'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_housekeeping_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_housekeeping_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List incidents
    # Retrieve all incidents with filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :severity 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListIncidents200Response]
    def list_incidents(opts = {})
      data, _status_code, _headers = list_incidents_with_http_info(opts)
      data
    end

    # List incidents
    # Retrieve all incidents with filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :severity 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListIncidents200Response, Integer, Hash)>] ListIncidents200Response data, response status code and response headers
    def list_incidents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_incidents ...'
      end
      allowable_values = ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
      if @api_client.config.client_side_validation && opts[:'severity'] && !allowable_values.include?(opts[:'severity'])
        fail ArgumentError, "invalid value for \"severity\", must be one of #{allowable_values}"
      end
      allowable_values = ["OPEN", "IN_PROGRESS", "RESOLVED", "CLOSED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_incidents, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_incidents, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/incidents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'severity'] = opts[:'severity'] if !opts[:'severity'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListIncidents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_incidents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_incidents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List maintenance requests
    # List all maintenance requests with filtering by property, priority, status, and category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [String] :priority 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_maintenance_requests(opts = {})
      data, _status_code, _headers = list_maintenance_requests_with_http_info(opts)
      data
    end

    # List maintenance requests
    # List all maintenance requests with filtering by property, priority, status, and category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [String] :priority 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_maintenance_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_maintenance_requests ...'
      end
      allowable_values = ["LOW", "MEDIUM", "HIGH", "URGENT"]
      if @api_client.config.client_side_validation && opts[:'priority'] && !allowable_values.include?(opts[:'priority'])
        fail ArgumentError, "invalid value for \"priority\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_maintenance_requests, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_maintenance_requests, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/maintenance/requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'priority'] = opts[:'priority'] if !opts[:'priority'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_maintenance_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_maintenance_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List service requests
    # List all guest service requests with filtering by property, guest, status, and request type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_service_requests(opts = {})
      data, _status_code, _headers = list_service_requests_with_http_info(opts)
      data
    end

    # List service requests
    # List all guest service requests with filtering by property, guest, status, and request type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_service_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_service_requests ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_service_requests, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_service_requests, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/service-requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"OperationsApi.list_service_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperationsApi#list_service_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List staff shifts
    # Retrieve all staff shifts with filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :staff_id 
    # @option opts [Date] :date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListStaffShifts200Response]
    def list_staff_shifts(opts = {})
      data, _status_code, _headers = list_staff_shifts_with_http_info(opts)
      data
    end

    # List staff shifts
    # Retrieve all staff shifts with filtering
    # @param [Hash] opts the optional parameters
    # @option opts [String] :staff_id 
    # @option opts [Date] :date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListStaffShifts200Response, Integer, Hash)>] ListStaffShifts200Response data, response status code and response headers
    def list_staff_shifts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperationsApi.list_staff_shifts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_staff_shifts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OperationsApi.list_staff_shifts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/staff/shifts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'staffId'] = opts[:'staff_id'] if !opts[:'staff_id'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStaffShifts200Response'

      # auth_names
[...]
