=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class ProcurementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve purchase order
    # Approve a purchase order for processing
    # @param po_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovePurchaseOrderRequest] :approve_purchase_order_request 
    # @return [PurchaseOrder]
    def approve_purchase_order(po_id, opts = {})
      data, _status_code, _headers = approve_purchase_order_with_http_info(po_id, opts)
      data
    end

    # Approve purchase order
    # Approve a purchase order for processing
    # @param po_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovePurchaseOrderRequest] :approve_purchase_order_request 
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def approve_purchase_order_with_http_info(po_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.approve_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.approve_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}/approve'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'approve_purchase_order_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.approve_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#approve_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create purchase order
    # Create a new purchase order for supplies, equipment, or services
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_purchase_order(body, opts = {})
      data, _status_code, _headers = create_purchase_order_with_http_info(body, opts)
      data
    end

    # Create purchase order
    # Create a new purchase order for supplies, equipment, or services
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_purchase_order_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.create_purchase_order ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProcurementApi.create_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.create_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#create_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create supplier
    # Create a new supplier
    # @param supplier [Supplier] 
    # @param [Hash] opts the optional parameters
    # @return [Supplier]
    def create_supplier(supplier, opts = {})
      data, _status_code, _headers = create_supplier_with_http_info(supplier, opts)
      data
    end

    # Create supplier
    # Create a new supplier
    # @param supplier [Supplier] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Supplier, Integer, Hash)>] Supplier data, response status code and response headers
    def create_supplier_with_http_info(supplier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.create_supplier ...'
      end
      # verify the required parameter 'supplier' is set
      if @api_client.config.client_side_validation && supplier.nil?
        fail ArgumentError, "Missing the required parameter 'supplier' when calling ProcurementApi.create_supplier"
      end
      # resource path
      local_var_path = '/procurement/suppliers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(supplier)

      # return_type
      return_type = opts[:debug_return_type] || 'Supplier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.create_supplier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#create_supplier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get supplier details
    # Retrieve details of a specific supplier
    # @param supplier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Supplier]
    def get_supplier(supplier_id, opts = {})
      data, _status_code, _headers = get_supplier_with_http_info(supplier_id, opts)
      data
    end

    # Get supplier details
    # Retrieve details of a specific supplier
    # @param supplier_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Supplier, Integer, Hash)>] Supplier data, response status code and response headers
    def get_supplier_with_http_info(supplier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.get_supplier ...'
      end
      # verify the required parameter 'supplier_id' is set
      if @api_client.config.client_side_validation && supplier_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_id' when calling ProcurementApi.get_supplier"
      end
      # resource path
      local_var_path = '/procurement/suppliers/{supplierId}'.sub('{' + 'supplierId' + '}', CGI.escape(supplier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Supplier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.get_supplier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#get_supplier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get supplier performance
    # Get performance metrics for a supplier
    # @param supplier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [SupplierPerformance]
    def get_supplier_performance(supplier_id, opts = {})
      data, _status_code, _headers = get_supplier_performance_with_http_info(supplier_id, opts)
      data
    end

    # Get supplier performance
    # Get performance metrics for a supplier
    # @param supplier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [Array<(SupplierPerformance, Integer, Hash)>] SupplierPerformance data, response status code and response headers
    def get_supplier_performance_with_http_info(supplier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.get_supplier_performance ...'
      end
      # verify the required parameter 'supplier_id' is set
      if @api_client.config.client_side_validation && supplier_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_id' when calling ProcurementApi.get_supplier_performance"
      end
      # resource path
      local_var_path = '/procurement/suppliers/{supplierId}/performance'.sub('{' + 'supplierId' + '}', CGI.escape(supplier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierPerformance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.get_supplier_performance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#get_supplier_performance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record invoice for purchase order
    # Record supplier invoice for purchase order
    # @param po_id [String] 
    # @param invoice_purchase_order_request [InvoicePurchaseOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def invoice_purchase_order(po_id, invoice_purchase_order_request, opts = {})
      data, _status_code, _headers = invoice_purchase_order_with_http_info(po_id, invoice_purchase_order_request, opts)
      data
    end

    # Record invoice for purchase order
    # Record supplier invoice for purchase order
    # @param po_id [String] 
    # @param invoice_purchase_order_request [InvoicePurchaseOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def invoice_purchase_order_with_http_info(po_id, invoice_purchase_order_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.invoice_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.invoice_purchase_order"
      end
      # verify the required parameter 'invoice_purchase_order_request' is set
      if @api_client.config.client_side_validation && invoice_purchase_order_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_purchase_order_request' when calling ProcurementApi.invoice_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}/invoice'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoice_purchase_order_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.invoice_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#invoice_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List purchase orders
    # List all purchase orders with filtering by supplier, status, property, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [GetGuestStays200Response]
    def list_purchase_orders(opts = {})
      data, _status_code, _headers = list_purchase_orders_with_http_info(opts)
      data
    end

    # List purchase orders
    # List all purchase orders with filtering by supplier, status, property, and date range
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(GetGuestStays200Response, Integer, Hash)>] GetGuestStays200Response data, response status code and response headers
    def list_purchase_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.list_purchase_orders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProcurementApi.list_purchase_orders, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProcurementApi.list_purchase_orders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/procurement/purchase-orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGuestStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.list_purchase_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#list_purchase_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suppliers
    # List all suppliers with filtering and search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :category 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [ListSuppliers200Response]
    def list_suppliers(opts = {})
      data, _status_code, _headers = list_suppliers_with_http_info(opts)
      data
    end

    # List suppliers
    # List all suppliers with filtering and search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :category 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(ListSuppliers200Response, Integer, Hash)>] ListSuppliers200Response data, response status code and response headers
    def list_suppliers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.list_suppliers ...'
      end
      allowable_values = ["ACTIVE", "INACTIVE"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProcurementApi.list_suppliers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProcurementApi.list_suppliers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/procurement/suppliers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSuppliers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.list_suppliers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#list_suppliers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Receive purchase order
    # Record receipt of goods from purchase order
    # @param po_id [String] 
    # @param receive_purchase_order_request [ReceivePurchaseOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def receive_purchase_order(po_id, receive_purchase_order_request, opts = {})
      data, _status_code, _headers = receive_purchase_order_with_http_info(po_id, receive_purchase_order_request, opts)
      data
    end

    # Receive purchase order
    # Record receipt of goods from purchase order
    # @param po_id [String] 
    # @param receive_purchase_order_request [ReceivePurchaseOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def receive_purchase_order_with_http_info(po_id, receive_purchase_order_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.receive_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.receive_purchase_order"
      end
      # verify the required parameter 'receive_purchase_order_request' is set
      if @api_client.config.client_side_validation && receive_purchase_order_request.nil?
        fail ArgumentError, "Missing the required parameter 'receive_purchase_order_request' when calling ProcurementApi.receive_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}/receive'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receive_purchase_order_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.receive_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#receive_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace purchase order (full update)
    # Replace purchase order with complete new details including items, quantities, and delivery information
    # @param po_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_purchase_order(po_id, body, opts = {})
      data, _status_code, _headers = replace_purchase_order_with_http_info(po_id, body, opts)
      data
    end

    # Replace purchase order (full update)
    # Replace purchase order with complete new details including items, quantities, and delivery information
    # @param po_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_purchase_order_with_http_info(po_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.replace_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.replace_purchase_order"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProcurementApi.replace_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.replace_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#replace_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace supplier (full update)
    # Replace supplier information with complete new details including contact, terms, and product catalog
    # @param supplier_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_supplier(supplier_id, body, opts = {})
      data, _status_code, _headers = replace_supplier_with_http_info(supplier_id, body, opts)
      data
    end

    # Replace supplier (full update)
    # Replace supplier information with complete new details including contact, terms, and product catalog
    # @param supplier_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_supplier_with_http_info(supplier_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.replace_supplier ...'
      end
      # verify the required parameter 'supplier_id' is set
      if @api_client.config.client_side_validation && supplier_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_id' when calling ProcurementApi.replace_supplier"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProcurementApi.replace_supplier"
      end
      # resource path
      local_var_path = '/procurement/suppliers/{supplierId}'.sub('{' + 'supplierId' + '}', CGI.escape(supplier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.replace_supplier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#replace_supplier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit purchase order
    # Submit a purchase order to supplier
    # @param po_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseOrder]
    def submit_purchase_order(po_id, opts = {})
      data, _status_code, _headers = submit_purchase_order_with_http_info(po_id, opts)
      data
    end

    # Submit purchase order
    # Submit a purchase order to supplier
    # @param po_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseOrder, Integer, Hash)>] PurchaseOrder data, response status code and response headers
    def submit_purchase_order_with_http_info(po_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.submit_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.submit_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}/submit'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.submit_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#submit_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update purchase order (partial update)
    # Partially update purchase order to modify status, quantities, or delivery details **Common use cases:** | Update specific fields of a purchase order. **Common use cases:** - Update delivery date - Change PO status - Add notes - Modify payment terms
    # @param po_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_purchase_order(po_id, body, opts = {})
      data, _status_code, _headers = update_purchase_order_with_http_info(po_id, body, opts)
      data
    end

    # Update purchase order (partial update)
    # Partially update purchase order to modify status, quantities, or delivery details **Common use cases:** | Update specific fields of a purchase order. **Common use cases:** - Update delivery date - Change PO status - Add notes - Modify payment terms
    # @param po_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_purchase_order_with_http_info(po_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.update_purchase_order ...'
      end
      # verify the required parameter 'po_id' is set
      if @api_client.config.client_side_validation && po_id.nil?
        fail ArgumentError, "Missing the required parameter 'po_id' when calling ProcurementApi.update_purchase_order"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProcurementApi.update_purchase_order"
      end
      # resource path
      local_var_path = '/procurement/purchase-orders/{poId}'.sub('{' + 'poId' + '}', CGI.escape(po_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.update_purchase_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#update_purchase_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update supplier (partial update)
    # Partially update supplier information to modify contact details, terms, or status **Common use cases:** | Update specific fields of a supplier. **Common use cases:** - Update contact information - Change payment terms - Modify supplier status - Update rating
    # @param supplier_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_supplier(supplier_id, body, opts = {})
      data, _status_code, _headers = update_supplier_with_http_info(supplier_id, body, opts)
      data
    end

    # Update supplier (partial update)
    # Partially update supplier information to modify contact details, terms, or status **Common use cases:** | Update specific fields of a supplier. **Common use cases:** - Update contact information - Change payment terms - Modify supplier status - Update rating
    # @param supplier_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_supplier_with_http_info(supplier_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementApi.update_supplier ...'
      end
      # verify the required parameter 'supplier_id' is set
      if @api_client.config.client_side_validation && supplier_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_id' when calling ProcurementApi.update_supplier"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProcurementApi.update_supplier"
      end
      # resource path
      local_var_path = '/procurement/suppliers/{supplierId}'.sub('{' + 'supplierId' + '}', CGI.escape(supplier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ProcurementApi.update_supplier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementApi#update_supplier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
