=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class PropertiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create property
    # Create a new property. This is typically an administrative operation.  **Authorization:** Requires `write:properties` or `admin:all` scope  **Idempotency:** Supports idempotency via `Idempotency-Key` header 
    # @param property [Property] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key for idempotent operations (UUID recommended)
    # @return [Property]
    def create_property(property, opts = {})
      data, _status_code, _headers = create_property_with_http_info(property, opts)
      data
    end

    # Create property
    # Create a new property. This is typically an administrative operation.  **Authorization:** Requires &#x60;write:properties&#x60; or &#x60;admin:all&#x60; scope  **Idempotency:** Supports idempotency via &#x60;Idempotency-Key&#x60; header 
    # @param property [Property] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key for idempotent operations (UUID recommended)
    # @return [Array<(Property, Integer, Hash)>] Property data, response status code and response headers
    def create_property_with_http_info(property, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.create_property ...'
      end
      # verify the required parameter 'property' is set
      if @api_client.config.client_side_validation && property.nil?
        fail ArgumentError, "Missing the required parameter 'property' when calling PropertiesApi.create_property"
      end
      # resource path
      local_var_path = '/properties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(property)

      # return_type
      return_type = opts[:debug_return_type] || 'Property'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.create_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#create_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete property
    # Soft delete a property. Property status changes to CLOSED.  **Warning:** This operation cannot be undone. All future reservations will be cancelled. 
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_property(property_id, opts = {})
      delete_property_with_http_info(property_id, opts)
      nil
    end

    # Delete property
    # Soft delete a property. Property status changes to CLOSED.  **Warning:** This operation cannot be undone. All future reservations will be cancelled. 
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_property_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.delete_property ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling PropertiesApi.delete_property"
      end
      # resource path
      local_var_path = '/properties/{propertyId}'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.delete_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#delete_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get property by ID
    # Retrieve detailed information about a specific property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Comma-separated list of related resources to include
    # @option opts [String] :if_none_match ETag for conditional requests
    # @return [Property]
    def get_property(property_id, opts = {})
      data, _status_code, _headers = get_property_with_http_info(property_id, opts)
      data
    end

    # Get property by ID
    # Retrieve detailed information about a specific property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Comma-separated list of related resources to include
    # @option opts [String] :if_none_match ETag for conditional requests
    # @return [Array<(Property, Integer, Hash)>] Property data, response status code and response headers
    def get_property_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.get_property ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling PropertiesApi.get_property"
      end
      # resource path
      local_var_path = '/properties/{propertyId}'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Property'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"PropertiesApi.get_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#get_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List properties
    # Retrieve a paginated list of properties. Supports filtering, sorting, and field expansion.  **Authorization:** Requires `read:properties` scope  **Rate Limit:** 100 requests/minute 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :organization_id Filter by organization
    # @option opts [String] :operational_status Filter by operational status
    # @option opts [String] :classification Filter by property classification
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (default to 'asc')
    # @option opts [String] :expand Comma-separated list of related resources to include
    # @return [ListProperties200Response]
    def list_properties(opts = {})
      data, _status_code, _headers = list_properties_with_http_info(opts)
      data
    end

    # List properties
    # Retrieve a paginated list of properties. Supports filtering, sorting, and field expansion.  **Authorization:** Requires &#x60;read:properties&#x60; scope  **Rate Limit:** 100 requests/minute 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :organization_id Filter by organization
    # @option opts [String] :operational_status Filter by operational status
    # @option opts [String] :classification Filter by property classification
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (default to 'asc')
    # @option opts [String] :expand Comma-separated list of related resources to include
    # @return [Array<(ListProperties200Response, Integer, Hash)>] ListProperties200Response data, response status code and response headers
    def list_properties_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.list_properties ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PropertiesApi.list_properties, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PropertiesApi.list_properties, must be greater than or equal to 1.'
      end

      allowable_values = ["ACTIVE", "SUSPENDED", "CLOSED"]
      if @api_client.config.client_side_validation && opts[:'operational_status'] && !allowable_values.include?(opts[:'operational_status'])
        fail ArgumentError, "invalid value for \"operational_status\", must be one of #{allowable_values}"
      end
      allowable_values = ["HOTEL", "HOSTEL", "RESORT", "BOUTIQUE"]
      if @api_client.config.client_side_validation && opts[:'classification'] && !allowable_values.include?(opts[:'classification'])
        fail ArgumentError, "invalid value for \"classification\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/properties'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'organizationId'] = opts[:'organization_id'] if !opts[:'organization_id'].nil?
      query_params[:'operationalStatus'] = opts[:'operational_status'] if !opts[:'operational_status'].nil?
      query_params[:'classification'] = opts[:'classification'] if !opts[:'classification'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProperties200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"PropertiesApi.list_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#list_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace inventory unit (full update)
    # Replace inventory unit with complete new details including type, status, and physical attributes
    # @param unit_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def replace_inventory_unit(unit_id, body, opts = {})
      data, _status_code, _headers = replace_inventory_unit_with_http_info(unit_id, body, opts)
      data
    end

    # Replace inventory unit (full update)
    # Replace inventory unit with complete new details including type, status, and physical attributes
    # @param unit_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_inventory_unit_with_http_info(unit_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.replace_inventory_unit ...'
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling PropertiesApi.replace_inventory_unit"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PropertiesApi.replace_inventory_unit"
      end
      # resource path
      local_var_path = '/inventory-units/{unitId}'.sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.replace_inventory_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#replace_inventory_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace property (full update)
    # Replace an existing property with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts 
    # @param property_id [String] Unique property identifier
    # @param property [Property] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Property]
    def replace_property(property_id, property, opts = {})
      data, _status_code, _headers = replace_property_with_http_info(property_id, property, opts)
      data
    end

    # Replace property (full update)
    # Replace an existing property with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag to prevent conflicts 
    # @param property_id [String] Unique property identifier
    # @param property [Property] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Property, Integer, Hash)>] Property data, response status code and response headers
    def replace_property_with_http_info(property_id, property, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.replace_property ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling PropertiesApi.replace_property"
      end
      # verify the required parameter 'property' is set
      if @api_client.config.client_side_validation && property.nil?
        fail ArgumentError, "Missing the required parameter 'property' when calling PropertiesApi.replace_property"
      end
      # resource path
      local_var_path = '/properties/{propertyId}'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(property)

      # return_type
      return_type = opts[:debug_return_type] || 'Property'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.replace_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#replace_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace rate strategy (full update)
    # Replace rate strategy with complete new pricing rules, restrictions, and yield management settings
    # @param strategy_id [String] 
    # @param rate_strategy [RateStrategy] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [RateStrategy]
    def replace_rate_strategy(strategy_id, rate_strategy, opts = {})
      data, _status_code, _headers = replace_rate_strategy_with_http_info(strategy_id, rate_strategy, opts)
      data
    end

    # Replace rate strategy (full update)
    # Replace rate strategy with complete new pricing rules, restrictions, and yield management settings
    # @param strategy_id [String] 
    # @param rate_strategy [RateStrategy] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(RateStrategy, Integer, Hash)>] RateStrategy data, response status code and response headers
    def replace_rate_strategy_with_http_info(strategy_id, rate_strategy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.replace_rate_strategy ...'
      end
      # verify the required parameter 'strategy_id' is set
      if @api_client.config.client_side_validation && strategy_id.nil?
        fail ArgumentError, "Missing the required parameter 'strategy_id' when calling PropertiesApi.replace_rate_strategy"
      end
      # verify the required parameter 'rate_strategy' is set
      if @api_client.config.client_side_validation && rate_strategy.nil?
        fail ArgumentError, "Missing the required parameter 'rate_strategy' when calling PropertiesApi.replace_rate_strategy"
      end
      # resource path
      local_var_path = '/rate-strategies/{strategyId}'.sub('{' + 'strategyId' + '}', CGI.escape(strategy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rate_strategy)

      # return_type
      return_type = opts[:debug_return_type] || 'RateStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.replace_rate_strategy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#replace_rate_strategy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update inventory unit (partial update)
    # Update specific fields of an inventory unit.  **Common use cases:** - Change unit status (AVAILABLE → MAINTENANCE) - Update room features - Modify floor/location - Update amenities 
    # @param unit_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Object]
    def update_inventory_unit(unit_id, body, opts = {})
      data, _status_code, _headers = update_inventory_unit_with_http_info(unit_id, body, opts)
      data
    end

    # Update inventory unit (partial update)
    # Update specific fields of an inventory unit.  **Common use cases:** - Change unit status (AVAILABLE → MAINTENANCE) - Update room features - Modify floor/location - Update amenities 
    # @param unit_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_inventory_unit_with_http_info(unit_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.update_inventory_unit ...'
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling PropertiesApi.update_inventory_unit"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PropertiesApi.update_inventory_unit"
      end
      # resource path
      local_var_path = '/inventory-units/{unitId}'.sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.update_inventory_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#update_inventory_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update property (partial update)
    # Partially update a property. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts  **Example:** Update only the property name and contact email: ```json {   \"name\": \"New Property Name\",   \"contactInfo\": {     \"email\": \"newemail@property.com\"   } } ``` 
    # @param property_id [String] Unique property identifier
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Property]
    def update_property(property_id, body, opts = {})
      data, _status_code, _headers = update_property_with_http_info(property_id, body, opts)
      data
    end

    # Update property (partial update)
    # Partially update a property. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag to prevent conflicts  **Example:** Update only the property name and contact email: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;New Property Name\&quot;,   \&quot;contactInfo\&quot;: {     \&quot;email\&quot;: \&quot;newemail@property.com\&quot;   } } &#x60;&#x60;&#x60; 
    # @param property_id [String] Unique property identifier
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Property, Integer, Hash)>] Property data, response status code and response headers
    def update_property_with_http_info(property_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.update_property ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling PropertiesApi.update_property"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PropertiesApi.update_property"
      end
      # resource path
      local_var_path = '/properties/{propertyId}'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Property'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.update_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#update_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update rate strategy (partial update)
    # Update specific fields of a rate strategy.  **Common use cases:** - Adjust base rate - Update seasonal modifiers - Change minimum stay requirements - Modify cancellation policy 
    # @param strategy_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [RateStrategy]
    def update_rate_strategy(strategy_id, body, opts = {})
      data, _status_code, _headers = update_rate_strategy_with_http_info(strategy_id, body, opts)
      data
    end

    # Update rate strategy (partial update)
    # Update specific fields of a rate strategy.  **Common use cases:** - Adjust base rate - Update seasonal modifiers - Change minimum stay requirements - Modify cancellation policy 
    # @param strategy_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(RateStrategy, Integer, Hash)>] RateStrategy data, response status code and response headers
    def update_rate_strategy_with_http_info(strategy_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PropertiesApi.update_rate_strategy ...'
      end
      # verify the required parameter 'strategy_id' is set
      if @api_client.config.client_side_validation && strategy_id.nil?
        fail ArgumentError, "Missing the required parameter 'strategy_id' when calling PropertiesApi.update_rate_strategy"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PropertiesApi.update_rate_strategy"
      end
      # resource path
      local_var_path = '/rate-strategies/{strategyId}'.sub('{' + 'strategyId' + '}', CGI.escape(strategy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'RateStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"PropertiesApi.update_rate_strategy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PropertiesApi#update_rate_strategy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
