=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class RateStrategiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create rate strategy
    # Create a new pricing strategy for the property
    # @param property_id [String] Unique property identifier
    # @param rate_strategy [RateStrategy] 
    # @param [Hash] opts the optional parameters
    # @return [RateStrategy]
    def create_rate_strategy(property_id, rate_strategy, opts = {})
      data, _status_code, _headers = create_rate_strategy_with_http_info(property_id, rate_strategy, opts)
      data
    end

    # Create rate strategy
    # Create a new pricing strategy for the property
    # @param property_id [String] Unique property identifier
    # @param rate_strategy [RateStrategy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RateStrategy, Integer, Hash)>] RateStrategy data, response status code and response headers
    def create_rate_strategy_with_http_info(property_id, rate_strategy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RateStrategiesApi.create_rate_strategy ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling RateStrategiesApi.create_rate_strategy"
      end
      # verify the required parameter 'rate_strategy' is set
      if @api_client.config.client_side_validation && rate_strategy.nil?
        fail ArgumentError, "Missing the required parameter 'rate_strategy' when calling RateStrategiesApi.create_rate_strategy"
      end
      # resource path
      local_var_path = '/properties/{propertyId}/rate-strategies'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rate_strategy)

      # return_type
      return_type = opts[:debug_return_type] || 'RateStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"RateStrategiesApi.create_rate_strategy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RateStrategiesApi#create_rate_strategy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List rate strategies
    # Retrieve all rate strategies for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :strategy_type Filter by strategy type
    # @option opts [Boolean] :is_active Filter by active status
    # @return [ListRateStrategies200Response]
    def list_rate_strategies(property_id, opts = {})
      data, _status_code, _headers = list_rate_strategies_with_http_info(property_id, opts)
      data
    end

    # List rate strategies
    # Retrieve all rate strategies for a property
    # @param property_id [String] Unique property identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :strategy_type Filter by strategy type
    # @option opts [Boolean] :is_active Filter by active status
    # @return [Array<(ListRateStrategies200Response, Integer, Hash)>] ListRateStrategies200Response data, response status code and response headers
    def list_rate_strategies_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RateStrategiesApi.list_rate_strategies ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling RateStrategiesApi.list_rate_strategies"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RateStrategiesApi.list_rate_strategies, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RateStrategiesApi.list_rate_strategies, must be greater than or equal to 1.'
      end

      allowable_values = ["STANDARD", "DYNAMIC", "PROMOTIONAL", "CORPORATE", "GROUP"]
      if @api_client.config.client_side_validation && opts[:'strategy_type'] && !allowable_values.include?(opts[:'strategy_type'])
        fail ArgumentError, "invalid value for \"strategy_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/properties/{propertyId}/rate-strategies'.sub('{' + 'propertyId' + '}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'strategyType'] = opts[:'strategy_type'] if !opts[:'strategy_type'].nil?
      query_params[:'isActive'] = opts[:'is_active'] if !opts[:'is_active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRateStrategies200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"RateStrategiesApi.list_rate_strategies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RateStrategiesApi#list_rate_strategies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
