=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class ReservationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add special request to reservation
    # Add a special request or note to an existing reservation
    # @param reservation_id [String] 
    # @param add_special_request_request [AddSpecialRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def add_special_request(reservation_id, add_special_request_request, opts = {})
      data, _status_code, _headers = add_special_request_with_http_info(reservation_id, add_special_request_request, opts)
      data
    end

    # Add special request to reservation
    # Add a special request or note to an existing reservation
    # @param reservation_id [String] 
    # @param add_special_request_request [AddSpecialRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def add_special_request_with_http_info(reservation_id, add_special_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.add_special_request ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.add_special_request"
      end
      # verify the required parameter 'add_special_request_request' is set
      if @api_client.config.client_side_validation && add_special_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_special_request_request' when calling ReservationsApi.add_special_request"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}/special-requests'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_special_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.add_special_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#add_special_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel reservation
    # Cancel an existing reservation
    # @param reservation_id [String] 
    # @param cancel_reservation_request [CancelReservationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def cancel_reservation(reservation_id, cancel_reservation_request, opts = {})
      data, _status_code, _headers = cancel_reservation_with_http_info(reservation_id, cancel_reservation_request, opts)
      data
    end

    # Cancel reservation
    # Cancel an existing reservation
    # @param reservation_id [String] 
    # @param cancel_reservation_request [CancelReservationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def cancel_reservation_with_http_info(reservation_id, cancel_reservation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.cancel_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.cancel_reservation"
      end
      # verify the required parameter 'cancel_reservation_request' is set
      if @api_client.config.client_side_validation && cancel_reservation_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_reservation_request' when calling ReservationsApi.cancel_reservation"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}/cancel'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_reservation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.cancel_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#cancel_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm reservation
    # Confirm a pending reservation
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def confirm_reservation(reservation_id, opts = {})
      data, _status_code, _headers = confirm_reservation_with_http_info(reservation_id, opts)
      data
    end

    # Confirm reservation
    # Confirm a pending reservation
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def confirm_reservation_with_http_info(reservation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.confirm_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.confirm_reservation"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}/confirm'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.confirm_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#confirm_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create reservation
    # Create a new reservation
    # @param reservation [Reservation] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def create_reservation(reservation, opts = {})
      data, _status_code, _headers = create_reservation_with_http_info(reservation, opts)
      data
    end

    # Create reservation
    # Create a new reservation
    # @param reservation [Reservation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def create_reservation_with_http_info(reservation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.create_reservation ...'
      end
      # verify the required parameter 'reservation' is set
      if @api_client.config.client_side_validation && reservation.nil?
        fail ArgumentError, "Missing the required parameter 'reservation' when calling ReservationsApi.create_reservation"
      end
      # resource path
      local_var_path = '/reservations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reservation)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.create_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#create_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get reservation details
    # Retrieve complete details of a specific reservation including guest information, dates, pricing, and current status
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def get_reservation(reservation_id, opts = {})
      data, _status_code, _headers = get_reservation_with_http_info(reservation_id, opts)
      data
    end

    # Get reservation details
    # Retrieve complete details of a specific reservation including guest information, dates, pricing, and current status
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def get_reservation_with_http_info(reservation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.get_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.get_reservation"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.get_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#get_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get reservation modification history
    # Retrieve complete history of changes to a reservation
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<GetReservationHistory200ResponseInner>]
    def get_reservation_history(reservation_id, opts = {})
      data, _status_code, _headers = get_reservation_history_with_http_info(reservation_id, opts)
      data
    end

    # Get reservation modification history
    # Retrieve complete history of changes to a reservation
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<GetReservationHistory200ResponseInner>, Integer, Hash)>] Array<GetReservationHistory200ResponseInner> data, response status code and response headers
    def get_reservation_history_with_http_info(reservation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.get_reservation_history ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.get_reservation_history"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}/history'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GetReservationHistory200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.get_reservation_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#get_reservation_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pricing quote
    # Calculate pricing for a potential reservation without creating it
    # @param get_reservation_quote_request [GetReservationQuoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetReservationQuote200Response]
    def get_reservation_quote(get_reservation_quote_request, opts = {})
      data, _status_code, _headers = get_reservation_quote_with_http_info(get_reservation_quote_request, opts)
      data
    end

    # Get pricing quote
    # Calculate pricing for a potential reservation without creating it
    # @param get_reservation_quote_request [GetReservationQuoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetReservationQuote200Response, Integer, Hash)>] GetReservationQuote200Response data, response status code and response headers
    def get_reservation_quote_with_http_info(get_reservation_quote_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.get_reservation_quote ...'
      end
      # verify the required parameter 'get_reservation_quote_request' is set
      if @api_client.config.client_side_validation && get_reservation_quote_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_reservation_quote_request' when calling ReservationsApi.get_reservation_quote"
      end
      # resource path
      local_var_path = '/reservations/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_reservation_quote_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetReservationQuote200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.get_reservation_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#get_reservation_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark reservation as no-show
    # Mark a reservation as no-show when guest doesn't arrive
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [MarkReservationNoShowRequest] :mark_reservation_no_show_request 
    # @return [Reservation]
    def mark_reservation_no_show(reservation_id, opts = {})
      data, _status_code, _headers = mark_reservation_no_show_with_http_info(reservation_id, opts)
      data
    end

    # Mark reservation as no-show
    # Mark a reservation as no-show when guest doesn&#39;t arrive
    # @param reservation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [MarkReservationNoShowRequest] :mark_reservation_no_show_request 
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def mark_reservation_no_show_with_http_info(reservation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.mark_reservation_no_show ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.mark_reservation_no_show"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}/no-show'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'mark_reservation_no_show_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.mark_reservation_no_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#mark_reservation_no_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace reservation (full update)
    # Replace an existing reservation with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts 
    # @param reservation_id [String] 
    # @param reservation [Reservation] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Reservation]
    def replace_reservation(reservation_id, reservation, opts = {})
      data, _status_code, _headers = replace_reservation_with_http_info(reservation_id, reservation, opts)
      data
    end

    # Replace reservation (full update)
    # Replace an existing reservation with a complete new representation. All fields must be provided. For partial updates, use PATCH instead.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag to prevent conflicts 
    # @param reservation_id [String] 
    # @param reservation [Reservation] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def replace_reservation_with_http_info(reservation_id, reservation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.replace_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.replace_reservation"
      end
      # verify the required parameter 'reservation' is set
      if @api_client.config.client_side_validation && reservation.nil?
        fail ArgumentError, "Missing the required parameter 'reservation' when calling ReservationsApi.replace_reservation"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reservation)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.replace_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#replace_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Advanced reservation search
    # Search reservations with advanced filters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :guest_name 
    # @option opts [String] :confirmation_number 
    # @option opts [String] :status 
    # @option opts [Date] :check_in_date 
    # @option opts [Date] :check_out_date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [SearchReservations200Response]
    def search_reservations(opts = {})
      data, _status_code, _headers = search_reservations_with_http_info(opts)
      data
    end

    # Advanced reservation search
    # Search reservations with advanced filters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property_id 
    # @option opts [String] :guest_name 
    # @option opts [String] :confirmation_number 
    # @option opts [String] :status 
    # @option opts [Date] :check_in_date 
    # @option opts [Date] :check_out_date 
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @return [Array<(SearchReservations200Response, Integer, Hash)>] SearchReservations200Response data, response status code and response headers
    def search_reservations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.search_reservations ...'
      end
      allowable_values = ["PENDING", "CONFIRMED", "CHECKED_IN", "CHECKED_OUT", "CANCELLED", "NO_SHOW"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReservationsApi.search_reservations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReservationsApi.search_reservations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/reservations/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'guestName'] = opts[:'guest_name'] if !opts[:'guest_name'].nil?
      query_params[:'confirmationNumber'] = opts[:'confirmation_number'] if !opts[:'confirmation_number'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'checkInDate'] = opts[:'check_in_date'] if !opts[:'check_in_date'].nil?
      query_params[:'checkOutDate'] = opts[:'check_out_date'] if !opts[:'check_out_date'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchReservations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.search_reservations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#search_reservations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update reservation (partial update)
    # Partially update a reservation. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts  **Common use cases:** - Update special requests - Change guest count - Modify arrival time - Add notes 
    # @param reservation_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Reservation]
    def update_reservation(reservation_id, body, opts = {})
      data, _status_code, _headers = update_reservation_with_http_info(reservation_id, body, opts)
      data
    end

    # Update reservation (partial update)
    # Partially update a reservation. Only provided fields will be updated. This is the recommended method for most updates.  **Optimistic Locking:** Use &#x60;If-Match&#x60; header with ETag to prevent conflicts  **Common use cases:** - Update special requests - Change guest count - Modify arrival time - Add notes 
    # @param reservation_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def update_reservation_with_http_info(reservation_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.update_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationsApi.update_reservation"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ReservationsApi.update_reservation"
      end
      # resource path
      local_var_path = '/reservations/{reservationId}'.sub('{' + 'reservationId' + '}', CGI.escape(reservation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"ReservationsApi.update_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#update_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
