=begin
#Noventrix StayOS API

## Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

The version of the OpenAPI document: 1.0.0
Contact: api-support@noventrix.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class StaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add incidental charge
    # Add an incidental charge to the stay
    # @param stay_id [String] 
    # @param line_item [LineItem] 
    # @param [Hash] opts the optional parameters
    # @return [LineItem]
    def add_stay_charge(stay_id, line_item, opts = {})
      data, _status_code, _headers = add_stay_charge_with_http_info(stay_id, line_item, opts)
      data
    end

    # Add incidental charge
    # Add an incidental charge to the stay
    # @param stay_id [String] 
    # @param line_item [LineItem] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LineItem, Integer, Hash)>] LineItem data, response status code and response headers
    def add_stay_charge_with_http_info(stay_id, line_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.add_stay_charge ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.add_stay_charge"
      end
      # verify the required parameter 'line_item' is set
      if @api_client.config.client_side_validation && line_item.nil?
        fail ArgumentError, "Missing the required parameter 'line_item' when calling StaysApi.add_stay_charge"
      end
      # resource path
      local_var_path = '/stays/{stayId}/charges'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(line_item)

      # return_type
      return_type = opts[:debug_return_type] || 'LineItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.add_stay_charge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#add_stay_charge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check-out guest
    # Process guest checkout
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CheckoutStayRequest] :checkout_stay_request 
    # @return [Stay]
    def checkout_stay(stay_id, opts = {})
      data, _status_code, _headers = checkout_stay_with_http_info(stay_id, opts)
      data
    end

    # Check-out guest
    # Process guest checkout
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CheckoutStayRequest] :checkout_stay_request 
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def checkout_stay_with_http_info(stay_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.checkout_stay ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.checkout_stay"
      end
      # resource path
      local_var_path = '/stays/{stayId}/checkout'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'checkout_stay_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.checkout_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#checkout_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create stay (check-in)
    # Create a new stay when guest checks in
    # @param stay [Stay] 
    # @param [Hash] opts the optional parameters
    # @return [Stay]
    def create_stay(stay, opts = {})
      data, _status_code, _headers = create_stay_with_http_info(stay, opts)
      data
    end

    # Create stay (check-in)
    # Create a new stay when guest checks in
    # @param stay [Stay] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def create_stay_with_http_info(stay, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.create_stay ...'
      end
      # verify the required parameter 'stay' is set
      if @api_client.config.client_side_validation && stay.nil?
        fail ArgumentError, "Missing the required parameter 'stay' when calling StaysApi.create_stay"
      end
      # resource path
      local_var_path = '/stays'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stay)

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.create_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#create_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate key card
    # Deactivate a key card
    # @param stay_id [String] 
    # @param card_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def deactivate_key_card(stay_id, card_id, opts = {})
      deactivate_key_card_with_http_info(stay_id, card_id, opts)
      nil
    end

    # Deactivate key card
    # Deactivate a key card
    # @param stay_id [String] 
    # @param card_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def deactivate_key_card_with_http_info(stay_id, card_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.deactivate_key_card ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.deactivate_key_card"
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_id' when calling StaysApi.deactivate_key_card"
      end
      # resource path
      local_var_path = '/stays/{stayId}/key-cards/{cardId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s)).sub('{' + 'cardId' + '}', CGI.escape(card_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.deactivate_key_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#deactivate_key_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extend stay
    # Extend guest stay to a new checkout date
    # @param stay_id [String] 
    # @param extend_stay_request [ExtendStayRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Stay]
    def extend_stay(stay_id, extend_stay_request, opts = {})
      data, _status_code, _headers = extend_stay_with_http_info(stay_id, extend_stay_request, opts)
      data
    end

    # Extend stay
    # Extend guest stay to a new checkout date
    # @param stay_id [String] 
    # @param extend_stay_request [ExtendStayRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def extend_stay_with_http_info(stay_id, extend_stay_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.extend_stay ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.extend_stay"
      end
      # verify the required parameter 'extend_stay_request' is set
      if @api_client.config.client_side_validation && extend_stay_request.nil?
        fail ArgumentError, "Missing the required parameter 'extend_stay_request' when calling StaysApi.extend_stay"
      end
      # resource path
      local_var_path = '/stays/{stayId}/extend'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extend_stay_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.extend_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#extend_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stay details
    # Retrieve details of a specific stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Stay]
    def get_stay(stay_id, opts = {})
      data, _status_code, _headers = get_stay_with_http_info(stay_id, opts)
      data
    end

    # Get stay details
    # Retrieve details of a specific stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def get_stay_with_http_info(stay_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.get_stay ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.get_stay"
      end
      # resource path
      local_var_path = '/stays/{stayId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.get_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#get_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue key card
    # Issue a new key card for the stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [KeyCard] :key_card 
    # @return [KeyCard]
    def issue_key_card(stay_id, opts = {})
      data, _status_code, _headers = issue_key_card_with_http_info(stay_id, opts)
      data
    end

    # Issue key card
    # Issue a new key card for the stay
    # @param stay_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [KeyCard] :key_card 
    # @return [Array<(KeyCard, Integer, Hash)>] KeyCard data, response status code and response headers
    def issue_key_card_with_http_info(stay_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.issue_key_card ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.issue_key_card"
      end
      # resource path
      local_var_path = '/stays/{stayId}/key-cards'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'key_card'])

      # return_type
      return_type = opts[:debug_return_type] || 'KeyCard'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.issue_key_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#issue_key_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active stays
    # Retrieve all active guest stays
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @return [ListStays200Response]
    def list_stays(opts = {})
      data, _status_code, _headers = list_stays_with_http_info(opts)
      data
    end

    # List active stays
    # Retrieve all active guest stays
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items per page (max 100) (default to 20)
    # @option opts [String] :cursor Cursor for pagination (opaque token)
    # @option opts [String] :property_id 
    # @option opts [String] :status 
    # @return [Array<(ListStays200Response, Integer, Hash)>] ListStays200Response data, response status code and response headers
    def list_stays_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.list_stays ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StaysApi.list_stays, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StaysApi.list_stays, must be greater than or equal to 1.'
      end

      allowable_values = ["CHECKED_IN", "IN_HOUSE", "CHECKED_OUT"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/stays'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'propertyId'] = opts[:'property_id'] if !opts[:'property_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStays200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.list_stays",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#list_stays\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace stay (full update)
    # Replace stay with complete new details
    # @param stay_id [String] 
    # @param stay [Stay] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Stay]
    def replace_stay(stay_id, stay, opts = {})
      data, _status_code, _headers = replace_stay_with_http_info(stay_id, stay, opts)
      data
    end

    # Replace stay (full update)
    # Replace stay with complete new details
    # @param stay_id [String] 
    # @param stay [Stay] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def replace_stay_with_http_info(stay_id, stay, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.replace_stay ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.replace_stay"
      end
      # verify the required parameter 'stay' is set
      if @api_client.config.client_side_validation && stay.nil?
        fail ArgumentError, "Missing the required parameter 'stay' when calling StaysApi.replace_stay"
      end
      # resource path
      local_var_path = '/stays/{stayId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(stay)

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.replace_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#replace_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update stay (partial update)
    # Update specific fields of a stay
    # @param stay_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Stay]
    def update_stay(stay_id, body, opts = {})
      data, _status_code, _headers = update_stay_with_http_info(stay_id, body, opts)
      data
    end

    # Update stay (partial update)
    # Update specific fields of a stay
    # @param stay_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match ETag for optimistic locking
    # @return [Array<(Stay, Integer, Hash)>] Stay data, response status code and response headers
    def update_stay_with_http_info(stay_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaysApi.update_stay ...'
      end
      # verify the required parameter 'stay_id' is set
      if @api_client.config.client_side_validation && stay_id.nil?
        fail ArgumentError, "Missing the required parameter 'stay_id' when calling StaysApi.update_stay"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StaysApi.update_stay"
      end
      # resource path
      local_var_path = '/stays/{stayId}'.sub('{' + 'stayId' + '}', CGI.escape(stay_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Stay'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'OAuth2']

      new_options = opts.merge(
        :operation => :"StaysApi.update_stay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaysApi#update_stay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
