/*
Noventrix StayOS API

# Noventrix StayOS - Comprehensive Hospitality Management API  **Version:** 1.0.0   **Status:** Production Ready   **Last Updated:** 2025-12-18  ## Overview  StayOS provides a complete RESTful API for hospitality management, covering: - Property & Inventory Management - Reservation & Booking Lifecycle - Guest Profiles & Loyalty - Operations (Housekeeping & Maintenance) - Billing & Payments - Compliance & Audit - Channel Management & Distribution  ## Architecture Principles  - **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes - **HATEOAS:** Hypermedia links for discoverability - **Idempotency:** Safe retries using idempotency keys - **Versioning:** URL-based versioning (/v1/, /v2/) - **Pagination:** Cursor-based for large datasets - **Filtering:** Rich query parameters following JSON:API conventions - **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)  ## Authentication & Security  - **OAuth 2.0 + OpenID Connect** for user authentication - **API Keys** for server-to-server integration - **JWT Bearer Tokens** with short expiry (15 minutes) - **Refresh Tokens** for session management - **Scopes** for fine-grained authorization - **mTLS** for high-security integrations  ## Error Handling  All errors follow RFC 7807 (Problem Details for HTTP APIs): ```json {   \"type\": \"https://api.stayos.com/errors/validation-error\",   \"title\": \"Validation Failed\",   \"status\": 400,   \"detail\": \"Check-out date must be after check-in date\",   \"instance\": \"/reservations/create\",   \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",   \"errors\": [     {       \"field\": \"checkOutDate\",       \"code\": \"INVALID_DATE_RANGE\",       \"message\": \"Check-out date must be after check-in date\"     }   ] } ```  ## Rate Limiting  - **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` - **Status Code:** 429 Too Many Requests - **Retry-After:** Seconds until rate limit resets  ## Webhooks  StayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.  ## Support  - **Documentation:** https://docs.stayos.com - **API Status:** https://status.stayos.com - **Support:** api-support@noventrix.com 

API version: 1.0.0
Contact: api-support@noventrix.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package stayos

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AvailabilityAPIService AvailabilityAPI service
type AvailabilityAPIService service

type ApiCreateInventoryBlockRequest struct {
	ctx context.Context
	ApiService *AvailabilityAPIService
	createInventoryBlockRequest *CreateInventoryBlockRequest
}

func (r ApiCreateInventoryBlockRequest) CreateInventoryBlockRequest(createInventoryBlockRequest CreateInventoryBlockRequest) ApiCreateInventoryBlockRequest {
	r.createInventoryBlockRequest = &createInventoryBlockRequest
	return r
}

func (r ApiCreateInventoryBlockRequest) Execute() (*CreateInventoryBlock201Response, *http.Response, error) {
	return r.ApiService.CreateInventoryBlockExecute(r)
}

/*
CreateInventoryBlock Block inventory

Create an inventory block (for groups, maintenance, etc.)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateInventoryBlockRequest
*/
func (a *AvailabilityAPIService) CreateInventoryBlock(ctx context.Context) ApiCreateInventoryBlockRequest {
	return ApiCreateInventoryBlockRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateInventoryBlock201Response
func (a *AvailabilityAPIService) CreateInventoryBlockExecute(r ApiCreateInventoryBlockRequest) (*CreateInventoryBlock201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateInventoryBlock201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvailabilityAPIService.CreateInventoryBlock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/availability/block"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createInventoryBlockRequest == nil {
		return localVarReturnValue, nil, reportError("createInventoryBlockRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createInventoryBlockRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteInventoryBlockRequest struct {
	ctx context.Context
	ApiService *AvailabilityAPIService
	blockId string
}

func (r ApiDeleteInventoryBlockRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteInventoryBlockExecute(r)
}

/*
DeleteInventoryBlock Remove inventory block

Remove an existing inventory block

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param blockId
 @return ApiDeleteInventoryBlockRequest
*/
func (a *AvailabilityAPIService) DeleteInventoryBlock(ctx context.Context, blockId string) ApiDeleteInventoryBlockRequest {
	return ApiDeleteInventoryBlockRequest{
		ApiService: a,
		ctx: ctx,
		blockId: blockId,
	}
}

// Execute executes the request
func (a *AvailabilityAPIService) DeleteInventoryBlockExecute(r ApiDeleteInventoryBlockRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvailabilityAPIService.DeleteInventoryBlock")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/availability/block/{blockId}"
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAvailabilityCalendarRequest struct {
	ctx context.Context
	ApiService *AvailabilityAPIService
	propertyId *string
	startDate *string
	endDate *string
	unitTypeId *string
}

func (r ApiGetAvailabilityCalendarRequest) PropertyId(propertyId string) ApiGetAvailabilityCalendarRequest {
	r.propertyId = &propertyId
	return r
}

func (r ApiGetAvailabilityCalendarRequest) StartDate(startDate string) ApiGetAvailabilityCalendarRequest {
	r.startDate = &startDate
	return r
}

func (r ApiGetAvailabilityCalendarRequest) EndDate(endDate string) ApiGetAvailabilityCalendarRequest {
	r.endDate = &endDate
	return r
}

func (r ApiGetAvailabilityCalendarRequest) UnitTypeId(unitTypeId string) ApiGetAvailabilityCalendarRequest {
	r.unitTypeId = &unitTypeId
	return r
}

func (r ApiGetAvailabilityCalendarRequest) Execute() (*AvailabilityCalendar, *http.Response, error) {
	return r.ApiService.GetAvailabilityCalendarExecute(r)
}

/*
GetAvailabilityCalendar Get availability calendar

Retrieve availability calendar for specified date range

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAvailabilityCalendarRequest
*/
func (a *AvailabilityAPIService) GetAvailabilityCalendar(ctx context.Context) ApiGetAvailabilityCalendarRequest {
	return ApiGetAvailabilityCalendarRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AvailabilityCalendar
func (a *AvailabilityAPIService) GetAvailabilityCalendarExecute(r ApiGetAvailabilityCalendarRequest) (*AvailabilityCalendar, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AvailabilityCalendar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvailabilityAPIService.GetAvailabilityCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/availability/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.propertyId == nil {
		return localVarReturnValue, nil, reportError("propertyId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "propertyId", r.propertyId, "form", "")
	if r.unitTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unitTypeId", r.unitTypeId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchAvailabilityRequest struct {
	ctx context.Context
	ApiService *AvailabilityAPIService
	searchAvailabilityRequest *SearchAvailabilityRequest
}

func (r ApiSearchAvailabilityRequest) SearchAvailabilityRequest(searchAvailabilityRequest SearchAvailabilityRequest) ApiSearchAvailabilityRequest {
	r.searchAvailabilityRequest = &searchAvailabilityRequest
	return r
}

func (r ApiSearchAvailabilityRequest) Execute() (*SearchAvailability200Response, *http.Response, error) {
	return r.ApiService.SearchAvailabilityExecute(r)
}

/*
SearchAvailability Search availability

Search for available inventory across properties based on criteria.

This is the primary endpoint for booking engines and search interfaces.

**Performance:** Optimized for sub-200ms response time

**Caching:** Results cached for 5 minutes


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchAvailabilityRequest
*/
func (a *AvailabilityAPIService) SearchAvailability(ctx context.Context) ApiSearchAvailabilityRequest {
	return ApiSearchAvailabilityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchAvailability200Response
func (a *AvailabilityAPIService) SearchAvailabilityExecute(r ApiSearchAvailabilityRequest) (*SearchAvailability200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchAvailability200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvailabilityAPIService.SearchAvailability")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/availability/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchAvailabilityRequest == nil {
		return localVarReturnValue, nil, reportError("searchAvailabilityRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchAvailabilityRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAvailabilityCalendarRequest struct {
	ctx context.Context
	ApiService *AvailabilityAPIService
	updateAvailabilityCalendarRequest *UpdateAvailabilityCalendarRequest
}

func (r ApiUpdateAvailabilityCalendarRequest) UpdateAvailabilityCalendarRequest(updateAvailabilityCalendarRequest UpdateAvailabilityCalendarRequest) ApiUpdateAvailabilityCalendarRequest {
	r.updateAvailabilityCalendarRequest = &updateAvailabilityCalendarRequest
	return r
}

func (r ApiUpdateAvailabilityCalendarRequest) Execute() (*UpdateAvailabilityCalendar200Response, *http.Response, error) {
	return r.ApiService.UpdateAvailabilityCalendarExecute(r)
}

/*
UpdateAvailabilityCalendar Update availability calendar (bulk)

Bulk update availability for multiple dates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateAvailabilityCalendarRequest
*/
func (a *AvailabilityAPIService) UpdateAvailabilityCalendar(ctx context.Context) ApiUpdateAvailabilityCalendarRequest {
	return ApiUpdateAvailabilityCalendarRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UpdateAvailabilityCalendar200Response
func (a *AvailabilityAPIService) UpdateAvailabilityCalendarExecute(r ApiUpdateAvailabilityCalendarRequest) (*UpdateAvailabilityCalendar200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateAvailabilityCalendar200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvailabilityAPIService.UpdateAvailabilityCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/availability/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateAvailabilityCalendarRequest == nil {
		return localVarReturnValue, nil, reportError("updateAvailabilityCalendarRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateAvailabilityCalendarRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Model0
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
