apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  labels:
    app: api-gateway
    tier: gateway
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: api-gateway
  sessionAffinity: None
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-headless
  labels:
    app: api-gateway
    tier: gateway
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: api-gateway

