openapi: 3.1.0
info:
  contact:
    email: api-support@noventrix.com
    name: Noventrix API Support
    url: https://docs.stayos.com
  description: "# Noventrix StayOS - Comprehensive Hospitality Management API\n\n\
    **Version:** 1.0.0  \n**Status:** Production Ready  \n**Last Updated:** 2025-12-18\n\
    \n## Overview\n\nStayOS provides a complete RESTful API for hospitality management,\
    \ covering:\n- Property & Inventory Management\n- Reservation & Booking Lifecycle\n\
    - Guest Profiles & Loyalty\n- Operations (Housekeeping & Maintenance)\n- Billing\
    \ & Payments\n- Compliance & Audit\n- Channel Management & Distribution\n\n##\
    \ Architecture Principles\n\n- **RESTful Design:** Resource-oriented URLs, HTTP\
    \ verbs, standard status codes\n- **HATEOAS:** Hypermedia links for discoverability\n\
    - **Idempotency:** Safe retries using idempotency keys\n- **Versioning:** URL-based\
    \ versioning (/v1/, /v2/)\n- **Pagination:** Cursor-based for large datasets\n\
    - **Filtering:** Rich query parameters following JSON:API conventions\n- **Rate\
    \ Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)\n\
    \n## Authentication & Security\n\n- **OAuth 2.0 + OpenID Connect** for user authentication\n\
    - **API Keys** for server-to-server integration\n- **JWT Bearer Tokens** with\
    \ short expiry (15 minutes)\n- **Refresh Tokens** for session management\n- **Scopes**\
    \ for fine-grained authorization\n- **mTLS** for high-security integrations\n\n\
    ## Error Handling\n\nAll errors follow RFC 7807 (Problem Details for HTTP APIs):\n\
    ```json\n{\n  \"type\": \"https://api.stayos.com/errors/validation-error\",\n\
    \  \"title\": \"Validation Failed\",\n  \"status\": 400,\n  \"detail\": \"Check-out\
    \ date must be after check-in date\",\n  \"instance\": \"/reservations/create\"\
    ,\n  \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",\n  \"errors\": [\n\
    \    {\n      \"field\": \"checkOutDate\",\n      \"code\": \"INVALID_DATE_RANGE\"\
    ,\n      \"message\": \"Check-out date must be after check-in date\"\n    }\n\
    \  ]\n}\n```\n\n## Rate Limiting\n\n- **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`,\
    \ `X-RateLimit-Reset`\n- **Status Code:** 429 Too Many Requests\n- **Retry-After:**\
    \ Seconds until rate limit resets\n\n## Webhooks\n\nStayOS supports webhooks for\
    \ real-time event notifications. See `/webhooks` endpoints.\n\n## Support\n\n\
    - **Documentation:** https://docs.stayos.com\n- **API Status:** https://status.stayos.com\n\
    - **Support:** api-support@noventrix.com\n"
  license:
    name: Proprietary
    url: https://noventrix.com/license
  termsOfService: https://noventrix.com/terms
  title: Noventrix StayOS API
  version: 1.0.0
servers:
- description: Production
  url: https://api.stayos.com/v1
- description: Staging
  url: https://api-staging.stayos.com/v1
- description: Sandbox (Test Environment)
  url: https://api-sandbox.stayos.com/v1
- description: Local Development
  url: http://localhost:8080/v1
security:
- OAuth2:
  - read:properties
  - write:properties
  - read:reservations
  - write:reservations
  - read:guests
  - write:guests
  - read:payments
  - write:payments
  - admin:all
- BearerAuth: []
- ApiKeyAuth: []
tags:
- description: Property and organizational management
  name: Properties
- description: "Inventory units (rooms, beds, suites) management"
  name: Inventory
- description: "Pricing, rate plans, and yield management"
  name: Rate Strategies
- description: Availability calendar and inventory allocation
  name: Availability
- description: Booking lifecycle management
  name: Reservations
- description: "Guest profiles, preferences, and loyalty"
  name: Guests
- description: Active guest stays and check-in/check-out
  name: Stays
- description: "Housekeeping, maintenance, and service request operations"
  name: Operations
- description: Housekeeping tasks and quality management
  name: Housekeeping
- description: Maintenance requests and asset management
  name: Maintenance
- description: Guest service requests and concierge services
  name: ServiceRequests
- description: Staff scheduling and shift management
  name: Staff
- description: "F&B orders, menu management, and dining services"
  name: Food & Beverage
- description: "Billing, folios, and charge management"
  name: Billing
- description: Guest folios and charge management
  name: Folios
- description: Payment processing and settlements
  name: Payments
- description: "Purchase orders, suppliers, and inventory procurement"
  name: Procurement
- description: Audit logs and compliance tracking
  name: Audit
- description: Regulatory reporting and certifications
  name: Compliance
- description: Channel management and distribution
  name: Channels
- description: Webhook configuration and event subscriptions
  name: Webhooks
- description: "System health, metrics, and configuration"
  name: System
paths:
  /properties:
    get:
      description: |
        Retrieve a paginated list of properties. Supports filtering, sorting, and field expansion.

        **Authorization:** Requires `read:properties` scope

        **Rate Limit:** 100 requests/minute
      operationId: listProperties
      parameters:
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - description: Filter by organization
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter by operational status
        explode: true
        in: query
        name: operationalStatus
        required: false
        schema:
          enum:
          - ACTIVE
          - SUSPENDED
          - CLOSED
          type: string
        style: form
      - description: Filter by property classification
        explode: true
        in: query
        name: classification
        required: false
        schema:
          enum:
          - HOTEL
          - HOSTEL
          - RESORT
          - BOUTIQUE
          type: string
        style: form
      - $ref: "#/components/parameters/SortBy"
      - $ref: "#/components/parameters/SortOrder"
      - $ref: "#/components/parameters/Expand"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - propertyId: 550e8400-e29b-41d4-a716-446655440000
                  name: Grand Plaza Hotel
                  classification: HOTEL
                  starRating: 4.5
                  operationalStatus: ACTIVE
                  timezone: America/Los_Angeles
                  location:
                    city: San Francisco
                    country: US
                  links:
                    self: https://api.stayos.com/v1/properties/550e8400-e29b-41d4-a716-446655440000
                pagination:
                  pageSize: 20
                  cursor: eyJpZCI6MTIzNDU2fQ==
                  hasMore: true
                links:
                  self: https://api.stayos.com/v1/properties?pageSize=20
                  next: https://api.stayos.com/v1/properties?pageSize=20&cursor=eyJpZCI6MTIzNDU2fQ==
              schema:
                $ref: "#/components/schemas/listProperties_200_response"
          description: Successful response
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:properties
      - BearerAuth: []
      summary: List properties
      tags:
      - Properties
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Create a new property. This is typically an administrative operation.

        **Authorization:** Requires `write:properties` or `admin:all` scope

        **Idempotency:** Supports idempotency via `Idempotency-Key` header
      operationId: createProperty
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            example:
              name: Grand Plaza Hotel
              classification: HOTEL
              starRating: 4.5
              location:
                street: 123 Main Street
                city: San Francisco
                state: CA
                postalCode: "94102"
                country: US
              coordinates:
                latitude: 37.7749
                longitude: -122.4194
              timezone: America/Los_Angeles
              policies:
                checkInTime: 15:00
                checkOutTime: 11:00
                cancellationPolicy:
                  refundability: FULLY_REFUNDABLE
                  freeCancellationHours: 24
              amenities:
              - WIFI
              - PARKING
              - POOL
              - GYM
              contactInfo:
                email: info@grandplaza.com
                phone: "+14155551234"
            schema:
              $ref: "#/components/schemas/Property"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
          description: Property created successfully
          headers:
            Location:
              $ref: "#/components/headers/Location"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:properties
        - admin:all
      summary: Create property
      tags:
      - Properties
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /properties/{propertyId}:
    delete:
      description: |
        Soft delete a property. Property status changes to CLOSED.

        **Warning:** This operation cannot be undone. All future reservations will be cancelled.
      operationId: deleteProperty
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Cannot delete property with active reservations
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - admin:all
      summary: Delete property
      tags:
      - Properties
      x-accepts:
      - application/problem+json
    get:
      description: Retrieve detailed information about a specific property
      operationId: getProperty
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/Expand"
      - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
          description: Successful response
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "304":
          description: Not Modified (cached version is current)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:properties
      - BearerAuth: []
      summary: Get property by ID
      tags:
      - Properties
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: |
        Partially update a property. Only provided fields will be updated.
        This is the recommended method for most updates.

        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts

        **Example:** Update only the property name and contact email:
        ```json
        {
          "name": "New Property Name",
          "contactInfo": {
            "email": "newemail@property.com"
          }
        }
        ```
      operationId: updateProperty
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              name: Updated Property Name
              contactInfo:
                email: newemail@example.com
            schema:
              description: Partial property update (only include fields to change)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:properties
      summary: Update property (partial update)
      tags:
      - Properties
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: |
        Replace an existing property with a complete new representation.
        All fields must be provided. For partial updates, use PATCH instead.

        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts
      operationId: replaceProperty
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Property"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:properties
      summary: Replace property (full update)
      tags:
      - Properties
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /properties/{propertyId}/inventory-units:
    get:
      description: "Retrieve all inventory units (rooms, beds, suites) for a property"
      operationId: listInventoryUnits
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - description: Filter by unit type
        explode: true
        in: query
        name: unitTypeId
        required: false
        schema:
          format: uuid
        style: form
      - description: Filter by operational status
        explode: true
        in: query
        name: operationalStatus
        required: false
        schema:
          enum:
          - AVAILABLE
          - OCCUPIED
          - BLOCKED
          - OUT_OF_SERVICE
        style: form
      - description: Filter by floor number
        explode: true
        in: query
        name: floor
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listInventoryUnits_200_response"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:inventory
      summary: List inventory units for property
      tags:
      - Inventory
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Add a new inventory unit to the property
      operationId: createInventoryUnit
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            example:
              propertyId: 550e8400-e29b-41d4-a716-446655440000
              unitNumber: "101"
              unitTypeId: 880e8400-e29b-41d4-a716-446655440000
              floor: 1
              physicalStatus: OPERATIONAL
              operationalStatus: AVAILABLE
            schema:
              $ref: "#/components/schemas/InventoryUnit"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryUnit"
          description: Inventory unit created successfully
          headers:
            Location:
              $ref: "#/components/headers/Location"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unit number already exists
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:inventory
      summary: Create inventory unit
      tags:
      - Inventory
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /properties/{propertyId}/rate-strategies:
    get:
      description: Retrieve all rate strategies for a property
      operationId: listRateStrategies
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      - $ref: "#/components/parameters/PageSize"
      - description: Filter by strategy type
        explode: true
        in: query
        name: strategyType
        required: false
        schema:
          enum:
          - STANDARD
          - DYNAMIC
          - PROMOTIONAL
          - CORPORATE
          - GROUP
        style: form
      - description: Filter by active status
        explode: true
        in: query
        name: isActive
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRateStrategies_200_response"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:properties
      summary: List rate strategies
      tags:
      - Rate Strategies
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Create a new pricing strategy for the property
      operationId: createRateStrategy
      parameters:
      - $ref: "#/components/parameters/PropertyId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateStrategy"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateStrategy"
          description: Rate strategy created successfully
          headers:
            Location:
              $ref: "#/components/headers/Location"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:properties
      summary: Create rate strategy
      tags:
      - Rate Strategies
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /availability/search:
    post:
      description: |
        Search for available inventory across properties based on criteria.

        This is the primary endpoint for booking engines and search interfaces.

        **Performance:** Optimized for sub-200ms response time

        **Caching:** Results cached for 5 minutes
      operationId: searchAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/searchAvailability_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchAvailability_200_response"
          description: Available inventory found
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:inventory
      - BearerAuth: []
      summary: Search availability
      tags:
      - Availability
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /availability/calendar:
    get:
      description: Retrieve availability calendar for specified date range
      operationId: getAvailabilityCalendar
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: true
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: unitTypeId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityCalendar"
          description: Successful response
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:inventory
      summary: Get availability calendar
      tags:
      - Availability
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: Bulk update availability for multiple dates
      operationId: updateAvailabilityCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAvailabilityCalendar_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateAvailabilityCalendar_200_response"
          description: Successfully updated
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:inventory
      summary: Update availability calendar (bulk)
      tags:
      - Availability
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /availability/block:
    post:
      description: "Create an inventory block (for groups, maintenance, etc.)"
      operationId: createInventoryBlock
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createInventoryBlock_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInventoryBlock_201_response"
          description: Block created
          headers:
            Location:
              explode: false
              schema: {}
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:inventory
      summary: Block inventory
      tags:
      - Availability
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /availability/block/{blockId}:
    delete:
      description: Remove an existing inventory block
      operationId: deleteInventoryBlock
      parameters:
      - explode: false
        in: path
        name: blockId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "204":
          description: Block removed successfully
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:inventory
      summary: Remove inventory block
      tags:
      - Availability
      x-accepts:
      - application/problem+json
  /reservations:
    post:
      description: Create a new reservation
      operationId: createReservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reservation"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Reservation created
          headers:
            Location:
              description: URL of created reservation
              explode: false
              schema: {}
              style: simple
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Create reservation
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}:
    get:
      description: "Retrieve complete details of a specific reservation including\
        \ guest information, dates, pricing, and current status"
      operationId: getReservation
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Successful response
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:reservations
      summary: Get reservation details
      tags:
      - Reservations
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: |
        Partially update a reservation. Only provided fields will be updated.
        This is the recommended method for most updates.

        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts

        **Common use cases:**
        - Update special requests
        - Change guest count
        - Modify arrival time
        - Add notes
      operationId: updateReservation
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              specialRequests: Late check-in at 10 PM
              guestCount:
                adults: 2
                children: 1
            schema:
              description: Partial reservation update (only include fields to change)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Update reservation (partial update)
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: |
        Replace an existing reservation with a complete new representation.
        All fields must be provided. For partial updates, use PATCH instead.

        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts
      operationId: replaceReservation
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reservation"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Replace reservation (full update)
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/quote:
    post:
      description: Calculate pricing for a potential reservation without creating
        it
      operationId: getReservationQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getReservationQuote_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getReservationQuote_200_response"
          description: Quote generated successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:reservations
      summary: Get pricing quote
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}/cancel:
    post:
      description: Cancel an existing reservation
      operationId: cancelReservation
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cancelReservation_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Reservation cancelled
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Cancel reservation
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}/confirm:
    post:
      description: Confirm a pending reservation
      operationId: confirmReservation
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Reservation confirmed
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Confirm reservation
      tags:
      - Reservations
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}/no-show:
    post:
      description: Mark a reservation as no-show when guest doesn't arrive
      operationId: markReservationNoShow
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/markReservationNoShow_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Marked as no-show
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Mark reservation as no-show
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}/history:
    get:
      description: Retrieve complete history of changes to a reservation
      operationId: getReservationHistory
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/getReservationHistory_200_response_inner"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:reservations
      summary: Get reservation modification history
      tags:
      - Reservations
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/{reservationId}/special-requests:
    post:
      description: Add a special request or note to an existing reservation
      operationId: addSpecialRequest
      parameters:
      - explode: false
        in: path
        name: reservationId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addSpecialRequest_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
          description: Special request added
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:reservations
      summary: Add special request to reservation
      tags:
      - Reservations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /reservations/search:
    get:
      description: Search reservations with advanced filters
      operationId: searchReservations
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: guestName
        required: false
        schema: {}
        style: form
      - explode: true
        in: query
        name: confirmationNumber
        required: false
        schema: {}
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - PENDING
          - CONFIRMED
          - CHECKED_IN
          - CHECKED_OUT
          - CANCELLED
          - NO_SHOW
        style: form
      - explode: true
        in: query
        name: checkInDate
        required: false
        schema:
          format: date
        style: form
      - explode: true
        in: query
        name: checkOutDate
        required: false
        schema:
          format: date
        style: form
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchReservations_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:reservations
      summary: Advanced reservation search
      tags:
      - Reservations
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}:
    delete:
      description: Delete guest profile per GDPR right to be forgotten
      operationId: deleteGuest
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "204":
          description: Guest deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - admin:all
      summary: Delete guest profile (GDPR)
      tags:
      - Guests
      x-accepts:
      - application/problem+json
    get:
      description: "Retrieve complete guest profile including personal information,\
        \ contact details, preferences, and loyalty status"
      operationId: getGuest
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestProfile"
          description: Successful response
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get guest profile
      tags:
      - Guests
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: |
        Partially update a guest profile. Only provided fields will be updated.
        This is the recommended method for most updates.

        **Optimistic Locking:** Use `If-Match` header with ETag

        **Common use cases:**
        - Update email or phone
        - Change address
        - Update preferences
        - Modify loyalty tier
      operationId: updateGuest
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              email: newemail@example.com
              phone: "+1234567890"
            schema:
              description: Partial guest profile update (only include fields to change)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestProfile"
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Update guest profile (partial update)
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: |
        Replace an existing guest profile with a complete new representation.
        All fields must be provided. For partial updates, use PATCH instead.

        **Optimistic Locking:** Use `If-Match` header with ETag
      operationId: replaceGuest
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestProfile"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestProfile"
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Replace guest profile (full update)
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}/preferences:
    patch:
      description: |
        Update specific guest preferences. Only provided preferences will be updated.

        **Example:** Update room type preference only
      operationId: updateGuestPreferences
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              roomType: KING
              floorPreference: HIGH
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Update guest preferences (partial update)
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: "Replace all guest preferences with new settings including room\
        \ preferences, dietary restrictions, and communication preferences"
      operationId: replaceGuestPreferences
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Replace guest preferences (full update)
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests:
    get:
      description: Retrieve list of guest profiles
      operationId: listGuests
      parameters:
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - description: Search by name or email
        explode: true
        in: query
        name: search
        required: false
        schema: {}
        style: form
      - explode: true
        in: query
        name: loyaltyTier
        required: false
        schema:
          enum:
          - NONE
          - SILVER
          - GOLD
          - PLATINUM
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listGuests_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: List guest profiles
      tags:
      - Guests
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Create a new guest profile
      operationId: createGuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestProfile"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestProfile"
          description: Guest profile created
          headers:
            Location:
              explode: false
              schema: {}
              style: simple
            ETag:
              $ref: "#/components/headers/ETag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Create guest profile
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}/loyalty:
    get:
      description: Retrieve loyalty program status and points
      operationId: getGuestLoyalty
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGuestLoyalty_200_response"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get guest loyalty status
      tags:
      - Guests
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}/loyalty/points:
    post:
      description: Add loyalty points to guest account
      operationId: addLoyaltyPoints
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addLoyaltyPoints_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addLoyaltyPoints_200_response"
          description: Points added successfully
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Add loyalty points
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}/stays:
    get:
      description: Retrieve complete stay history for a guest
      operationId: getGuestStays
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGuestStays_200_response"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get guest stay history
      tags:
      - Guests
      x-accepts:
      - application/json
      - application/problem+json
  /guests/search:
    post:
      description: Advanced guest search with multiple criteria
      operationId: searchGuests
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/searchGuests_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GuestProfile"
          description: Successful response
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Search guests
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests/merge:
    post:
      description: Merge two guest profiles into one
      operationId: mergeGuests
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mergeGuests_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestProfile"
          description: Profiles merged successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Merge duplicate guest profiles
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /guests/{guestId}/verify:
    post:
      description: Verify guest identity for security purposes
      operationId: verifyGuest
      parameters:
      - explode: false
        in: path
        name: guestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifyGuest_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verifyGuest_200_response"
          description: Verification successful
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Verify guest identity
      tags:
      - Guests
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays:
    get:
      description: Retrieve all active guest stays
      operationId: listStays
      parameters:
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - CHECKED_IN
          - IN_HOUSE
          - CHECKED_OUT
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listStays_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:stays
      summary: List active stays
      tags:
      - Stays
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Create a new stay when guest checks in
      operationId: createStay
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Stay"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Stay created
          headers:
            Location:
              explode: false
              schema:
                format: uri
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Create stay (check-in)
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}:
    get:
      description: Retrieve details of a specific stay
      operationId: getStay
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:stays
      summary: Get stay details
      tags:
      - Stays
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: Update specific fields of a stay
      operationId: updateStay
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Update stay (partial update)
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: Replace stay with complete new details
      operationId: replaceStay
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Stay"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Replace stay (full update)
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}/checkout:
    post:
      description: Process guest checkout
      operationId: checkoutStay
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkoutStay_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Checkout successful
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Check-out guest
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}/extend:
    post:
      description: Extend guest stay to a new checkout date
      operationId: extendStay
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/extendStay_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stay"
          description: Stay extended
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Extend stay
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}/charges:
    post:
      description: Add an incidental charge to the stay
      operationId: addStayCharge
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineItem"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
          description: Charge added
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Add incidental charge
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}/key-cards:
    post:
      description: Issue a new key card for the stay
      operationId: issueKeyCard
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyCard"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyCard"
          description: Key card issued
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Issue key card
      tags:
      - Stays
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /stays/{stayId}/key-cards/{cardId}:
    delete:
      description: Deactivate a key card
      operationId: deactivateKeyCard
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      - explode: false
        in: path
        name: cardId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:stays
      summary: Deactivate key card
      tags:
      - Stays
      x-accepts:
      - application/problem+json
  /feedback:
    get:
      description: Retrieve all guest feedback
      operationId: listFeedback
      parameters:
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - COMPLAINT
          - COMPLIMENT
          - SUGGESTION
          - GENERAL
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SUBMITTED
          - ACKNOWLEDGED
          - IN_PROGRESS
          - RESOLVED
          - CLOSED
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listFeedback_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: List guest feedback
      tags:
      - Feedback
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Submit guest feedback
      operationId: submitFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Feedback"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feedback"
          description: Feedback submitted
          headers:
            Location:
              explode: false
              schema:
                format: uri
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Submit feedback
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/{feedbackId}:
    get:
      description: Retrieve details of specific feedback
      operationId: getFeedback
      parameters:
      - explode: false
        in: path
        name: feedbackId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feedback"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get feedback details
      tags:
      - Feedback
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/{feedbackId}/respond:
    post:
      description: Add a response to guest feedback
      operationId: respondToFeedback
      parameters:
      - explode: false
        in: path
        name: feedbackId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/respondToFeedback_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feedback"
          description: Response added
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Respond to feedback
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/{feedbackId}/service-recovery:
    post:
      description: Initiate service recovery actions for feedback
      operationId: initiateServiceRecovery
      parameters:
      - explode: false
        in: path
        name: feedbackId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/initiateServiceRecovery_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feedback"
          description: Service recovery initiated
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Initiate service recovery
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/surveys/{stayId}:
    get:
      description: Retrieve post-stay survey for a stay
      operationId: getPostStaySurvey
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Survey"
          description: Successful response
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get post-stay survey
      tags:
      - Feedback
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Submit post-stay survey response
      operationId: submitSurveyResponse
      parameters:
      - explode: false
        in: path
        name: stayId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Survey"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Survey"
          description: Survey submitted
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Submit survey response
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/reviews:
    get:
      description: Retrieve third-party reviews from OTAs and review sites
      operationId: listReviews
      parameters:
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      - explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - GOOGLE
          - TRIPADVISOR
          - BOOKING_COM
          - EXPEDIA
          - AIRBNB
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listReviews_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: List third-party reviews
      tags:
      - Feedback
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/reviews/{reviewId}/respond:
    post:
      description: Add a response to a third-party review
      operationId: respondToReview
      parameters:
      - explode: false
        in: path
        name: reviewId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/respondToFeedback_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Review"
          description: Response added
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:guests
      summary: Respond to review
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /feedback/nps:
    get:
      description: Get Net Promoter Score metrics and trends
      operationId: getNPSMetrics
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getNPSMetrics_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:guests
      summary: Get NPS metrics
      tags:
      - Feedback
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}:
    patch:
      description: |
        Update specific fields of a housekeeping task.

        **Common use cases:**
        - Change task status
        - Update priority
        - Assign to different staff
        - Add notes
      operationId: updateHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              status: IN_PROGRESS
              assignedTo: staff_123
              priority: HIGH
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Update housekeeping task (partial update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: "Replace housekeeping task with complete new task details including\
        \ assignment, priority, and status"
      operationId: replaceHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Replace housekeeping task (full update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /maintenance/requests/{requestId}:
    patch:
      description: |
        Update specific fields of a maintenance request.

        **Common use cases:**
        - Update request status
        - Change priority
        - Add resolution notes
        - Update estimated completion
      operationId: updateMaintenanceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              status: IN_PROGRESS
              priority: URGENT
              notes: Plumber dispatched
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Update maintenance request (partial update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: "Replace maintenance request with complete new request details\
        \ including priority, assignment, and scheduling"
      operationId: replaceMaintenanceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Replace maintenance request (full update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}:
    patch:
      description: |
        Update specific fields of a service request.

        **Common use cases:**
        - Update request status
        - Change priority (e.g., VIP guest)
        - Add fulfillment notes
        - Update delivery time
      operationId: updateServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            example:
              priority: HIGH
              notes: Guest is VIP - expedite
              status: IN_PROGRESS
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Update service request (partial update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: "Replace service request with complete new request details including\
        \ type, priority, and fulfillment status"
      operationId: replaceServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      - $ref: "#/components/parameters/IfMatch"
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successfully replaced
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Replace service request (full update)
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}/acknowledge:
    post:
      description: Acknowledge receipt of a service request
      operationId: acknowledgeServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceRequest"
          description: Request acknowledged
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Acknowledge service request
      tags:
      - Operations
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}/assign:
    post:
      description: Assign a service request to a staff member
      operationId: assignServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assignServiceRequest_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceRequest"
          description: Request assigned
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Assign service request
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}/complete:
    post:
      description: Mark a service request as completed
      operationId: completeServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/markReservationNoShow_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceRequest"
          description: Request completed
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Complete service request
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}/cancel:
    post:
      description: Cancel a service request
      operationId: cancelServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cancelServiceRequest_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceRequest"
          description: Request cancelled
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Cancel service request
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /service-requests/{requestId}/escalate:
    post:
      description: Escalate a service request to management
      operationId: escalateServiceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/escalateServiceRequest_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceRequest"
          description: Request escalated
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Escalate service request
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks:
    get:
      description: "List all housekeeping tasks with filtering by property, status,\
        \ assignment, and date range"
      operationId: listHousekeepingTasks
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - CANCELLED
        style: form
      - explode: true
        in: query
        name: assignedTo
        required: false
        schema:
          format: uuid
        style: form
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGuestStays_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:operations
      summary: List housekeeping tasks
      tags:
      - Operations
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Create a new housekeeping task for room cleaning, inspection,\
        \ or maintenance preparation"
      operationId: createHousekeepingTask
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Task created
          headers:
            Location:
              explode: false
              schema: {}
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Create housekeeping task
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}/assign:
    post:
      description: Assign a housekeeping task to a staff member
      operationId: assignHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assignHousekeepingTask_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousekeepingTask"
          description: Task assigned
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Assign housekeeping task
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}/start:
    post:
      description: Mark a housekeeping task as started
      operationId: startHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousekeepingTask"
          description: Task started
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Start housekeeping task
      tags:
      - Operations
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}/complete:
    post:
      description: Mark a housekeeping task as completed
      operationId: completeHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/completeHousekeepingTask_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousekeepingTask"
          description: Task completed
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Complete housekeeping task
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}/verify:
    post:
      description: Verify completion of a housekeeping task
      operationId: verifyHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifyHousekeepingTask_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousekeepingTask"
          description: Task verified
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Verify housekeeping task
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/tasks/{taskId}/fail:
    post:
      description: Mark a housekeeping task as failed
      operationId: failHousekeepingTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/escalateServiceRequest_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HousekeepingTask"
          description: Task marked as failed
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Fail housekeeping task
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /housekeeping/schedule:
    get:
      description: Retrieve the housekeeping cleaning schedule
      operationId: getCleaningSchedule
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: true
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCleaningSchedule_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:operations
      summary: Get cleaning schedule
      tags:
      - Operations
      x-accepts:
      - application/json
      - application/problem+json
  /maintenance/requests:
    get:
      description: "List all maintenance requests with filtering by property, priority,\
        \ status, and category"
      operationId: listMaintenanceRequests
      parameters:
      - explode: true
        in: query
        name: propertyId
        required: false
        schema:
          format: uuid
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema: {}
        style: form
      - explode: true
        in: query
        name: priority
        required: false
        schema:
          enum:
          - LOW
          - MEDIUM
          - HIGH
          - URGENT
        style: form
      - $ref: "#/components/parameters/PageSize"
      - $ref: "#/components/parameters/PageCursor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGuestStays_200_response"
          description: Successful response
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - read:operations
      summary: List maintenance requests
      tags:
      - Operations
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Create a new maintenance request for repairs, inspections, or\
        \ preventive maintenance"
      operationId: createMaintenanceRequest
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Request created
          headers:
            Location:
              explode: false
              schema: {}
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - OAuth2:
        - write:operations
      summary: Create maintenance request
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /maintenance/requests/{requestId}/assign:
    post:
      description: Assign a maintenance request to a technician
      operationId: assignMaintenanceRequest
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          format: uuid
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assignMaintenanceRequest_request"
[...]
