openapi: 3.1.0
info:
  title: Noventrix StayOS API
  version: 1.0.0
  description: "# Noventrix StayOS - Comprehensive Hospitality Management API\n\n**Version:** 1.0.0  \n**Status:** Production\
    \ Ready  \n**Last Updated:** 2025-12-18\n\n## Overview\n\nStayOS provides a complete RESTful API for hospitality management,\
    \ covering:\n- Property & Inventory Management\n- Reservation & Booking Lifecycle\n- Guest Profiles & Loyalty\n- Operations\
    \ (Housekeeping & Maintenance)\n- Billing & Payments\n- Compliance & Audit\n- Channel Management & Distribution\n\n##\
    \ Architecture Principles\n\n- **RESTful Design:** Resource-oriented URLs, HTTP verbs, standard status codes\n- **HATEOAS:**\
    \ Hypermedia links for discoverability\n- **Idempotency:** Safe retries using idempotency keys\n- **Versioning:** URL-based\
    \ versioning (/v1/, /v2/)\n- **Pagination:** Cursor-based for large datasets\n- **Filtering:** Rich query parameters following\
    \ JSON:API conventions\n- **Rate Limiting:** Token bucket algorithm (100 req/min standard, 1000 req/min premium)\n\n##\
    \ Authentication & Security\n\n- **OAuth 2.0 + OpenID Connect** for user authentication\n- **API Keys** for server-to-server\
    \ integration\n- **JWT Bearer Tokens** with short expiry (15 minutes)\n- **Refresh Tokens** for session management\n-\
    \ **Scopes** for fine-grained authorization\n- **mTLS** for high-security integrations\n\n## Error Handling\n\nAll errors\
    \ follow RFC 7807 (Problem Details for HTTP APIs):\n```json\n{\n  \"type\": \"https://api.stayos.com/errors/validation-error\"\
    ,\n  \"title\": \"Validation Failed\",\n  \"status\": 400,\n  \"detail\": \"Check-out date must be after check-in date\"\
    ,\n  \"instance\": \"/reservations/create\",\n  \"traceId\": \"550e8400-e29b-41d4-a716-446655440000\",\n  \"errors\":\
    \ [\n    {\n      \"field\": \"checkOutDate\",\n      \"code\": \"INVALID_DATE_RANGE\",\n      \"message\": \"Check-out\
    \ date must be after check-in date\"\n    }\n  ]\n}\n```\n\n## Rate Limiting\n\n- **Header:** `X-RateLimit-Limit`, `X-RateLimit-Remaining`,\
    \ `X-RateLimit-Reset`\n- **Status Code:** 429 Too Many Requests\n- **Retry-After:** Seconds until rate limit resets\n\n\
    ## Webhooks\n\nStayOS supports webhooks for real-time event notifications. See `/webhooks` endpoints.\n\n## Support\n\n\
    - **Documentation:** https://docs.stayos.com\n- **API Status:** https://status.stayos.com\n- **Support:** api-support@noventrix.com\n"
  contact:
    name: Noventrix API Support
    email: api-support@noventrix.com
    url: https://docs.stayos.com
  license:
    name: Proprietary
    url: https://noventrix.com/license
  termsOfService: https://noventrix.com/terms
servers:
- url: https://api.stayos.com/v1
  description: Production
- url: https://api-staging.stayos.com/v1
  description: Staging
- url: https://api-sandbox.stayos.com/v1
  description: Sandbox (Test Environment)
- url: http://localhost:8080/v1
  description: Local Development
tags:
- name: Properties
  description: Property and organizational management
- name: Inventory
  description: Inventory units (rooms, beds, suites) management
- name: Rate Strategies
  description: Pricing, rate plans, and yield management
- name: Availability
  description: Availability calendar and inventory allocation
- name: Reservations
  description: Booking lifecycle management
- name: Guests
  description: Guest profiles, preferences, and loyalty
- name: Stays
  description: Active guest stays and check-in/check-out
- name: Operations
  description: Housekeeping, maintenance, and service request operations
- name: Housekeeping
  description: Housekeeping tasks and quality management
- name: Maintenance
  description: Maintenance requests and asset management
- name: ServiceRequests
  description: Guest service requests and concierge services
- name: Staff
  description: Staff scheduling and shift management
- name: Food & Beverage
  description: F&B orders, menu management, and dining services
- name: Venues
  description: Restaurant, bar, and cafe venue management
- name: Tables
  description: Table and seating management for venues
- name: Floor Sections
  description: Floor section and area management for venues
- name: Table Reservations
  description: Table reservation lifecycle management
- name: Waitlist
  description: Waitlist management for walk-in guests
- name: Billing
  description: Billing, folios, and charge management
- name: Folios
  description: Guest folios and charge management
- name: Payments
  description: Payment processing and settlements
- name: Procurement
  description: Purchase orders, suppliers, and inventory procurement
- name: Audit
  description: Audit logs and compliance tracking
- name: Compliance
  description: Regulatory reporting and certifications
- name: Channels
  description: Channel management and distribution
- name: Webhooks
  description: Webhook configuration and event subscriptions
- name: System
  description: System health, metrics, and configuration
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization with OpenID Connect
      flows:
        authorizationCode:
          authorizationUrl: https://auth.stayos.com/oauth/authorize
          tokenUrl: https://auth.stayos.com/oauth/token
          refreshUrl: https://auth.stayos.com/oauth/refresh
          scopes:
            read:properties: Read property information
            write:properties: Create and update properties
            read:inventory: Read inventory units
            write:inventory: Manage inventory units
            read:reservations: View reservations
            write:reservations: Create and modify reservations
            read:guests: View guest profiles
            write:guests: Manage guest profiles
            read:stays: View active stays
            write:stays: Manage check-in/check-out
            read:operations: View housekeeping and maintenance
            write:operations: Manage operations tasks
            read:payments: View payment information
            write:payments: Process payments
            read:channels: View channel manager integrations
            write:channels: Manage channel connections
            read:fb: View food & beverage orders
            write:fb: Manage F&B operations
            read:venues: View venue information
            write:venues: Create and update venues
            read:tables: View tables and floor sections
            write:tables: Manage tables and floor sections
            read:billing: View billing and folios
            write:billing: Manage billing operations
            read:procurement: View purchase orders and suppliers
            write:procurement: Manage procurement
            read:webhooks: View webhook configurations
            write:webhooks: Manage webhooks
            read:compliance: View compliance reports
            read:system: View system metrics
            read:audit: Access audit logs
            write:compliance: Generate compliance reports
            admin:all: Full administrative access
        clientCredentials:
          tokenUrl: https://auth.stayos.com/oauth/token
          scopes:
            integration:read: Read access for integrations
            integration:write: Write access for integrations
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token obtained from OAuth flow
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for server-to-server integration
    mTLS:
      type: mutualTLS
      description: Mutual TLS for high-security integrations
  parameters:
    # Pagination & Filtering
    PageSize:
      $ref: ./parameters/common-parameters.yaml#/PageSize
    PageCursor:
      $ref: ./parameters/common-parameters.yaml#/PageCursor
    PropertyId:
      $ref: ./parameters/common-parameters.yaml#/PropertyId
    SortBy:
      $ref: ./parameters/common-parameters.yaml#/SortBy
    SortOrder:
      $ref: ./parameters/common-parameters.yaml#/SortOrder
    Expand:
      $ref: ./parameters/common-parameters.yaml#/Expand
    # Idempotency & Concurrency
    IdempotencyKey:
      $ref: ./parameters/common-parameters.yaml#/IdempotencyKey
    IfMatch:
      $ref: ./parameters/common-parameters.yaml#/IfMatch
    IfNoneMatch:
      $ref: ./parameters/common-parameters.yaml#/IfNoneMatch
    # Multi-Tenancy & Organization
    TenantId:
      $ref: ./parameters/common-parameters.yaml#/TenantId
    BrandId:
      $ref: ./parameters/common-parameters.yaml#/BrandId
    OrganizationId:
      $ref: ./parameters/common-parameters.yaml#/OrganizationId
    # Localization & Internationalization
    AcceptLanguage:
      $ref: ./parameters/common-parameters.yaml#/AcceptLanguage
    ContentLanguage:
      $ref: ./parameters/common-parameters.yaml#/ContentLanguage
    Timezone:
      $ref: ./parameters/common-parameters.yaml#/Timezone
    Currency:
      $ref: ./parameters/common-parameters.yaml#/Currency
    # Correlation, Observability & Tracing
    CorrelationId:
      $ref: ./parameters/common-parameters.yaml#/CorrelationId
    TraceId:
      $ref: ./parameters/common-parameters.yaml#/TraceId
    SpanId:
      $ref: ./parameters/common-parameters.yaml#/SpanId
    ClientId:
      $ref: ./parameters/common-parameters.yaml#/ClientId
    ClientVersion:
      $ref: ./parameters/common-parameters.yaml#/ClientVersion
    UserAgent:
      $ref: ./parameters/common-parameters.yaml#/UserAgent
    # Versioning & Feature Flags
    ApiVersion:
      $ref: ./parameters/common-parameters.yaml#/ApiVersion
    FeatureFlags:
      $ref: ./parameters/common-parameters.yaml#/FeatureFlags
    # Security & Compliance
    ForwardedFor:
      $ref: ./parameters/common-parameters.yaml#/ForwardedFor
    RealIp:
      $ref: ./parameters/common-parameters.yaml#/RealIp
    DeviceId:
      $ref: ./parameters/common-parameters.yaml#/DeviceId
    SessionId:
      $ref: ./parameters/common-parameters.yaml#/SessionId
    # Performance & Caching
    CacheControl:
      $ref: ./parameters/common-parameters.yaml#/CacheControl
    Prefer:
      $ref: ./parameters/common-parameters.yaml#/Prefer
  headers:
    # Rate Limiting
    X-RateLimit-Limit:
      description: Request limit per time window
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Unix timestamp when rate limit resets
      schema:
        type: integer
        format: int64
    # Tracing & Correlation
    X-Request-Id:
      description: Unique request identifier for tracing
      schema:
        type: string
        format: uuid
    X-Correlation-Id:
      $ref: ./headers/common-headers.yaml#/X-Correlation-Id
    X-Trace-Id:
      $ref: ./headers/common-headers.yaml#/X-Trace-Id
    X-Span-Id:
      $ref: ./headers/common-headers.yaml#/X-Span-Id
    # Multi-Tenancy
    X-Tenant-Id:
      $ref: ./headers/common-headers.yaml#/X-Tenant-Id
    X-Brand-Id:
      $ref: ./headers/common-headers.yaml#/X-Brand-Id
    # Localization
    Content-Language:
      $ref: ./headers/common-headers.yaml#/Content-Language
    X-Currency:
      $ref: ./headers/common-headers.yaml#/X-Currency
    X-Timezone:
      $ref: ./headers/common-headers.yaml#/X-Timezone
    # Versioning
    X-API-Version:
      $ref: ./headers/common-headers.yaml#/X-API-Version
    X-Deprecation:
      $ref: ./headers/common-headers.yaml#/X-Deprecation
    X-Sunset:
      $ref: ./headers/common-headers.yaml#/X-Sunset
    Link:
      $ref: ./headers/common-headers.yaml#/Link
    # Caching & Concurrency
    ETag:
      $ref: ./headers/common-headers.yaml#/ETag
    Cache-Control:
      $ref: ./headers/common-headers.yaml#/Cache-Control
    Expires:
      $ref: ./headers/common-headers.yaml#/Expires
    Last-Modified:
      $ref: ./headers/common-headers.yaml#/Last-Modified
    Age:
      $ref: ./headers/common-headers.yaml#/Age
    Vary:
      $ref: ./headers/common-headers.yaml#/Vary
    # Resource Management
    Location:
      $ref: ./headers/common-headers.yaml#/Location
    X-Resource-Version:
      $ref: ./headers/common-headers.yaml#/X-Resource-Version
    X-Resource-State:
      $ref: ./headers/common-headers.yaml#/X-Resource-State
    X-Last-Modified-By:
      $ref: ./headers/common-headers.yaml#/X-Last-Modified-By
    # Pagination
    X-Total-Count:
      $ref: ./headers/common-headers.yaml#/X-Total-Count
    X-Page-Size:
      $ref: ./headers/common-headers.yaml#/X-Page-Size
    X-Page-Number:
      $ref: ./headers/common-headers.yaml#/X-Page-Number
    X-Total-Pages:
      $ref: ./headers/common-headers.yaml#/X-Total-Pages
    X-Has-More:
      $ref: ./headers/common-headers.yaml#/X-Has-More
    # Retry & Async
    Retry-After:
      $ref: ./headers/common-headers.yaml#/Retry-After
    X-Poll-Interval:
      $ref: ./headers/common-headers.yaml#/X-Poll-Interval
    # Security
    Strict-Transport-Security:
      $ref: ./headers/common-headers.yaml#/Strict-Transport-Security
    X-Content-Type-Options:
      $ref: ./headers/common-headers.yaml#/X-Content-Type-Options
    X-Frame-Options:
      $ref: ./headers/common-headers.yaml#/X-Frame-Options
    X-XSS-Protection:
      $ref: ./headers/common-headers.yaml#/X-XSS-Protection
    Content-Security-Policy:
      $ref: ./headers/common-headers.yaml#/Content-Security-Policy
  responses:
    NoContent:
      $ref: ./responses/common-responses.yaml#/NoContent
    BadRequest:
      $ref: ./responses/common-responses.yaml#/BadRequest
    Unauthorized:
      $ref: ./responses/common-responses.yaml#/Unauthorized
    Forbidden:
      $ref: ./responses/common-responses.yaml#/Forbidden
    NotFound:
      $ref: ./responses/common-responses.yaml#/NotFound
    Conflict:
      $ref: ./responses/common-responses.yaml#/Conflict
    PreconditionFailed:
      $ref: ./responses/common-responses.yaml#/PreconditionFailed
    UnprocessableEntity:
      $ref: ./responses/common-responses.yaml#/UnprocessableEntity
    TooManyRequests:
      $ref: ./responses/common-responses.yaml#/TooManyRequests
    InternalServerError:
      $ref: ./responses/common-responses.yaml#/InternalServerError
  schemas:
    ProblemDetails:
      allOf:
        - $ref: ./schemas/common.yaml#/ProblemDetails
    PaginatedResponse:
      allOf:
        - $ref: ./schemas/common.yaml#/PaginatedResponse
    Money:
      allOf:
        - $ref: ./schemas/common.yaml#/Money
    Address:
      allOf:
        - $ref: ./schemas/common.yaml#/Address
    GeoCoordinates:
      allOf:
        - $ref: ./schemas/common.yaml#/GeoCoordinates
    ContactInfo:
      allOf:
        - $ref: ./schemas/common.yaml#/ContactInfo
    AuditMetadata:
      allOf:
        - $ref: ./schemas/common.yaml#/AuditMetadata
    Property:
      allOf:
        - $ref: ./schemas/property.yaml#/Property
    PropertyPolicies:
      allOf:
        - $ref: ./schemas/property.yaml#/PropertyPolicies
    CancellationPolicy:
      allOf:
        - $ref: ./schemas/property.yaml#/CancellationPolicy
    Certification:
      allOf:
        - $ref: ./schemas/property.yaml#/Certification
    InventoryUnit:
      allOf:
        - $ref: ./schemas/property.yaml#/InventoryUnit
    UnitType:
      allOf:
        - $ref: ./schemas/property.yaml#/UnitType
    GuestCapacity:
      allOf:
        - $ref: ./schemas/property.yaml#/GuestCapacity
    AccessibilityFeatures:
      allOf:
        - $ref: ./schemas/property.yaml#/AccessibilityFeatures
    RateStrategy:
      allOf:
        - $ref: ./schemas/property.yaml#/RateStrategy
    ApplicabilityRules:
      allOf:
        - $ref: ./schemas/property.yaml#/ApplicabilityRules
    PricingModel:
      allOf:
        - $ref: ./schemas/property.yaml#/PricingModel
    ChannelDistribution:
      allOf:
        - $ref: ./schemas/property.yaml#/ChannelDistribution
    AvailabilityCalendar:
      allOf:
        - $ref: ./schemas/availability.yaml#/AvailabilityCalendar
    AvailabilitySlot:
      allOf:
        - $ref: ./schemas/availability.yaml#/AvailabilitySlot
    Reservation:
      allOf:
        - $ref: ./schemas/reservation.yaml#/Reservation
    GuestProfile:
      allOf:
        - $ref: ./schemas/guest.yaml#/GuestProfile
    Stay:
      allOf:
        - $ref: ./schemas/stays.yaml#/Stay
    KeyCard:
      allOf:
        - $ref: ./schemas/stays.yaml#/KeyCard
    Feedback:
      allOf:
        - $ref: ./schemas/feedback.yaml#/Feedback
    Survey:
      allOf:
        - $ref: ./schemas/feedback.yaml#/Survey
    Review:
      allOf:
        - $ref: ./schemas/feedback.yaml#/Review
    HousekeepingTask:
      allOf:
        - $ref: ./schemas/operations.yaml#/HousekeepingTask
    MaintenanceRequest:
      allOf:
        - $ref: ./schemas/operations.yaml#/MaintenanceRequest
    ServiceRequest:
      allOf:
        - $ref: ./schemas/operations.yaml#/ServiceRequest
    Incident:
      allOf:
        - $ref: ./schemas/operations.yaml#/Incident
    StaffShift:
      allOf:
        - $ref: ./schemas/operations.yaml#/StaffShift
    TrainingModule:
      allOf:
        - $ref: ./schemas/operations.yaml#/TrainingModule
    TrainingEnrollment:
      allOf:
        - $ref: ./schemas/operations.yaml#/TrainingEnrollment
    Folio:
      allOf:
        - $ref: ./schemas/billing.yaml#/Folio
    LineItem:
      allOf:
        - $ref: ./schemas/billing.yaml#/LineItem
    Payment:
      allOf:
        - $ref: ./schemas/billing.yaml#/Payment
    RevenueReport:
      allOf:
        - $ref: ./schemas/billing.yaml#/RevenueReport
    AuditLog:
      allOf:
        - $ref: ./schemas/compliance.yaml#/AuditLog
    ComplianceReport:
      allOf:
        - $ref: ./schemas/compliance.yaml#/ComplianceReport
    PropertyCertification:
      allOf:
        - $ref: ./schemas/compliance.yaml#/PropertyCertification
    GDPRRequest:
      allOf:
        - $ref: ./schemas/compliance.yaml#/GDPRRequest
    Channel:
      allOf:
        - $ref: ./schemas/channels.yaml#/Channel
    ChannelMapping:
      allOf:
        - $ref: ./schemas/channels.yaml#/ChannelMapping
    ChannelPerformance:
      allOf:
        - $ref: ./schemas/channels.yaml#/ChannelPerformance
    FBOrder:
      allOf:
        - $ref: ./schemas/fb.yaml#/FBOrder
    MenuItem:
      allOf:
        - $ref: ./schemas/fb.yaml#/MenuItem
    FBInventoryItem:
      allOf:
        - $ref: ./schemas/fb.yaml#/FBInventoryItem
    Venue:
      allOf:
        - $ref: ./schemas/venues.yaml#/Venue
    VenueCreateRequest:
      allOf:
        - $ref: ./schemas/venues.yaml#/VenueCreateRequest
    VenueUpdateRequest:
      allOf:
        - $ref: ./schemas/venues.yaml#/VenueUpdateRequest
    VenueListResponse:
      allOf:
        - $ref: ./schemas/venues.yaml#/VenueListResponse
    FloorSection:
      allOf:
        - $ref: ./schemas/tables.yaml#/FloorSection
    FloorSectionCreateRequest:
      allOf:
        - $ref: ./schemas/tables.yaml#/FloorSectionCreateRequest
    FloorSectionUpdateRequest:
      allOf:
        - $ref: ./schemas/tables.yaml#/FloorSectionUpdateRequest
    FloorSectionListResponse:
      allOf:
        - $ref: ./schemas/tables.yaml#/FloorSectionListResponse
    Table:
      allOf:
        - $ref: ./schemas/tables.yaml#/Table
    TableCreateRequest:
      allOf:
        - $ref: ./schemas/tables.yaml#/TableCreateRequest
    TableUpdateRequest:
      allOf:
        - $ref: ./schemas/tables.yaml#/TableUpdateRequest
    TableListResponse:
      allOf:
        - $ref: ./schemas/tables.yaml#/TableListResponse
    TableAvailability:
      allOf:
        - $ref: ./schemas/tables.yaml#/TableAvailability
    TableAvailabilityResponse:
      allOf:
        - $ref: ./schemas/tables.yaml#/TableAvailabilityResponse
    TableReservation:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/TableReservation
    TableReservationCreateRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/TableReservationCreateRequest
    TableReservationUpdateRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/TableReservationUpdateRequest
    TableReservationListResponse:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/TableReservationListResponse
    ReservationAvailabilityRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/ReservationAvailabilityRequest
    ReservationAvailabilityResponse:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/ReservationAvailabilityResponse
    ReservationConfirmRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/ReservationConfirmRequest
    ReservationCancelRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/ReservationCancelRequest
    ReservationSeatingRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/ReservationSeatingRequest
    Waitlist:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/Waitlist
    WaitlistCreateRequest:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/WaitlistCreateRequest
    WaitlistListResponse:
      allOf:
        - $ref: ./schemas/table-reservations.yaml#/WaitlistListResponse
    PurchaseOrder:
      allOf:
        - $ref: ./schemas/procurement.yaml#/PurchaseOrder
    Supplier:
      allOf:
        - $ref: ./schemas/procurement.yaml#/Supplier
    SupplierPerformance:
      allOf:
        - $ref: ./schemas/procurement.yaml#/SupplierPerformance
    Webhook:
      allOf:
        - $ref: ./schemas/system.yaml#/Webhook
    WebhookDelivery:
      allOf:
        - $ref: ./schemas/system.yaml#/WebhookDelivery
    HealthCheck:
      allOf:
        - $ref: ./schemas/system.yaml#/HealthCheck
    SystemMetrics:
      allOf:
        - $ref: ./schemas/system.yaml#/SystemMetrics
paths:
  /properties:
    get:
      tags:
      - Properties
      summary: List properties
      description: 'Retrieve a paginated list of properties. Supports filtering, sorting, and field expansion.


        **Authorization:** Requires `read:properties` scope


        **Rate Limit:** 100 requests/minute

        '
      operationId: listProperties
      security:
      - OAuth2:
        - read:properties
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageCursor'
      - name: organizationId
        in: query
        description: Filter by organization
        schema:
          type: string
          format: uuid
      - name: operationalStatus
        in: query
        description: Filter by operational status
        schema:
          type: string
          enum:
          - ACTIVE
          - SUSPENDED
          - CLOSED
      - name: classification
        in: query
        description: Filter by property classification
        schema:
          type: string
          enum:
          - HOTEL
          - HOSTEL
          - RESORT
          - BOUTIQUE
      - $ref: '#/components/parameters/SortBy'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Property'
              example:
                data:
                - propertyId: 550e8400-e29b-41d4-a716-446655440000
                  name: Grand Plaza Hotel
                  classification: HOTEL
                  starRating: 4.5
                  operationalStatus: ACTIVE
                  timezone: America/Los_Angeles
                  location:
                    city: San Francisco
                    country: US
                  links:
                    self: https://api.stayos.com/v1/properties/550e8400-e29b-41d4-a716-446655440000
                pagination:
                  pageSize: 20
                  cursor: eyJpZCI6MTIzNDU2fQ==
                  hasMore: true
                links:
                  self: https://api.stayos.com/v1/properties?pageSize=20
                  next: https://api.stayos.com/v1/properties?pageSize=20&cursor=eyJpZCI6MTIzNDU2fQ==
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Properties
      summary: Create property
      description: 'Create a new property. This is typically an administrative operation.


        **Authorization:** Requires `write:properties` or `admin:all` scope


        **Idempotency:** Supports idempotency via `Idempotency-Key` header

        '
      operationId: createProperty
      security:
      - OAuth2:
        - write:properties
        - admin:all
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
            example:
              name: Grand Plaza Hotel
              classification: HOTEL
              starRating: 4.5
              location:
                street: 123 Main Street
                city: San Francisco
                state: CA
                postalCode: '94102'
                country: US
              coordinates:
                latitude: 37.7749
                longitude: -122.4194
              timezone: America/Los_Angeles
              policies:
                checkInTime: '15:00'
                checkOutTime: '11:00'
                cancellationPolicy:
                  refundability: FULLY_REFUNDABLE
                  freeCancellationHours: 24
              amenities:
              - WIFI
              - PARKING
              - POOL
              - GYM
              contactInfo:
                email: info@grandplaza.com
                phone: '+14155551234'
      responses:
        '201':
          description: Property created successfully
          headers:
            Location:
              $ref: '#/components/headers/Location'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /properties/{propertyId}:
    get:
      tags:
      - Properties
      summary: Get property by ID
      description: Retrieve detailed information about a specific property
      operationId: getProperty
      security:
      - OAuth2:
        - read:properties
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/Expand'
      - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Successful response
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '304':
          description: Not Modified (cached version is current)
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Properties
      summary: Replace property (full update)
      description: 'Replace an existing property with a complete new representation.

        All fields must be provided. For partial updates, use PATCH instead.


        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts

        '
      operationId: replaceProperty
      security:
      - OAuth2:
        - write:properties
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Properties
      summary: Update property (partial update)
      description: "Partially update a property. Only provided fields will be updated.\nThis is the recommended method for\
        \ most updates.\n\n**Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts\n\n**Example:** Update\
        \ only the property name and contact email:\n```json\n{\n  \"name\": \"New Property Name\",\n  \"contactInfo\": {\n\
        \    \"email\": \"newemail@property.com\"\n  }\n}\n```\n"
      operationId: updateProperty
      security:
      - OAuth2:
        - write:properties
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial property update (only include fields to change)
            example:
              name: Updated Property Name
              contactInfo:
                email: newemail@example.com
      responses:
        '200':
          description: Successfully updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Properties
      summary: Delete property
      description: 'Soft delete a property. Property status changes to CLOSED.


        **Warning:** This operation cannot be undone. All future reservations will be cancelled.

        '
      operationId: deleteProperty
      security:
      - OAuth2:
        - admin:all
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete property with active reservations
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /properties/{propertyId}/inventory-units:
    get:
      tags:
      - Inventory
      summary: List inventory units for property
      description: Retrieve all inventory units (rooms, beds, suites) for a property
      operationId: listInventoryUnits
      security:
      - OAuth2:
        - read:inventory
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageCursor'
      - name: unitTypeId
        in: query
        description: Filter by unit type
        schema:
          type: string
          format: uuid
      - name: operationalStatus
        in: query
        description: Filter by operational status
        schema:
          type: string
          enum:
          - AVAILABLE
          - OCCUPIED
          - BLOCKED
          - OUT_OF_SERVICE
      - name: floor
        in: query
        description: Filter by floor number
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/InventoryUnit'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Inventory
      summary: Create inventory unit
      description: Add a new inventory unit to the property
      operationId: createInventoryUnit
      security:
      - OAuth2:
        - write:inventory
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUnit'
            example:
              propertyId: 550e8400-e29b-41d4-a716-446655440000
              unitNumber: '101'
              unitTypeId: 880e8400-e29b-41d4-a716-446655440000
              floor: 1
              physicalStatus: OPERATIONAL
              operationalStatus: AVAILABLE
      responses:
        '201':
          description: Inventory unit created successfully
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryUnit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Unit number already exists
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /properties/{propertyId}/rate-strategies:
    get:
      tags:
      - Rate Strategies
      summary: List rate strategies
      description: Retrieve all rate strategies for a property
      operationId: listRateStrategies
      security:
      - OAuth2:
        - read:properties
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      - $ref: '#/components/parameters/PageSize'
      - name: strategyType
        in: query
        description: Filter by strategy type
        schema:
          type: string
          enum:
          - STANDARD
          - DYNAMIC
          - PROMOTIONAL
          - CORPORATE
          - GROUP
      - name: isActive
        in: query
        description: Filter by active status
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/RateStrategy'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Rate Strategies
      summary: Create rate strategy
      description: Create a new pricing strategy for the property
      operationId: createRateStrategy
      security:
      - OAuth2:
        - write:properties
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateStrategy'
      responses:
        '201':
          description: Rate strategy created successfully
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /availability/search:
    post:
      tags:
      - Availability
      summary: Search availability
      description: 'Search for available inventory across properties based on criteria.


        This is the primary endpoint for booking engines and search interfaces.


        **Performance:** Optimized for sub-200ms response time


        **Caching:** Results cached for 5 minutes

        '
      operationId: searchAvailability
      security:
      - OAuth2:
        - read:inventory
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - checkInDate
              - checkOutDate
              - occupancy
              properties:
                propertyId:
                  type: string
                  format: uuid
                  description: Filter by specific property (optional)
                checkInDate:
                  type: string
                  format: date
                  example: '2025-12-20'
                checkOutDate:
                  type: string
                  format: date
                  example: '2025-12-25'
                occupancy:
                  type: object
                  required:
                  - adults
                  properties:
                    adults:
                      type: integer
                      minimum: 1
                      example: 2
                    children:
                      type: integer
                      minimum: 0
                      example: 1
                    childAges:
                      type: array
                      items:
                        type: integer
                      example:
                      - 8
                unitTypeId:
                  type: string
                  format: uuid
                  description: Filter by unit type
                rateStrategyId:
                  type: string
                  format: uuid
                  description: Filter by rate strategy
                filters:
                  type: object
                  properties:
                    minPrice:
                      $ref: '#/components/schemas/Money'
                    maxPrice:
                      $ref: '#/components/schemas/Money'
                    amenities:
                      type: array
                      items:
                        type: string
                      example:
                      - WIFI
                      - PARKING
                    accessibility:
                      type: boolean
                      description: Require wheelchair accessible units
      responses:
        '200':
          description: Available inventory found
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchId:
                    type: string
                    format: uuid
                    description: Unique search identifier for tracking
                  searchCriteria:
                    type: object
                    description: Echo of search criteria
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        inventoryUnitId:
                          type: string
                          format: uuid
                        unitType:
                          $ref: '#/components/schemas/UnitType'
                        property:
                          $ref: '#/components/schemas/Property'
                        rateStrategy:
                          $ref: '#/components/schemas/RateStrategy'
                        totalPrice:
                          $ref: '#/components/schemas/Money'
                        priceBreakdown:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                format: date
                              nightlyRate:
                                $ref: '#/components/schemas/Money'
                              taxes:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    amount:
                                      $ref: '#/components/schemas/Money'
                        availability:
                          type: string
                          enum:
                          - AVAILABLE
                          - LIMITED
                          - LAST_ROOM
                        cancellationPolicy:
                          $ref: '#/components/schemas/CancellationPolicy'
                  metadata:
                    type: object
                    properties:
                      totalResults:
                        type: integer
                      searchDuration:
                        type: integer
                        description: Search duration in milliseconds
                      cacheHit:
                        type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /availability/calendar:
    get:
      tags:
      - Availability
      summary: Get availability calendar
      description: Retrieve availability calendar for specified date range
      operationId: getAvailabilityCalendar
      security:
      - OAuth2:
        - read:inventory
      parameters:
      - name: propertyId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: unitTypeId
        in: query
        schema:
          type: string
          format: uuid
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityCalendar'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Availability
      summary: Update availability calendar (bulk)
      description: Bulk update availability for multiple dates
      operationId: updateAvailabilityCalendar
      security:
      - OAuth2:
        - write:inventory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                propertyId:
                  type: string
                  format: uuid
                unitTypeId:
                  type: string
                  format: uuid
                updates:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        format: date
                      available:
                        type: integer
                      rate:
                        $ref: '#/components/schemas/Money'
                      restrictions:
                        type: object
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /availability/block:
    post:
      tags:
      - Availability
      summary: Block inventory
      description: Create an inventory block (for groups, maintenance, etc.)
      operationId: createInventoryBlock
      security:
      - OAuth2:
        - write:inventory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - propertyId
              - startDate
              - endDate
              - quantity
              - reason
              properties:
                propertyId:
                  type: string
                  format: uuid
                unitTypeId:
                  type: string
                  format: uuid
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
                quantity:
                  type: integer
                  minimum: 1
                reason:
                  type: string
                  enum:
                  - MAINTENANCE
                  - GROUP_BLOCK
                  - OWNER_USE
                  - OTHER
                notes:
                  type: string
      responses:
        '201':
          description: Block created
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  blockId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /availability/block/{blockId}:
    delete:
      tags:
      - Availability
      summary: Remove inventory block
      description: Remove an existing inventory block
      operationId: deleteInventoryBlock
      security:
      - OAuth2:
        - write:inventory
      parameters:
      - name: blockId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Block removed successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations:
    post:
      tags:
      - Reservations
      summary: Create reservation
      description: Create a new reservation
      operationId: createReservation
      security:
      - OAuth2:
        - write:reservations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reservation'
      responses:
        '201':
          description: Reservation created
          headers:
            Location:
              schema:
                type: string
              description: URL of created reservation
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}:
    get:
      tags:
      - Reservations
      summary: Get reservation details
      description: Retrieve complete details of a specific reservation including guest information, dates, pricing, and current
        status
      operationId: getReservation
      security:
      - OAuth2:
        - read:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Reservations
      summary: Replace reservation (full update)
      description: 'Replace an existing reservation with a complete new representation.

        All fields must be provided. For partial updates, use PATCH instead.


        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts

        '
      operationId: replaceReservation
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reservation'
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Reservations
      summary: Update reservation (partial update)
      description: 'Partially update a reservation. Only provided fields will be updated.

        This is the recommended method for most updates.


        **Optimistic Locking:** Use `If-Match` header with ETag to prevent conflicts


        **Common use cases:**

        - Update special requests

        - Change guest count

        - Modify arrival time

        - Add notes

        '
      operationId: updateReservation
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial reservation update (only include fields to change)
            example:
              specialRequests: Late check-in at 10 PM
              guestCount:
                adults: 2
                children: 1
      responses:
        '200':
          description: Successfully updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/quote:
    post:
      tags:
      - Reservations
      summary: Get pricing quote
      description: Calculate pricing for a potential reservation without creating it
      operationId: getReservationQuote
      security:
      - OAuth2:
        - read:reservations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - propertyId
              - unitTypeId
              - checkInDate
              - checkOutDate
              - guestCount
              properties:
                propertyId:
                  type: string
                  format: uuid
                unitTypeId:
                  type: string
                  format: uuid
                checkInDate:
                  type: string
                  format: date
                checkOutDate:
                  type: string
                  format: date
                guestCount:
                  type: object
                  properties:
                    adults:
                      type: integer
                      minimum: 1
                    children:
                      type: integer
                      minimum: 0
                rateStrategyId:
                  type: string
                  format: uuid
                promoCode:
                  type: string
      responses:
        '200':
          description: Quote generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  quoteId:
                    type: string
                    format: uuid
                  totalAmount:
                    $ref: '#/components/schemas/Money'
                  breakdown:
                    type: array
                    items:
                      type: object
                  cancellationPolicy:
                    $ref: '#/components/schemas/CancellationPolicy'
                  validUntil:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}/cancel:
    post:
      tags:
      - Reservations
      summary: Cancel reservation
      description: Cancel an existing reservation
      operationId: cancelReservation
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  enum:
                  - GUEST_REQUEST
                  - NO_SHOW
                  - PROPERTY_ISSUE
                  - OTHER
                notes:
                  type: string
      responses:
        '200':
          description: Reservation cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}/confirm:
    post:
      tags:
      - Reservations
      summary: Confirm reservation
      description: Confirm a pending reservation
      operationId: confirmReservation
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Reservation confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}/no-show:
    post:
      tags:
      - Reservations
      summary: Mark reservation as no-show
      description: Mark a reservation as no-show when guest doesn't arrive
      operationId: markReservationNoShow
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Marked as no-show
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}/history:
    get:
      tags:
      - Reservations
      summary: Get reservation modification history
      description: Retrieve complete history of changes to a reservation
      operationId: getReservationHistory
      security:
      - OAuth2:
        - read:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    action:
                      type: string
                    changedBy:
                      type: string
                    changes:
                      type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/{reservationId}/special-requests:
    post:
      tags:
      - Reservations
      summary: Add special request to reservation
      description: Add a special request or note to an existing reservation
      operationId: addSpecialRequest
      security:
      - OAuth2:
        - write:reservations
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - request
              properties:
                request:
                  type: string
                category:
                  type: string
                  enum:
                  - ROOM_PREFERENCE
                  - DIETARY
                  - ACCESSIBILITY
                  - CELEBRATION
                  - OTHER
      responses:
        '201':
          description: Special request added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reservations/search:
    get:
      tags:
      - Reservations
      summary: Advanced reservation search
      description: Search reservations with advanced filters
      operationId: searchReservations
      security:
      - OAuth2:
        - read:reservations
      parameters:
      - name: propertyId
        in: query
        schema:
          type: string
          format: uuid
      - name: guestName
        in: query
        schema:
          type: string
      - name: confirmationNumber
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - CONFIRMED
          - CHECKED_IN
          - CHECKED_OUT
          - CANCELLED
          - NO_SHOW
      - name: checkInDate
        in: query
        schema:
          type: string
          format: date
      - name: checkOutDate
        in: query
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Reservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}:
    get:
      tags:
      - Guests
      summary: Get guest profile
      description: Retrieve complete guest profile including personal information, contact details, preferences, and loyalty
        status
      operationId: getGuest
      security:
      - OAuth2:
        - read:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestProfile'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Guests
      summary: Replace guest profile (full update)
      description: 'Replace an existing guest profile with a complete new representation.

        All fields must be provided. For partial updates, use PATCH instead.


        **Optimistic Locking:** Use `If-Match` header with ETag

        '
      operationId: replaceGuest
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestProfile'
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Guests
      summary: Update guest profile (partial update)
      description: 'Partially update a guest profile. Only provided fields will be updated.

        This is the recommended method for most updates.


        **Optimistic Locking:** Use `If-Match` header with ETag


        **Common use cases:**

        - Update email or phone

        - Change address

        - Update preferences

        - Modify loyalty tier

        '
      operationId: updateGuest
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial guest profile update (only include fields to change)
            example:
              email: newemail@example.com
              phone: '+1234567890'
      responses:
        '200':
          description: Successfully updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Guests
      summary: Delete guest profile (GDPR)
      description: Delete guest profile per GDPR right to be forgotten
      operationId: deleteGuest
      security:
        - OAuth2:
            - admin:all
      parameters:
        - name: guestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Guest deleted
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}/preferences:
    put:
      tags:
      - Guests
      summary: Replace guest preferences (full update)
      description: Replace all guest preferences with new settings including room preferences, dietary restrictions, and communication
        preferences
      operationId: replaceGuestPreferences
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Guests
      summary: Update guest preferences (partial update)
      description: 'Update specific guest preferences. Only provided preferences will be updated.


        **Example:** Update room type preference only

        '
      operationId: updateGuestPreferences
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              roomType: KING
              floorPreference: HIGH
      responses:
        '200':
          description: Successfully updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests:
    get:
      tags:
      - Guests
      summary: List guest profiles
      description: Retrieve list of guest profiles
      operationId: listGuests
      security:
      - OAuth2:
        - read:guests
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageCursor'
      - name: search
        in: query
        description: Search by name or email
        schema:
          type: string
      - name: loyaltyTier
        in: query
        schema:
          type: string
          enum:
          - NONE
          - SILVER
          - GOLD
          - PLATINUM
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuestProfile'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Guests
      summary: Create guest profile
      description: Create a new guest profile
      operationId: createGuest
      security:
      - OAuth2:
        - write:guests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestProfile'
      responses:
        '201':
          description: Guest profile created
          headers:
            Location:
              schema:
                type: string
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}/loyalty:
    get:
      tags:
      - Guests
      summary: Get guest loyalty status
      description: Retrieve loyalty program status and points
      operationId: getGuestLoyalty
      security:
      - OAuth2:
        - read:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    type: string
                    enum:
                    - NONE
                    - SILVER
                    - GOLD
                    - PLATINUM
                  points:
                    type: integer
                  lifetimePoints:
                    type: integer
                  nextTierPoints:
                    type: integer
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}/loyalty/points:
    post:
      tags:
      - Guests
      summary: Add loyalty points
      description: Add loyalty points to guest account
      operationId: addLoyaltyPoints
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - points
              - reason
              properties:
                points:
                  type: integer
                  minimum: 1
                reason:
                  type: string
                referenceId:
                  type: string
      responses:
        '200':
          description: Points added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  newBalance:
                    type: integer
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}/stays:
    get:
      tags:
      - Guests
      summary: Get guest stay history
      description: Retrieve complete stay history for a guest
      operationId: getGuestStays
      security:
      - OAuth2:
        - read:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/search:
    post:
      tags:
      - Guests
      summary: Search guests
      description: Advanced guest search with multiple criteria
      operationId: searchGuests
      security:
      - OAuth2:
        - read:guests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                loyaltyTier:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuestProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/merge:
    post:
      tags:
      - Guests
      summary: Merge duplicate guest profiles
      description: Merge two guest profiles into one
      operationId: mergeGuests
      security:
      - OAuth2:
        - write:guests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - primaryGuestId
              - secondaryGuestId
              properties:
                primaryGuestId:
                  type: string
                  format: uuid
                secondaryGuestId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Profiles merged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /guests/{guestId}/verify:
    post:
      tags:
      - Guests
      summary: Verify guest identity
      description: Verify guest identity for security purposes
      operationId: verifyGuest
      security:
      - OAuth2:
        - write:guests
      parameters:
      - name: guestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                verificationType:
                  type: string
                  enum:
                  - ID_DOCUMENT
                  - EMAIL
                  - PHONE
                  - BIOMETRIC
                verificationData:
                  type: object
      responses:
        '200':
          description: Verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  verifiedAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays:
    get:
      tags:
        - Stays
      summary: List active stays
      description: Retrieve all active guest stays
      operationId: listStays
      security:
        - OAuth2:
            - read:stays
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: propertyId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum:
              - CHECKED_IN
              - IN_HOUSE
              - CHECKED_OUT
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Stay'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Stays
      summary: Create stay (check-in)
      description: Create a new stay when guest checks in
      operationId: createStay
      security:
        - OAuth2:
            - write:stays
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stay'
      responses:
        '201':
          description: Stay created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}:
    get:
      tags:
        - Stays
      summary: Get stay details
      description: Retrieve details of a specific stay
      operationId: getStay
      security:
        - OAuth2:
            - read:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Stays
      summary: Replace stay (full update)
      description: Replace stay with complete new details
      operationId: replaceStay
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stay'
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Stays
      summary: Update stay (partial update)
      description: Update specific fields of a stay
      operationId: updateStay
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successfully updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}/checkout:
    post:
      tags:
        - Stays
      summary: Check-out guest
      description: Process guest checkout
      operationId: checkoutStay
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                checkoutTime:
                  type: string
                  format: date-time
                notes:
                  type: string
      responses:
        '200':
          description: Checkout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}/extend:
    post:
      tags:
        - Stays
      summary: Extend stay
      description: Extend guest stay to a new checkout date
      operationId: extendStay
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newCheckOutDate
              properties:
                newCheckOutDate:
                  type: string
                  format: date
      responses:
        '200':
          description: Stay extended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stay'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}/charges:
    post:
      tags:
        - Stays
      summary: Add incidental charge
      description: Add an incidental charge to the stay
      operationId: addStayCharge
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItem'
      responses:
        '201':
          description: Charge added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}/key-cards:
    post:
      tags:
        - Stays
      summary: Issue key card
      description: Issue a new key card for the stay
      operationId: issueKeyCard
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCard'
      responses:
        '201':
          description: Key card issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyCard'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /stays/{stayId}/key-cards/{cardId}:
    delete:
      tags:
        - Stays
      summary: Deactivate key card
      description: Deactivate a key card
      operationId: deactivateKeyCard
      security:
        - OAuth2:
            - write:stays
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback:
    get:
      tags:
        - Feedback
      summary: List guest feedback
      description: Retrieve all guest feedback
      operationId: listFeedback
      security:
        - OAuth2:
            - read:guests
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: propertyId
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum:
              - COMPLAINT
              - COMPLIMENT
              - SUGGESTION
              - GENERAL
        - name: status
          in: query
          schema:
            type: string
            enum:
              - SUBMITTED
              - ACKNOWLEDGED
              - IN_PROGRESS
              - RESOLVED
              - CLOSED
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feedback'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Feedback
      summary: Submit feedback
      description: Submit guest feedback
      operationId: submitFeedback
      security:
        - OAuth2:
            - write:guests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feedback'
      responses:
        '201':
          description: Feedback submitted
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/{feedbackId}:
    get:
      tags:
        - Feedback
      summary: Get feedback details
      description: Retrieve details of specific feedback
      operationId: getFeedback
      security:
        - OAuth2:
            - read:guests
      parameters:
        - name: feedbackId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/{feedbackId}/respond:
    post:
      tags:
        - Feedback
      summary: Respond to feedback
      description: Add a response to guest feedback
      operationId: respondToFeedback
      security:
        - OAuth2:
            - write:guests
      parameters:
        - name: feedbackId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Response added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/{feedbackId}/service-recovery:
    post:
      tags:
        - Feedback
      summary: Initiate service recovery
      description: Initiate service recovery actions for feedback
      operationId: initiateServiceRecovery
      security:
        - OAuth2:
            - write:guests
      parameters:
        - name: feedbackId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: string
                compensation:
                  $ref: '#/components/schemas/Money'
                notes:
                  type: string
      responses:
        '200':
          description: Service recovery initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/surveys/{stayId}:
    get:
      tags:
        - Feedback
      summary: Get post-stay survey
      description: Retrieve post-stay survey for a stay
      operationId: getPostStaySurvey
      security:
        - OAuth2:
            - read:guests
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Feedback
      summary: Submit survey response
      description: Submit post-stay survey response
      operationId: submitSurveyResponse
      security:
        - OAuth2:
            - write:guests
      parameters:
        - name: stayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Survey'
      responses:
        '201':
          description: Survey submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/reviews:
    get:
      tags:
        - Feedback
      summary: List third-party reviews
      description: Retrieve third-party reviews from OTAs and review sites
      operationId: listReviews
      security:
        - OAuth2:
            - read:guests
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: source
          in: query
          schema:
            type: string
            enum:
              - GOOGLE
              - TRIPADVISOR
              - BOOKING_COM
              - EXPEDIA
              - AIRBNB
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/reviews/{reviewId}/respond:
    post:
      tags:
        - Feedback
      summary: Respond to review
      description: Add a response to a third-party review
      operationId: respondToReview
      security:
        - OAuth2:
            - write:guests
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Response added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /feedback/nps:
    get:
      tags:
        - Feedback
      summary: Get NPS metrics
      description: Get Net Promoter Score metrics and trends
      operationId: getNPSMetrics
      security:
        - OAuth2:
            - read:guests
      parameters:
        - name: propertyId
          in: query
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  npsScore:
                    type: number
                    format: float
                  promoters:
                    type: integer
                  passives:
                    type: integer
                  detractors:
                    type: integer
                  totalResponses:
                    type: integer
                  trend:
                    type: array
                    items:
                      type: object
        '500':
          $ref: '#/components/responses/InternalServerError'
  /housekeeping/tasks/{taskId}:
    put:
      tags:
      - Operations
      summary: Replace housekeeping task (full update)
      description: Replace housekeeping task with complete new task details including assignment, priority, and status
      operationId: replaceHousekeepingTask
      security:
      - OAuth2:
        - write:operations
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successfully replaced
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Operations
      summary: Update housekeeping task (partial update)
      description: 'Update specific fields of a housekeeping task.


        **Common use cases:**

        - Change task status

        - Update priority

        - Assign to different staff

        - Add notes

        '
[...]
